@model WSafe.Web.Models.VulnerabilityVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>VulnerabilityVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryAmenaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryAmenaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amenaza)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amenaza)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EvaluationConcept)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EvaluationConcept)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Response)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Response)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
