@model WSafe.Domain.Models.VulnerabilitiesPdfVM

@{
    ViewBag.Title = "Sistema de Gestión de Seguridad y Salud en el Trabajo";
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
}

<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<style>
    /* Container styling for rombo shape */
    .romb {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 5px;
        transform: rotate(45deg); /* Rotate to make diamond shape */
        position: relative;
        background-color: transparent;
    }

        /* Small squares inside romb */
        .romb .square {
            width: 50%;
            height: 50%;
            position: absolute;
            border: 1px solid black; /* Border for each square */
        }

            /* Positioning small squares in each corner */
            .romb .square.tl {
                top: 0;
                left: 0;
            }

            .romb .square.tr {
                top: 0;
                right: 0;
            }

            .romb .square.bl {
                bottom: 0;
                left: 0;
            }

            .romb .square.br {
                bottom: 0;
                right: 0;
            }

    /* Color classes */
    .red {
        background-color: red;
    }

    .yellow {
        background-color: yellow;
    }

    .green {
        background-color: green;
    }
</style>

@Html.Partial("_CabezoteFormat")


<div class="showCalification">
    <h3>CLASIFICACIÓN AMENAZAS:</h3>
    <div class="container">
        <p style="page-break-inside: avoid;">@Html.Raw(Model.Calification)</p>
        <div class="table-responsive showConsolidate" tabindex="0" style="background-color: azure; width:100%;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="background-color:gainsboro; text-align:center">
                        <th>CALIFICACIÓN DEL EVENTO</th>
                        <th>COMPORTAMIENTO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="background-color:green;">POSIBLE</td>
                        <td>
                            <p>
                                Es aquel fenómeno que puede suceder o que es factible porque no existen razones históricas y científicas para decir que esto no sucederá. Se le asigna el color VERDE.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:yellow;">PROBABLE</td>
                        <td>
                            <p>
                                Es aquel fenómeno esperado del cual existen razones y argumentos técnicos y científicos para creer que sucederá. Se le asigna el color AMARILLO.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color:red;">INMINENTE</td>
                        <td>
                            <p>
                                Es aquel fenómeno esperado que tiene alta probabilidad de ocurrir. Se le asigna el color ROJO.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="showVulnerabilitiesDetail-1" style="page-break-inside: avoid;">
    <h3>VULNERABILIDAD EN LAS PERSONAS:</h3>
    <p>@Html.Raw(Model.Vulnera1)</p>
</div>

<div class="showVulnerabilitiesDetail-2">
    <h3>VULNERABILIDAD EN LOS RECURSOS:</h3>
    <p style="page-break-inside: avoid;">@Html.Raw(Model.Vulnera2)</p>
</div>

<div class="showVulnerabilitiesDetail-3">
    <h3>VULNERABILIDAD EN LOS SISTEMAS Y PROCESOS:</h3>
    <div class="container">
        <p style="page-break-inside: avoid;">@Html.Raw(Model.Vulnera3)</p>
        <div class="table-responsive showConsolidate" tabindex="0" style="background-color: azure; width: 100%; page-break-inside: avoid;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="background-color:gainsboro;">
                        <th>RANGO</th>
                        <th>INTERPRETACIÓN DE LA VULNERABILIDAD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0.0 A 1.00</td>
                        <td style="background-color:red;">ALTA</td>
                    </tr>
                    <tr>
                        <td>1.01 A 2.00</td>
                        <td style="background-color:yellow;">MEDIA</td>
                    </tr>
                    <tr>
                        <td>2.01 A 3.00</td>
                        <td style="background-color:green;">BAJA</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="showRiskLevel">
    <h3>NIVEL DE RIESGO:</h3>
    <div class="container">
        <p style="page-break-inside: avoid;">@Html.Raw(Model.RiskLevel)</p>
        <div class="table-responsive showConsolidate" tabindex="0" style="background-color: azure; width: 100%; page-break-inside: avoid;">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr style="background-color:gainsboro;">
                        <th>SUMATORIA DE ROMBOS</th>
                        <th>CALIFICACIÓN</th>
                        <th>INTERPRETACIÓN</th>
                        <th>EJEMPLO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3 o 4 rombos en rojo</td>
                        <td style="background-color:red;">ALTO</td>
                        <td>Implica que la amenaza y el grado de vulnerabilidad están en su punto máximo.</td>
                        <td class="example-cell">
                            <div class="romb">
                                <div class="square tl red"></div>
                                <div class="square tr red"></div>
                                <div class="square bl green"></div>
                                <div class="square br red"></div>
                            </div>
                            <div class="romb">
                                <div class="square tl red"></div>
                                <div class="square tr yellow"></div>
                                <div class="square bl red"></div>
                                <div class="square br red"></div>
                            </div>
                            <div class="romb">
                                <div class="square tl red"></div>
                                <div class="square tr red"></div>
                                <div class="square bl red"></div>
                                <div class="square br yellow"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1 o 2 rombos rojos, 3 o 4 rombos amarillos</td>
                        <td style="background-color:yellow;">MEDIO</td>
                        <td>Se deben considerar las medidas preventivas aplicables frente la amenaza.</td>
                        <td class="example-cell">
                            <div class="romb">
                                <div class="square tl red"></div>
                                <div class="square tr yellow"></div>
                                <div class="square bl yellow"></div>
                                <div class="square br green"></div>
                            </div>
                            <div class="romb">
                                <div class="square tl yellow"></div>
                                <div class="square tr yellow"></div>
                                <div class="square bl red"></div>
                                <div class="square br yellow"></div>
                            </div>
                            <div class="romb">
                                <div class="square tl yellow"></div>
                                <div class="square tr green"></div> <!-- At least one green -->
                                <div class="square bl yellow"></div>
                                <div class="square br yellow"></div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>0 rombos rojos, 1 o 2 rombos amarillos</td>
                        <td style="background-color:green;">BAJO</td>
                        <td>El riesgo es BAJO, las acciones preventivas deben mantenerse.</td>
                        <td class="example-cell">
                            <div class="romb">
                                <div class="square tl yellow"></div>
                                <div class="square tr yellow"></div>
                                <div class="square bl green"></div>
                                <div class="square br green"></div>
                            </div>
                            <div class="romb">
                                <div class="square tl green"></div>
                                <div class="square tr green"></div>
                                <div class="square bl yellow"></div>
                                <div class="square br green"></div>
                            </div>
                            <div class="romb">
                                <div class="square tl yellow"></div>
                                <div class="square tr green"></div>
                                <div class="square bl green"></div>
                                <div class="square br green"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WSafeApp</p>
    </footer>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
}
