@model WSafe.Domain.Models.VulnerabilitiesPdfVM

@{
    ViewBag.Title = "Sistema de Gestión de Seguridad y Salud en el Trabajo";
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
}

<link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

@Html.Partial("_CabezoteFormat")


<div class="showCalification">
    <h3>CLASIFICACIÓN AMENAZAS:</h3>
    <p style="page-break-inside: avoid;">@Html.Raw(Model.Calification)</p>
</div>

<div class="showVulnerabilitiesDetail-1">
    <h3>VULNERABILIDAD EN LAS PERSONAS:</h3>
    <p style="page-break-inside: avoid;">@Html.Raw(Model.Vulnera1)</p>
</div>

<div class="showVulnerabilitiesDetail-2">
    <h3>VULNERABILIDAD EN LOS RECURSOS:</h3>
    <p style="page-break-inside: avoid;">@Html.Raw(Model.Vulnera2)</p>
</div>

<div class="showVulnerabilitiesDetail-3">
    <h3>VULNERABILIDAD EN LOS SISTEMAS Y PROCESOS:</h3>
    <p style="page-break-inside: avoid;">@Html.Raw(Model.Vulnera3)</p>
</div>

<div class="showRiskLevel">
    <h3>NIVEL DE RIESGO:</h3>
    <p style="page-break-inside: avoid;">@Html.Raw(Model.RiskLevel)</p>
</div>

<div class="container">
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WSafeApp</p>
    </footer>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
}
