@model IEnumerable<WSafe.Domain.Models.VulnerabilityVM>

<style>

    .CommonActivitys, .ClassDangers, .EfectosPosibles {
        display: none;
    }

    .centerText {
        text-align: center;
        margin-bottom: 20px;
    }

    .risk-level {
        display: flex;
        justify-content: space-between;
        margin-right: 1%;
        text-align: center;
    }

        .risk-level div {
            flex-grow: 1;
            padding: 10px;
            color: black;
            font-weight: bold;
            border-radius: 5px;
        }

        .risk-level .imminent-risk {
            background-color: red;
        }

        .risk-level .probable-risk {
            background-color: yellow;
        }

        .risk-level .possible-risk {
            background-color: green;
        }

    .btn-custom {
        margin-bottom: 10px;
    }
</style>

@Html.Partial("_PageHead")

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <div class="d-flex flex-column flex-md-row">
                @Html.ActionLink("Nueva amenaza", "Create", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus btn-custom" })
                @Html.ActionLink("Personas", "IndexById", new { id = 1 },
                    new
                    {
                        @class = "btn btn-info btn-lg active glyphicon glyphicon-plus btn-custom",
                        @title = "Vulnerabilidad personas",
                        @id = "idPersonas"
                    })
                @Html.ActionLink("Recursos", "IndexById", new { id = 2 },
                    new {
                        @class = "btn btn-info btn-lg active glyphicon glyphicon-plus btn-custom", 
                        @title = "Vulnerabilidad recursos",
                        @id = "idRecursos"
                    })
                @Html.ActionLink("Sistemas", "IndexById", new { id = 3 }, 
                    new {
                        @class = "btn btn-info btn-lg active glyphicon glyphicon-plus btn-custom", 
                        @title = "Vulnerabilidad sistemas y procesos",
                        @id = "idSistemas"
                    })
                @Html.ActionLink("Generar matriz de vulnerabilidades", "PrintVulnerabilitiesToPdf", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus btn-custom" })
            </div>
        </div>
        <div class="col-md-4">
            <div class="text-right">
                <div class="risk-level">
                    <div class="imminent-risk">RIESGO INMINENTE</div>
                    <div class="probable-risk">RIESGO PROBABLE</div>
                    <div class="possible-risk">RIESGO POSIBLE</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table" style="padding-left:2px; scroll-padding-right:2px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                CLASE
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenaza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationConcept)
            </th>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                Rta
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryAmenaza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amenaza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationConcept)
                </td>
                <td style="width:20%;">
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Response)
                </td>
                <td style="background-color:deepskyblue; text-align:left;">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit", @title = "Actualizar" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    <a href="#" onclick="DeleteVulnerability('@item.ID')" class="fas fa-trash" title="Descartar"></a>
                </td>

            </tr>
        }

    </table>

</div>
<div class="showConsolidate"></div>

@section Scripts {
    <script>

        $("#idPersonas").click(function () {
            showConsolidateVulnerabilities(1)
        });
        $("#idRecursos").click(function () {
            showConsolidateVulnerabilities(2)
        });
        $("#idSistemas").click(function () {
            showConsolidateVulnerabilities(3)
        });

    </script>
}
