@model IEnumerable<WSafe.Domain.Models.VulnerabilityVM>

<style>

    .CommonActivitys, .ClassDangers, .EfectosPosibles {
        display: none
    }

    .centerText {
        text-align: center
    }

</style>

<h4 class="centerText">GESTIÓN DE VULNERABILIDADES: @Session["organization"].ToString().Trim()</h4>
@Html.Partial("_PageHead")
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            @Html.ActionLink("Nueva amenaza", "Create", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus" })
            @Html.ActionLink("Generar matriz de vulnerabilidades", "PrintVulnerabilitiesToPdf", null, new { @class = "btn btn-info btn-lg glyphicon glyphicon-download-alt" })
        </div>
        <div class="col-md-4">
            <div class="text-right">
                <div class="btn-group" style="display:block; margin-right:1%; width:50%; text-align:center;">
                    <div style="background-color: red;color:black;">RIESGO INMINENTE</div>
                    <div style="background-color: yellow; color: black;">RIESGO PROBABLE</div>
                    <div style="background-color: green; color: black;">RIESGO POSIBLE</div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table" style="padding-left:2px; scroll-padding-right:2px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                CLASE
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amenaza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EvaluationConcept)
            </th>
            <th style="width:20%;">
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                Rta
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryAmenaza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amenaza)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EvaluationConcept)
                </td>
                <td style="width:20%;">
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Response)
                </td>
                <td style="background-color:deepskyblue; text-align:left;">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit", @title = "Actualizar" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    <a href="#" onclick="DeleteVulnerability('@item.ID')" class="fas fa-trash" title="Descartar"></a>
                </td>

            </tr>
        }

    </table>

</div>
