@model WSafe.Domain.Data.Entities.Organization

@{
    var title = "INFORMACIÓN BÁSICA DE LA EMPRESA";

    var sdEvaluation = Model.StandardEvaluation;
    var sdMatrixRisk = Model.StandardMatrixRisk;
    var sdActions = Model.StandardActions;
    var sdIncidents = Model.StandardIncidents;
    var sdSociodemographic = Model.StandardSocioDemographic;
    var sdUnsafeacts = Model.StandardUnsafeacts;
    var sdRecomendations = Model.StandardRecomendations;
    var sdAudits = Model.StandardAudits;
    var sdAnnualPlan = Model.StandardAnnualPlan;
    var controlDate = Model.ControlDate;
    var createOrg = ViewBag.create;
}

<style>
    .tabBasics, .tabGesCargos, .tabAddCargos, .tabGesZones, .tabAddZones, .tabGesProcess, .tabAddProcess,
    .tabGesActivitys, .tabAddActivitys, .tabGesTasks, .tabAddTasks {
        display: none;
    }

    .centerText {
        text-align: center;
    }
</style>

<h4 class="centerText">@title: @Session["organization"].ToString().Trim()</h4>
<hr class="mt-4">

<input type="hidden" id="sdEvaluation" name="StandardEvaluation" value="@sdEvaluation" />
<input type="hidden" id="sdMatrixRisk" name="sdMatrixRisk" value="@sdMatrixRisk" />
<input type="hidden" id="sdActions" name="sdActions" value="@sdActions" />
<input type="hidden" id="sdIncidents" name="sdIncidents" value="@sdIncidents" />
<input type="hidden" id="sdSociodemographic" name="sdSociodemographic" value="@sdSociodemographic" />
<input type="hidden" id="sdUnsafeacts" name="sdUnsafeacts" value="@sdUnsafeacts" />
<input type="hidden" id="sdRecomendations" name="sdRecomendations" value="@sdRecomendations" />
<input type="hidden" id="sdAudits" name="sdAudits" value="@sdAudits" />
<input type="hidden" id="sdAnnualPlan" name="sdAnnualPlan" value="@sdAnnualPlan" />
<input type="hidden" id="controlDate" name="controlDate" value="@controlDate" />

@{
    if (createOrg)
    {
        <div class="container" style="margin-left:6%">
            @Html.ActionLink("Nueva Organización", "Create", new { @class = "glyphicon glyphicon-plus" },
            new { @class = "btn btn-info btn-lg active" })
        </div>
        <br />
    }
}

<div class="container-fluid">
    <button type="button" class="btn btn-info" id="basics" title="doble click para cerrar la ventana">BÁSICOS</button>
    <button type="button" class="btn btn-info" id="cargos" title="doble click para cerrar la ventana">CARGOS</button>
    <button type="button" class="btn btn-info" id="zones" title="doble click para cerrar la ventana">ZONAS</button>
    <button type="button" class="btn btn-info" id="process" title="doble click para cerrar la ventana">PROCESOS</button>
    <button type="button" class="btn btn-info" id="activitys" title="doble click para cerrar la ventana">ACTIVIDADES</button>
    <button type="button" class="btn btn-info" id="tasks" title="doble click para cerrar la ventana">TAREAS</button>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="tabBasics">
            <hr />
            @Html.Partial("_EditarInfoBasic")
            <div class="pull-left" style="margin-left:6%">
                <div class="btn-group">
                    <button type="button" class="btn btn-info" onclick="UpdateOrganization(@ViewBag.id)">Guardar</button>
                </div>
            </div>
        </div>

        <div class="tabGesCargos">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addCargo">Adicionar un nuevo cargo</button>
            </div>
            @Html.Partial("_ShowCargos")
        </div>

        <div class="tabAddCargos">
            <hr />
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Código del cargo: </label>
                            <input type="text" id="txtCodigo" name="txtCodigo" placeholder="Ingrese código del cargo"
                                   class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Nombre del cargo : </label>
                            <input type="text" id="txtDescrip" name="txtDescrip" placeholder="Ingrese nombre del cargo"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <hr />
                    <button type="button" id="btnAddCargo" class="btn btn-primary" onclick="AddNewCargo()">Adicionar</button>
                    <button type="button" id="btnCanCargo" class="btn btn-primary" onclick="CancelCargo()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="tabGesZones">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addZone">Adicionar nueva zona</button>
            </div>
            @Html.Partial("_ShowZones")
        </div>

        <div class="tabAddZones">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label>Nombre de la zona : </label>
                            <input type="text" id="txtZone" name="txtZone" placeholder="Ingrese nombre de la zona"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <hr />
                    <button type="button" id="btnAddZone" class="btn btn-primary" onclick="AddZone()">Adicionar</button>
                    <button type="button" id="btnCanZone" class="btn btn-primary" onclick="CancelZone()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="tabGesProcess">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addProcess">Adicionar un nuevo proceso</button>
            </div>
            @Html.Partial("_ShowProcess")
        </div>

        <div class="tabAddProcess">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group" style="font-size:18px;width:auto">
                        <div class="col-md-8">
                            <label>Nombre del proceso : </label>
                            <input type="text" id="txtProcess" name="txtProcess" placeholder="Ingrese nombre del proceso"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <hr />
                    <button type="button" id="btnAddProcess" class="btn btn-primary" onclick="AddProcess()">Adicionar</button>
                    <button type="button" id="btnCanProcess" class="btn btn-primary" onclick="CancelProcess()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="tabGesActivitys">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addActivity">Adicionar una nueva actividad</button>
            </div>
            @Html.Partial("_ShowActivitys")
        </div>

        <div class="tabAddActivitys">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group" style="font-size:18px;width:auto">
                        <div class="col-md-8">
                            <label>Nombre de la actividad : </label>
                            <input type="text" id="txtActivity" name="txtActivity" placeholder="Ingrese nombre de la actividad"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <hr />
                    <button type="button" id="btnAddActivity" class="btn btn-primary" onclick="AddActivity()">Adicionar</button>
                    <button type="button" id="btnCanActivity" class="btn btn-primary" onclick="CancelActivity()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="tabGesTasks">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addTask">Adicionar una nueva tarea</button>
            </div>
            @Html.Partial("_ShowTasks")
        </div>

        <div class="tabAddTasks">
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group" style="font-size:18px;width:auto">
                        <div class="col-md-8">
                            <label>Nombre de la tarea : </label>
                            <input type="text" id="txtDescripcion" name="txtDescripcion" placeholder="Ingrese nombre de la tarea"
                                   class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-8">
                    <hr />
                    <button type="button" id="btnAddTask" class="btn btn-primary" onclick="AddTask()">Adicionar</button>
                    <button type="button" id="btnCanTask" class="btn btn-primary" onclick="CancelTask()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

    </div>
}

@section Scripts
{
    <script type="text/javascript">

        GestorOrganization();
        function CancelCargo() {
            $(".tabAddCargos").css("display", "none");
            $("#txtCodigo").val("");
            $("#txtDescrip").val("");
        }
        function CancelZone() {
            $(".tabAddZones").css("display", "none");
            $("#txtDescrip").val("");
        }
        function CancelProcess() {
            $(".tabAddProcess").css("display", "none");
            $("#txtDescrip").val("");
        }
        function CancelActivity() {
            $(".tabAddActivitys").css("display", "none");
            $("#txtDescrip").val("");
        }
        function CancelTask() {
            $(".tabAddTasks").css("display", "none");
            $("#txtDescripcion").val("");
        }

        $(document).ready(function () {
            ClearTextBox();
            $("#txtCodigo").focus();
        });

    </script>
}