@model IEnumerable<WSafe.Domain.Data.Entities.Aplicacion>

@{
    ViewBag.Title = "Index";
}


<h2>INTERVENCIÓN DE RIESGOS</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { @class = "glyphicon glyphicon-plus" },
    new { @class = "btn btn-info btn-lg active" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RiesgoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaAplicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Finalidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Intervencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beneficios)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presupuesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RiesgoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaAplicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Finalidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intervencion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beneficios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presupuesto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
            <td style="font-size:12px">
                @Html.ActionLink(" ", "GetControles", new { id = item.ID }, new { @class = "glyphicon glyphicon-search" }) |
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
