@model WSafe.Web.Models.IncidenteViewModel
<hr />
<div class="container" style="background-color:mediumaquamarine; padding:20px">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" id="detal">
                @Html.LabelFor(model => model.EvitarIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.EvitarIncidente, new { @class = "form-control", @id = "txtEvitar", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.EvitarIncidente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.AccionesInmediatas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.AccionesInmediatas, new { @class = "form-control", @id = "txtAcciones", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.AccionesInmediatas, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.ComentariosAdicionales, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.ComentariosAdicionales, new { @class = "form-control", @id = "txtComentarios", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.ComentariosAdicionales, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.AtencionBrindada, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.AtencionBrindada, new { @class = "form-control", @id = "txtAtencion", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.AtencionBrindada, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>