@{
    var logo = @Session["logo"].ToString();
}

<div class="container" style="background-color: lightgray">
    <div class="row justify-content-between">
        <div class="col-md-2">
            <img src="@Server.MapPath(@logo)" style="width:100px; height:100px" alt="Logo">
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col">
                    <p class="mb-0">
                        <strong><b>@Session["organization"].ToString()</b></strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">
                        <strong><b>@ViewBag.titulo AÑO: @Session["year"].ToString()</b></strong>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">
                        ESTANDAR: <strong>@ViewBag.estandar</strong>
                        FECHA REPORTE: <strong>@ViewBag.fecha</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>