<div class="container"style="background-color: lightgray">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/LogoEntidad.png" class="img-responsive" alt="Cinque Terre" width="80" height="80"><img />
        </div>
        <div class="col-md-10">
            <div style="display:block">
                <div style="text-align:center">
                    <h4>@ViewBag.Title</h4>
                </div>
                <div style="text-align:center">
                    <p>
                        <strong><b>@Session["organization"].ToString()</b></strong>
                    </p>
                </div>
                <div style="text-align:center">
                    <p>
                        <strong><b>@ViewBag.titulo</b></strong>
                    </p>
                </div>
                <div style="text-align:center">
                    <p>
                        FORMATO N°:  <strong><b>@ViewBag.formato</b></strong>
                        ESTANDAR :  <strong><b>@ViewBag.estandar</b></strong>
                        FECHA : <strong><b>@ViewBag.fecha</b></strong>
                        VERSIÓN : <strong><b>@ViewBag.version</b></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>