@model WSafe.Web.Models.AccionViewModel

<style>

    .centerText {
        text-align: center;
    }

    .tabAddCause {
        display: none;
    }

</style>

<hr />
<div class="container" style="background-color: floralwhite">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Zonas, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.ZonaID, Model.Zonas, new { @class = "form-control", @id = "zona" })
                    @Html.ValidationMessageFor(model => model.ZonaID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Procesos, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.ProcesoID, Model.Procesos, new { @class = "form-control", @id = "proceso" })
                    @Html.ValidationMessageFor(model => model.ProcesoID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Actividades, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.ActividadID, Model.Actividades, new { @class = "form-control", @id = "activity" })
                    @Html.ValidationMessageFor(model => model.ActividadID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Tareas, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.TareaID, Model.Tareas, new { @class = "form-control", @id = "tarea" })
                    @Html.ValidationMessageFor(model => model.TareaID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaSolicitud, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    <input type="date" class="form-control" data-val-required="El campo Fecha solicitud es obligatotio" id="FechaSolicitud" name="FechaSolicitud"
                           value='@Model.FechaSolicitud'>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.EnumDropDownListFor(model => model.Categoria, htmlAttributes: new { @class = "form-control", @id = "categoriaAcc" })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.TrabajadorID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.TrabajadorID, Model.Trabajadores, new { @class = "form-control", @id = "idTrabajador" })
                    @Html.ValidationMessageFor(model => model.TrabajadorID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FuenteAccion, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.EnumDropDownListFor(model => model.FuenteAccion, htmlAttributes: new { @class = "form-control", @id = "idFuente" })
                    @Html.ValidationMessageFor(model => model.FuenteAccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="text-center"><strong>Análisis de causalidad de la no Conformidad</strong></h3>
        <hr />
        <div class="form-group row">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-3 col-sm-12" })
            <div class="col-md-9 col-sm-12">
                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control", @id = "idDescrip", rows = "2" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.MainCause1ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.MainCause1ID, Model.Causes, new { @class = "form-control", @id = "cause1" })
                        @Html.ValidationMessageFor(model => model.MainCause1ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.MainCause2ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.MainCause2ID, Model.Causes, new { @class = "form-control", @id = "cause2" })
                        @Html.ValidationMessageFor(model => model.MainCause2ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.MainCause3ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.MainCause3ID, Model.Causes, new { @class = "form-control", @id = "cause3" })
                        @Html.ValidationMessageFor(model => model.MainCause3ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.MainCause4ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.MainCause4ID, Model.Causes, new { @class = "form-control", @id = "cause4" })
                        @Html.ValidationMessageFor(model => model.MainCause4ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.MainCause5ID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.MainCause5ID, Model.Causes, new { @class = "form-control", @id = "cause5" })
                        @Html.ValidationMessageFor(model => model.MainCause5ID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <button type="button" class="btn btn-secondary" id="btnAdddCause">Adicionar Causa</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row tabAddCause">
        <div class="form-group">
            <label for="mainCause">Descripción de la causa:</label>
            <textarea class="form-control" id="mainCause" rows="3" required></textarea>
            <button type="button" class="btn btn-secondary" onclick="addMainCause();">Guardar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.EficaciaAntes, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4 col-sm-10">
                    @Html.EnumDropDownListFor(model => model.EficaciaAntes, htmlAttributes: new { @class = "form-control", @id = "idEficaciaAnt" })
                    @Html.ValidationMessageFor(model => model.EficaciaAntes, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.EficaciaDespues, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-4 col-sm-10">
                    @Html.EnumDropDownListFor(model => model.EficaciaDespues, htmlAttributes: new { @class = "form-control", @id = "idEficaciaDesp" })
                    @Html.ValidationMessageFor(model => model.EficaciaDespues, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaCierre, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6 col-sm-10">
                    <input type="date" class="form-control" data-val-required="El campo Fecha cierre es obligatotio" id="FechaCierre" name="FechaCierre"
                           value='@Model.FechaCierre' />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Efectiva, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-6 col-sm-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Efectiva, new { htmlAttributes = new { @class = "control-label col-md-2", @id = "idEfectiva" } })
                        @Html.ValidationMessageFor(model => model.Efectiva, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ActionCategory, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-8 col-sm-10">
                    @Html.EnumDropDownListFor(model => model.ActionCategory, htmlAttributes: new { @class = "form-control", @id = "txtActionCategory" })
                    @Html.ValidationMessageFor(model => model.ActionCategory, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p id="txtInfoAct" style="color:red; text-align:center; padding:1%; font-size:20px"></p>
        </div>
    </div>
</div>
