@model WSafe.Domain.Models.IncidenteViewModel

<div class="container" style="background-color:azure; padding:20px">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Zonas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.ZonaID, Model.Zonas, new { @class = "form-control", @id = "zona", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.ZonaID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Procesos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.ProcesoID, Model.Procesos, new { @class = "form-control", @id = "proceso" })
                    @Html.ValidationMessageFor(model => model.ProcesoID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Actividades, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.ActividadID, Model.Actividades, new { @class = "form-control", @id = "activity" })
                    @Html.ValidationMessageFor(model => model.ActividadID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Tareas, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8 col-sm-10">
                    @Html.DropDownListFor(model => model.TareaID, Model.Tareas, new { @class = "form-control", @id = "tarea" })
                    @Html.ValidationMessageFor(model => model.TareaID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaReporte, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="date" class="form-control" data-val-required="El campo Fecha reporte es obligatotio" id="FechaReporte" name="FechaReporte"
                           value='@ViewBag.fechaReporte'>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.CategoriasIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(model => model.CategoriasIncidente, htmlAttributes: new { @class = "form-control", @id = "txtCategoria" })
                    @Html.ValidationMessageFor(model => model.CategoriasIncidente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="date" class="form-control" data-val-required="El campo Fecha incidente es obligatotio" id="FechaIncidente" name="FechaIncidente"
                           value='@ViewBag.fechaIncidente'>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.IncapacidadMedica, htmlAttributes: new { @class = "control-label col-md-3"})
                <div class="col-md-3">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IncapacidadMedica, new { htmlAttributes = new { @class = "form-control", @id = "txtIncapacidad" } })
                        @Html.ValidationMessageFor(model => model.IncapacidadMedica, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.DiasIncapacidad, htmlAttributes: new { @class = "control-label col-md-3"})
                <div class="col-md-6">
                    @Html.EditorFor(model => model.DiasIncapacidad, new { htmlAttributes = new { @class = "form-control", @id = "txtDiasIncapacidad" } })
                    @Html.ValidationMessageFor(model => model.DiasIncapacidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(model => model.TrabajadorID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.DropDownListFor(model => model.TrabajadorID, Model.Trabajadores, new { @class = "form-control", @id = "txtInformante" })
                    @Html.ValidationMessageFor(model => model.TrabajadorID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
