@model WSafe.Domain.Models.UnsafeactVM

<div class="container" style="background-color:azure; padding:20px;">
    <hr />
    <h3 style="text-align:center">REPORTAR ACTO O CONDICIÓN INSEGURA</h3>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Zonas, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12 col-sm-10">
                    @Html.DropDownListFor(model => model.ZonaID, Model.Zonas, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ZonaID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Procesos, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12 col-sm-10">
                    @Html.DropDownListFor(model => model.ProcesoID, Model.Procesos, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProcesoID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Actividades, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12 col-sm-10">
                    @Html.DropDownListFor(model => model.ActividadID, Model.Actividades, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActividadID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Tareas, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-12 col-sm-10">
                    @Html.DropDownListFor(model => model.TareaID, Model.Tareas, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TareaID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ActCategory, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.EnumDropDownListFor(model => model.ActCategory, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ActCategory, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Antecedentes, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.TextAreaFor(model => model.Antecedentes, new { @class = "form-control", cols = "35", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Antecedentes, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.FechaAntecedente, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.EditorFor(model => model.FechaAntecedente, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.FechaAntecedente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.CategoriasPeligro, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.CategoriaPeligroID, Model.CategoriasPeligro, new { @class = "form-control", @id = "categoria", @onchange = "filterPeligros(this.value)" })
                    @Html.ValidationMessageFor(model => model.CategoriaPeligroID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.Peligros, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.PeligroID, Model.Peligros, new { @class = "form-control", @id = "peligro" })
                    @Html.ValidationMessageFor(model => model.PeligroID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ActDescription, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.EditorFor(model => model.ActDescription, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActDescription, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ProbableConsecuencia, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.TextAreaFor(model => model.ProbableConsecuencia, new { @class = "form-control", cols = "35", rows = "2" })
                    @Html.ValidationMessageFor(model => model.ProbableConsecuencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Recomendations, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.TextAreaFor(model => model.Recomendations, new { @class = "form-control", cols = "35", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Recomendations, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Workers, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.WorkerID, Model.Workers, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.WorkerID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Worker1ID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.Worker1ID, Model.Workers, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Worker1ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Worker2ID, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-10 col-sm-10">
                    @Html.DropDownListFor(model => model.Worker2ID, Model.Workers, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Worker2ID, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    @if (ViewBag.loadImage)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10 col-sm-10">
                        <input type="file" name="fileLoad" id="fileLoad" accept="image/*, video/*">
                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    }
    else
    {
        @Html.HiddenFor(model => model.FileName)
    }
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="container">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Listado", "Index", new { @class = "glyphicon glyphicon-plus" },
                    new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p style="color:red;font-size:18px;text-align:center"><strong>@ViewBag.message</strong></p>
            </div>
        </div>
    </div>
</div>
