@model WSafe.Web.Models.CreatePlanActivityVM

@{
    var categorias = ViewBag.Categorias;
}

<div class="container" style="background-color:floralwhite">
    <hr />
    <p>
        ACTIVIDAD: <strong><b>@Html.DisplayFor(model => model.Activity)</b></strong>
    </p>
    <hr />

    <div id="_EditarPlanAcc">
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-4 col-sm-6">
                        <label for="dateSigue">FECHA ACTIVIDAD:</label>
                        <input type="date" class="form-control" id="dateSigue" required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="col-md-12 col-sm-10">
                        <label for="Respons">FUNCIONARIO RESPONSABLE:</label>
                        @Html.DropDownListFor(model => model.TrabajadorID, Model.Workers, new { @class = "form-control", @id = "wokerID" })
                        @Html.ValidationMessageFor(model => model.TrabajadorID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.StateActivity, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EnumDropDownListFor(model => model.StateActivity, htmlAttributes: new { @class = "form-control", @id = "stateActivity" })
                        @Html.ValidationMessageFor(model => model.StateActivity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.StateCronogram, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EnumDropDownListFor(model => model.StateCronogram, htmlAttributes: new { @class = "form-control", @id = "stateCronogram" })
                        @Html.ValidationMessageFor(model => model.StateCronogram, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-10 col-sm-10">
                        <input type="file" name="fileLoad" id="fileLoad" accept="image/*, video/*">
                        @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</div>