@model WSafe.Domain.Data.Entities.Organization
@{
    var resolucionLicencia = Model.ResolucionLicencia;
}

<div class="container" style="background-color:azure">
    <hr />
    <h5 style="text-align:center"> <strong>REGISTRAR INFORMACIÓN DE LA EMPRESA</strong></h5>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.NIT, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NIT, new { htmlAttributes = new { @class = "form-control", @id = "txtNit" } })
                    @Html.ValidationMessageFor(model => model.NIT, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control", @id = "txtRazon" } })
                    @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @id = "txtDireccion" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: azure">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Municip, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Municip, new { htmlAttributes = new { @class = "form-control", @id = "txtMunicip" } })
                    @Html.ValidationMessageFor(model => model.Municip, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Department, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Department, new { htmlAttributes = new { @class = "form-control", @id = "txtDepartment" } })
                    @Html.ValidationMessageFor(model => model.Department, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @id = "txtTelefono" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: azure">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.ARL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ARL, new { htmlAttributes = new { @class = "form-control", @id = "txtArl" } })
                    @Html.ValidationMessageFor(model => model.ARL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.ClaseRiesgo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.ClaseRiesgo, new { htmlAttributes = new { @class = "form-control", @id = "txtClaseRiesgo" } })
                    @Html.ValidationMessageFor(model => model.ClaseRiesgo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.DocumentRepresent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.DocumentRepresent, new { htmlAttributes = new { @class = "form-control", @id = "txtDocument" } })
                    @Html.ValidationMessageFor(model => model.DocumentRepresent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: azure">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.NameRepresent, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.NameRepresent, new { htmlAttributes = new { @class = "form-control", @id = "txtName" } })
                    @Html.ValidationMessageFor(model => model.NameRepresent, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.LabelFor(model => model.NumeroTrabajadores, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.NumeroTrabajadores, new { htmlAttributes = new { @class = "form-control", @id = "txtNumero" } })
                    @Html.ValidationMessageFor(model => model.NumeroTrabajadores, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="background-color: azure">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.EconomicActivity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.EconomicActivity, new { @class = "form-control", @id = "txtEconomic", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.EconomicActivity, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Politica, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Politica, new { @class = "form-control", @id = "txtPolitica", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Politica, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Products, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Products, new { @class = "form-control", @id = "txtProducts", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Products, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Mision, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Mision, new { @class = "form-control", @id = "txtMision", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Mision, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Vision, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Vision, new { @class = "form-control", @id = "txtVision", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Vision, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Objetivos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Objetivos, new { @class = "form-control", @id = "txtObjetivos", cols = "70", rows = "2" })
                    @Html.ValidationMessageFor(model => model.Objetivos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.TurnosAdministrativo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TurnosAdministrativo, new { htmlAttributes = new { @class = "form-control", @id = "txtAdministrativo" } })
                    @Html.ValidationMessageFor(model => model.TurnosAdministrativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.TurnosOperativo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TurnosOperativo, new { htmlAttributes = new { @class = "form-control", @id = "txtOperativo" } })
                    @Html.ValidationMessageFor(model => model.TurnosOperativo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @id = "txtYear" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Agropecuaria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="checkbox">
                    @Html.EditorFor(model => model.Agropecuaria, new { htmlAttributes = new { @class = "form-control", @id = "txtAgropecuaria" } })
                    @Html.ValidationMessageFor(model => model.Agropecuaria, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ResponsableSGSST, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ResponsableSGSST, new { htmlAttributes = new { @class = "form-control", @id = "txtResponsable" } })
                    @Html.ValidationMessageFor(model => model.ResponsableSGSST, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.DocumentResponsable, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DocumentResponsable, new { htmlAttributes = new { @class = "form-control", @id = "txtDocResponsable" } })
                    @Html.ValidationMessageFor(model => model.DocumentResponsable, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ResolucionLicencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ResolucionLicencia, new { htmlAttributes = new { @class = "form-control", @id = "resolucionLicencia", @value = "@resolucionLicencia" } })
                    @Html.ValidationMessageFor(model => model.ResolucionLicencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.ResponsableLicencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.ResponsableLicencia, new { htmlAttributes = new { @class = "form-control", @id = "txtLicenciaResponsable" } })
                    @Html.ValidationMessageFor(model => model.ResponsableLicencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.RenovacionLicencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="date" class="form-control" data-val-required="El campo Fecha solicitud es obligatotio" id="renovacionLicencia" name="renovacionLicencia"
                           value='@resolucionLicencia'>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.RenovacionCurso, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    <input type="date" class="form-control" data-val-required="El campo Fecha solicitud es obligatotio" id="renovacionCurso" name="renovacionCurso"
                           value='@resolucionLicencia'>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.NivelEstudios, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EnumDropDownListFor(model => model.NivelEstudios, htmlAttributes: new { @class = "form-control", @id = "idNivelEstudios" })
                    @Html.ValidationMessageFor(model => model.NivelEstudios, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.MesesExperiencia, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.MesesExperiencia, new { htmlAttributes = new { @class = "form-control", @id = "txtMesesExperiencia" } })
                    @Html.ValidationMessageFor(model => model.MesesExperiencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p id="txtInfoBasic" style="color:red; text-align:center; padding:1%; font-size:20px"></p>
        </div>
    </div>
</div>