@model WSafe.Domain.Models.RiesgoViewModel
@{ 
    var aceptability = Model.AceptabilidadNR;
}

<div class="container bg-light p-4 rounded">
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelesDeficiencia, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EnumDropDownListFor(model => model.NivelesDeficiencia, htmlAttributes: new { @class = "form-control", @id = "deficienciaSelected" })
                    @Html.ValidationMessageFor(model => model.NivelesDeficiencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelDeficiencia, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NivelDeficiencia, new { htmlAttributes = new { @class = "form-control", @id = "deficiencia" } })
                    @Html.ValidationMessageFor(model => model.NivelDeficiencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelesExposicion, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EnumDropDownListFor(model => model.NivelesExposicion, htmlAttributes: new { @class = "form-control", @id = "exposicionSelected" })
                    @Html.ValidationMessageFor(model => model.NivelesExposicion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelExposicion, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NivelExposicion, new { htmlAttributes = new { @class = "form-control", @id = "exposicion" } })
                    @Html.ValidationMessageFor(model => model.NivelExposicion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelProbabilidad, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NivelProbabilidad, new { htmlAttributes = new { @class = "form-control", @id = "probabilidad" } })
                    @Html.ValidationMessageFor(model => model.NivelProbabilidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.InterpretacionNP, new { htmlAttributes = new { @class = "form-control", @id = "interpretaNP" } })
                    @Html.ValidationMessageFor(model => model.InterpretacionNP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelesConsecuencia, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EnumDropDownListFor(model => model.NivelesConsecuencia, htmlAttributes: new { @class = "form-control", @id = "consecuenciaSelected" })
                    @Html.ValidationMessageFor(model => model.NivelesConsecuencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelConsecuencia, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NivelConsecuencia, new { htmlAttributes = new { @class = "form-control", @id = "consecuencia" } })
                    @Html.ValidationMessageFor(model => model.NivelConsecuencia, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.NivelRiesgo, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.NivelRiesgo, new { htmlAttributes = new { @class = "form-control", @id = "riesgo" } })
                    @Html.ValidationMessageFor(model => model.NivelRiesgo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                <div class="col-sm-12">
                    @Html.EditorFor(model => model.CategoriaRiesgo, new { htmlAttributes = new { @class = "form-control", @id = "interpretaNR" } })
                    @Html.ValidationMessageFor(model => model.CategoriaRiesgo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-8">
            <div class="form-group row">
                <input type="hidden" id="AceptabilidadNR" name="AceptabilidadNR" value="@aceptability"/>
                @Html.LabelFor(model => model.TxtAceptability, htmlAttributes: new { @class = "col-form-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.EditorFor(model => model.TxtAceptability, new { htmlAttributes = new { @class = "form-control", @id = "txtAceptabilidad" } })
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group row">
                @Html.LabelFor(model => model.NroExpuestos, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-6">
                    @Html.EditorFor(model => model.NroExpuestos, new { htmlAttributes = new { @class = "form-control", @id = "txtExpuestos" } })
                    @Html.ValidationMessageFor(model => model.NroExpuestos, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group row">
                @Html.LabelFor(model => model.RequisitoLegal, htmlAttributes: new { @class = "col-form-label col-sm-4" })
                <div class="col-sm-8">
                    <div class="form-check">
                        @Html.EditorFor(model => model.RequisitoLegal, new { htmlAttributes = new { @class = "form-check-input", @id = "txtRequisito" } })
                        @Html.ValidationMessageFor(model => model.RequisitoLegal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p id="txtInfoRisk" class="text-center text-danger" style="font-size: 20px;"></p>
        </div>
    </div>
</div>
