<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WSafe</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Scripts/GestorRiesgosSST.js" type="text/javascript"></script>
    <script src="~/Scripts/GestorAudits.js" type="text/javascript"></script> <!-- funciones gráficas y auditorías--->>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/jqueryval")

    <style>

        body {
            margin: 0;
            padding-top: 0; /* Adjusted to align with the top of the fixed navbar */
        }

        .navbar {
            background-color: #343a40; /* Set your desired background color */
            padding: 1px 1px; /* Adjusted padding */
        }

        .navbar-brand-logo {
            margin-top: -15px; /* Adjusted value for vertical alignment with menu */
        }

        .navbar-nav {
            font-size: 10px;
            color: blue;
            margin-right: 0; /* Remove default margin */
        }

            .navbar-nav li {
                margin-right: 1px; /* Adjusted margin between menu items */
                transition: background-color 0.3s; /* Added transition for smooth hover effect */
            }

        .navbar-nav li:hover {
            background-color:silver ; /* Change this color to your desired hover color */
        }

        .navbar-right {
            margin-right: 1px; /* Adjusted margin for right-aligned items */
        }

        .navbar-collapse {
            text-align: center; /* Center the menu items */
        }

        .navbar-toggler {
            margin-right: 1px; /* Adjusted margin for the toggler button */
        }

        .body-content {
            margin-top: 0; /* Adjusted margin below the fixed navbar */
            padding-top: 0; /* Added padding to reduce space below the menu */
        }

        footer {
            margin-top: 20px; /* Adjusted margin above the footer */
        }
    </style>

</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/Images/wsafe.jpg" width="50" height="50" alt="WSafe Logo" class="navbar-brand-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @{
                        var userID = Session["userID"];
                        var userRole = Session["UserRole"];
                        userRole = userRole.ToString().Trim();
                        if (userRole.Equals("ADMIN"))
                        {
                            <li>@Html.ActionLink("ENTIDAD", "Index", "Organizations")</li>
                            <li>@Html.ActionLink("SG-SST", "Index", "Movimientos")</li>
                            <li>@Html.ActionLink("EVALUACIÓN", "Index", "Evaluations")</li>
                            <li>@Html.ActionLink("RIESGOS", "Index", "Riesgos")</li>
                            <li>@Html.ActionLink("INCIDENTES", "Index", "Incidentes")</li>
                            <li>@Html.ActionLink("ACCIONES", "Index", "Acciones")</li>
                            <li>@Html.ActionLink("INDICADORES", "Index", "Indicadores")</li>
                            <li>@Html.ActionLink("USUARIOS", "Index", "Accounts")</li>
                            <li>@Html.ActionLink("TRABAJADORES", "Index", "Workers")</li>
                            <li>@Html.ActionLink("ACTOS_INSEGUROS", "Index", "Unsafeacts")</li>
                            <li>@Html.ActionLink("RECOMENDACIONES", "Index", "Recomendations")</li>
                            <li>@Html.ActionLink("AUDITORIAS", "Index", "Audits")</li>
                            <li>@Html.ActionLink("PLAN_ANUAL", "Index", "AnnualPlans")</li>
                        }
                        else
                        {
                            if (userRole.Equals("LIDER RESPONSABLE SST"))
                            {
                                <li>@Html.ActionLink("RIESGOS", "Index", "Riesgos")</li>
                                <li>@Html.ActionLink("INCIDENTES", "Index", "Incidentes")</li>
                                <li>@Html.ActionLink("ACCIONES", "Index", "Acciones")</li>
                                <li>@Html.ActionLink("ACTOS_INSEGUROS", "Index", "Unsafeacts")</li>
                                <li>@Html.ActionLink("RECOMENDACIONES", "Index", "Recomendations")</li>
                                <li>@Html.ActionLink("AUDITORIAS", "Index", "Audits")</li>
                                <li>@Html.ActionLink("PLAN_ANUAL", "Index", "AnnualPlans")</li>
                            }
                            else
                            {
                                if (userRole.Equals("ARL"))
                                {
                                    <li>@Html.ActionLink("ENTIDAD", "Index", "Organizations")</li>
                                    <li>@Html.ActionLink("SG-SST", "Index", "Movimientos")</li>
                                    <li>@Html.ActionLink("EVALUACIÓN", "Index", "Evaluations")</li>
                                    <li>@Html.ActionLink("AUDITORIAS", "Index", "Audits")</li>
                                    <li>@Html.ActionLink("PLAN_ANUAL", "Index", "AnnualPlans")</li>
                                }
                                else
                                {
                                    if (userRole.Equals("TRABAJADOR"))
                                    {
                                        <li>@Html.ActionLink("TRABAJADORES", "GetWorker", "Workers")</li>
                                        <li>@Html.ActionLink("ACTOS_INSEGUROS", "Create", "Unsafeacts")</li>
                                    }
                                    else
                                    {
                                        <li>@Html.ActionLink("ACTOS_INSEGUROS", "Create", "Unsafeacts")</li>
                                    }
                                }
                            }
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["userName"] != null)
                    {
                        <li><a style="color:white;font-family:Arial"><b>Usuario(a): @Session["userName"].ToString().Trim()</b></a></li>
                    }
                    <li>@Html.ActionLink("Cerrar", "Logout", "Accounts", new { @class = "glyphicon glyphicon-log-out" })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row align-items-start">
                <div class="col-md-2">
                    @Html.ActionLink("Cerrar Módulo", "Index", "Home",
                    new { @class = "btn btn-success btn-lg" },
                    new { @class = "glyphicon glyphicon-chevron-left" })
                </div>
                <div class="col-md-10">
                </div>
            </div>
            <hr />
            <p>&copy; @DateTime.Now.Year - FLPCSoft</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Scripts/GestorRiesgosSST.js")
    @Scripts.Render("~/Scripts/GestorAudits.js")
    @RenderSection("scripts", required: false)
</body>
</html>
