@model IEnumerable<WSafe.Domain.Data.Entities.Accion>

@{
    ViewBag.Title = "GetAllAcciones";
}

<p>
    <br><label class="label label-warning" style="font-size:20px"> Zona : @ViewBag.Zona , Proceso : @ViewBag.Proceso</label>
    <br><label class="label label-warning" style="font-size:20px"> Actividad : @ViewBag.Actividad , Tarea : @ViewBag.Tarea</label>
    <br><label class="label label-warning" style="font-size:20px"> Riesgo : @ViewBag.Riesgo , Nivel : @ViewBag.Nivel</label>
    <br><label class="label label-warning" style="font-size:20px"> Número de trabajadores expuestos : @ViewBag.Expuestos</label>
</p>

<h2>Acciones</h2>

<p>
    @Html.ActionLink("Nueva", "CreateAccion", new { @class = "glyphicon glyphicon-plus" },
    new { @class = "btn btn-info btn-lg active" })
</p>
<table class="table">
    <tr style="background-color:gainsboro">
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuenteAccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CausasAccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaInicial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seguimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaSeguimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efectividad)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuenteAccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CausasAccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Seguimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSeguimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efectividad)
            </td>
            <td>
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
