@model IEnumerable<WSafe.Domain.Data.Entities.Trabajador>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>GESTIÓN TRABAJADORES: @Session["organization"].ToString().Trim()</h4>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Nuevo Trabajador", "Create", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus" })
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Generar Perfíl Sociodemogáfico", "GenerateWorkersPdf", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-download-alt" })
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        NÚMERO TRABAJADORES: @Session["numeroTrabajadores"].ToString().Trim()
    </div>
    <div class="col-md-4">
        HORARIO DE TRABAJO: @Session["turnoOperativo"].ToString().Trim()
    </div>
    <div class="col-md-4">
        <input type="search" id="myInput" placeholder="Escriba un nombre de elemento para filtrar" style="width:100%">
    </div>
</div>

<br />

<div class="table-responsive">
    <table class="table table-bordered">
        <tr class="table-header">
            <th>
                Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th>
                Nombres
            </th>
            <th>
                Document Type
            </th>
            <th>
                Documento
            </th>
            <th>
                Fecha Nacimiento
            </th>
            <th>
                Género
            </th>
            <th>
                Estado Civil
            </th>
            <th>
                Fecha Ingreso
            </th>
            <th>
                Tipo Vinculación
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrimerApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Documento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoCivil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoVinculacion)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
</div>
