@model WSafe.Web.Models.RecomendationVM

@{
    var title = "GESTIONAR RECOMENDACIONES MÉDICAS LABORALES";
}

<style>

    .centerText {
        text-align: center;
    }

</style>

<hr class="mt-4">
<h4 class="centerText">@title: @Session["organization"].ToString().Trim()</h4>
<hr class="mt-4">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container" style="background-color:azure; padding:20px;">

        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkerID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9 col-sm-10">
                        @Html.DropDownListFor(model => model.WorkerID, Model.Workers, new { @class = "form-control", @id = "worker" })
                        @Html.ValidationMessageFor(model => model.WorkerID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.LabelFor(model => model.Contingencia, htmlAttributes: new { @class = "control-label col-md-6" })
                    <div class="col-md-6 col-sm-10">
                        @Html.EnumDropDownListFor(model => model.Contingencia, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Contingencia, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoReintegro, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EnumDropDownListFor(model => model.TipoReintegro, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TipoReintegro, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    @Html.LabelFor(model => model.CargoID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8 col-sm-10">
                        @Html.DropDownListFor(model => model.CargoID, Model.Cargos, new { @class = "form-control", @id = "cargo" })
                        @Html.ValidationMessageFor(model => model.CargoID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    @Html.LabelFor(model => model.PatologyID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-sm-10">
                        @Html.DropDownListFor(model => model.PatologyID, Model.Patologies, new { @class = "form-control", @id = "patology" })
                        @Html.ValidationMessageFor(model => model.PatologyID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.EmisionDate, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EditorFor(model => model.EmisionDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmisionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Emision, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6 col-sm-10">
                        @Html.EnumDropDownListFor(model => model.Emision, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Emision, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Entity, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-6 col-sm-10">
                        @Html.EditorFor(model => model.Entity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Entity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.ReceptionDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EditorFor(model => model.ReceptionDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ReceptionDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-5 col-sm-10">
                        @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.InitialDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EditorFor(model => model.InitialDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InitialDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.FinalDate, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7 col-sm-10">
                        @Html.EditorFor(model => model.FinalDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FinalDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Compromise, htmlAttributes: new { @class = "control-label col-md-3"})
                    <div class="col-md-3 col-sm-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Compromise)
                            @Html.ValidationMessageFor(model => model.Compromise, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    @Html.LabelFor(model => model.Controls, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(model => model.Controls, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Controls, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Investigation, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(model => model.Investigation, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Investigation, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.EPP, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(model => model.EPP, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EPP, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.Tasks, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 col-sm-10">
                        @Html.EditorFor(model => model.Tasks, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Tasks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Observation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10 col-sm-10">
                    @Html.EditorFor(model => model.Observation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Observation, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.WorkerCompromise, htmlAttributes: new { @class = "control-label col-md-3"})
                    <div class="col-md-3 col-sm-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.WorkerCompromise)
                            @Html.ValidationMessageFor(model => model.WorkerCompromise, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.CoordinadorID, htmlAttributes: new { @class = "control-label col-md-3"})
                    <div class="col-md-9 col-sm-10">
                        @Html.DropDownListFor(model => model.CoordinadorID, Model.Workers, new { @class = "form-control", @id = "coordinador" })
                        @Html.ValidationMessageFor(model => model.CoordinadorID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="container">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    @Html.ActionLink("Listado recomendaciones", "Index", new { @class = "glyphicon glyphicon-plus" },
                    new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <p style="color:red;font-size:18px;text-align:center"><strong>@ViewBag.message</strong></p>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
