@model IEnumerable<WSafe.Domain.Models.RecomendationListVM>

@{
    ViewBag.Title = "Sistema de Gestión de Seguridad y Salud en el Trabajo";
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

@Html.Partial("_CabezoteFormat")

<hr class="mt-4">
<div class="container">
    <table class="table table-bordered table-hover">
        <tr style="background-color:gainsboro">
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contingencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoReintegro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patology)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmisionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceptionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compromise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerCompromise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordinador)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contingencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoReintegro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patology)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmisionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Emision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceptionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitialDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Compromise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controls)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EPP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tasks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkerCompromise)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coordinador)
                </td>
            </tr>
        }

    </table>
</div>

<div class="container">
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WSafeApp</p>
    </footer>
</div>
