@model WSafe.Domain.Models.RecomendationVM

@{
    ViewBag.Title = "Delete";
}

<div class="container" style="background-color:antiquewhite;width:50%">
    <h3>Desea borrar esta recomendación médica laboral ?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            TRABAJADOR
        </dt>

        <dd>
            @ViewBag.trabajador
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contingencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contingencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoReintegro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoReintegro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatologyID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatologyID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmisionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmisionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Entity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceptionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceptionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitialDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitialDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Compromise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Compromise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Controls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Controls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tasks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkerCompromise)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerCompromise)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observation)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger"/>
            @Html.ActionLink("Listado", "Index", new { @class = "glyphicon glyphicon-plus" },
            new { @class = "btn btn-info" })
        </div>
    }
</div>
