@model WSafe.Domain.Models._DetailsRecomendationVM

@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var fecha = DateTime.Today;
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

@Html.Partial("_CabezoteFormat")

<div class="container" style="display:flex">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>ACTA INICIAL DE RECOMENACIONES MÉDICO LABORALES: @Html.DisplayFor(model => model.FechaRecomendation)</b></strong>
        </p>
        <p style="text-align:center">
            TRABAJADOR: @Html.DisplayFor(model => model.WorkerFull)    CONTINGENCIA: @Html.DisplayFor(model => model.Contingencia)
            <br />CARGO: @Html.DisplayFor(model => model.Cargo)  AREA: @Html.DisplayFor(model => model.WorkArea)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>TIPO REINTEGRO LABORAL</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.TipoReintegro)
        </p>
        <p style="text-align:center">
            NUEVO CARGO: @Html.DisplayFor(model => model.NewPosition)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>DIAGNÓSTICO</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Patology)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>RECOMENDACIONES</b></strong>
        </p>
        <p>
            FECHA: @Html.DisplayFor(model => model.EmisionDate)  EMITIDA POR: @Html.DisplayFor(model => model.Emision)
        </p>
        <p>
            ENTIDAD QUE EXPIDE: @Html.DisplayFor(model => model.Entity)  FECHA RECEPCIÓN: @Html.DisplayFor(model => model.ReceptionDate)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>DETALLE RECOMENDACIONES</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
        <p>
            TIPO: @Html.DisplayFor(model => model.Type)    DURACIÓN: @Html.DisplayFor(model => model.Duration) DIAS
        </p>
        <p>
            FECHA INICIO: @Html.DisplayFor(model => model.InitialDate)  FECHA FINAL: @Html.DisplayFor(model => model.FinalDate)
        </p>
        <p>
            LA EMPRESA SE COMPROMETE A CUMPLIR LAS RECOMENDACIONES ?: @Html.DisplayFor(model => model.Compromise)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>OBSERVACIONES</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Controls)
        </p>
        <p>
            @Html.DisplayFor(model => model.Investigation)
        </p>
        <p>
            @Html.DisplayFor(model => model.EPP)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>OBSERVACIONES PUESTO DE TRABAJO</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Tasks)
        </p>
        <p>
            EL TRABAJADOR SE COMPROMETE A CUMPLIR LAS RECOMENDACIONES ?: @Html.DisplayFor(model => model.WorkerCompromise)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>OBSERVACIONES GENERALES</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Observation)
        </p>
    </div>
</div>

@{
    if (Model.Seguimients.Count() > 0)
    {
        <div>
            <p style="text-align:center; background-color:grey">
                <strong><b>SEGUIMIENTOS A LAS RECOMENDACIONES MÉDICO LABORALES</b></strong>
            </p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        FECHA
                    </th>
                    <th>
                        REPORTE SUPERVISOR
                    </th>
                    <th>
                        REPORTE TRABAJADOR
                    </th>
                    <th>
                        REPORTE RESPONSABLE SST
                    </th>
                    <th>
                        OBSERVACIONES
                    </th>
                    <th>
                        FECHA PRÓXIMO SEGUIMIENTO
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model.Seguimients)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SeguimientDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SupervisorReport)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkerReport)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SSTReport)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observations)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewSeguimient)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}


<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>COORDINADOR</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Coordinador)
        </p>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WSafeApp</p>
    </footer>
</div>
