@model WSafe.Web.Models.RiesgoViewModel
@{
    ViewBag.Title = "Create";
    var trabajadores = ViewBag.trabajadores;
}

<style>
    .tabInterven, .capInterven, .tabPeligros, .tabEvalRiesgos, .tabMediAplica, .consInterven, .tabIntervencion,
    .tabAddInterven, .tabIncidents
    {
        display: none;
    }

</style>

<hr />
<hr />
<h4>GESTIÓN DE RIESGOS</h4>

<div class="pull-left">
    <div class="btn-group">
        <button type="button" class="btn btn-info" id="idPeligros" title="doble click para cerrar la ventana">
            1. IDENTIFICACIÓN PELIGROS</button>
        <button type="button" class="btn btn-info" id="evalRiesgos" title="doble click para cerrar la ventana">
            2. EVALUACIÓN RIESGOS</button>
        <button type="button" class="btn btn-info" id="mediAplica" title="doble click para cerrar la ventana">
            3. MEDIDAS INTERVENCIÓN</button>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="tabPeligros">
        <hr />
        @Html.Partial("_EditarPeligros")
    </div>

    <div class="tabEvalRiesgos">
        <hr />
        @Html.Partial("_EvalRiesgo")
        <div class="pull-left">
            <div class="btn-group">
                <button type="button" id="btnAddRiesgo" class="btn btn-primary" onclick="AddNewRiesgo()">Adicionar</button>
                <button type="button" id="btnCanRisk" class="btn btn-primary" onclick="CancelRisk()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" id="btnIncidents" class="btn btn-primary" onclick="showIncidents()">Incidentes</button>
            </div>
        </div>
    </div>

    <div class="tabMediAplica">
        <hr />
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" id="addIntervencion">Adicionar nueva medida de intervención</button>
        </div>
        <div class="table-responsive-xl" style="background-color: mediumaquamarine">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color:gainsboro; width:auto">
                        <th>
                            DESCRIPCIÓN
                        </th>
                        <th>
                            CONTROL
                        </th>
                        <th>
                            MEDIDA INTERVENCIÓN
                        </th>
                        <th>
                            RESPONSABLE
                        </th>
                        <th>
                            FECHA INICIAL
                        </th>
                        <th>
                            FECHA CIERRE
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="tabIncidents">
        <hr />
        <div class="table-responsive-xl" style="background-color: antiquewhite">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color: gainsboro; width: auto">
                        <th>
                            FECHA INCIDENTE
                        </th>
                        <th>
                            CATEGORIA INCIDENTE
                        </th>
                        <th>
                            INCAPACIDAD MÉDICA
                        </th>
                        <th>
                            DIAS INCAPACIDAD
                        </th>
                        <th>
                            NATURALEZA LESIÓN
                        </th>
                        <th>
                            PARTES AFECTADAS
                        </th>
                        <th>
                            TIPO INCIDENTE
                        </th>
                        <th>
                            AGENTE LESIÓN
                        </th>
                        <th>
                            ACTOS INSEGUROS
                        </th>
                        <th>
                            CONDICIONES INSEGURAS
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="tabAddInterven">
        <input type="hidden" id="txtIntervenID" name="txtIntervenID" />
        @Html.Partial("_EditarIntervencion")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddInterven" class="btn btn-primary" onclick="AddInterven()">Adicionar</button>
                <button type="button" id="btnUpdInterven" class="btn btn-primary" onclick="UpdateIntervencion()">Guardar</button>
                <button type="button" id="btnCanInterven" class="btn btn-primary" onclick="CancelInterven()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

@section Scripts
{
    <script type="text/javascript">

        $('#categoria').click(function () {
            var selectedCategoria = $("#categoria").val();
            var peligroSelect = $('#peligro');
            peligroSelect.empty();
            if (selectedCategoria != null && selectedCategoria != '') {
                $.getJSON('@Url.Action("GetPeligros")', { ID: selectedCategoria }, function (peligros) {
                    if (peligros != null && !jQuery.isEmptyObject(peligros)) {
                        $.each(peligros, function (index, item) {
                            peligroSelect.append($('<option />',
                                {
                                    value: item.Value,
                                    text: item.Text
                                }));
                        });
                    };
                });
            }
        });

        gestorRiesgos();

        function CancelRisk() {
            $(".tabEvalRiesgos").css("display", "none");
            $(".tabIncidents").css("display", "none");
        }

        function CancelInterven() {
            $(".tabAddInterven").css("display", "none");
        }


    </script>
}

