@model WSafe.Web.Models.RiesgoViewModel
@{
    ViewBag.Title = "Create";
    var trabajadores = ViewBag.trabajadores;
}

<style>
    .tabInterven, .capInterven, .tabPeligros, .tabEvalRiesgos, .tabMediAplica, .consInterven, .tabIntervencion, .tabAddInterven {
        display: none;
    }
</style>

<hr />
<hr />
<h4>GESTIÓN DE RIESGOS</h4>
<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-warning" id="idPeligros" title="doble click para cerrar la ventana">1. IDENTIFICACIÓN PELIGROS</button>
        <button type="button" class="btn btn-warning" id="evalRiesgos" title="doble click para cerrar la ventana">2. EVALUACIÓN RIESGOS</button>
        <button type="button" class="btn btn-warning" id="mediAplica" title="doble click para cerrar la ventana">3. MEDIDAS INTERVENCIÓN</button>
    </div>
    <div class="col-md-4">
    </div>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="tabPeligros">
            <hr />
            @Html.Partial("_EditarPeligros")
        </div>

        <div class="tabEvalRiesgos">
            <hr />
            @Html.Partial("_EvalRiesgo")
            <input type="hidden" id="txtRiesgoID" name="txtRiesgoID"/>
            <div class="col-md-offset-2 col-md-4">
                <button type="button" id="btnAddRiesgo" class="btn btn-success" onclick="AddNewRiesgo()">Agregar</button>
            </div>
        </div>

        <div class="tabMediAplica">
            <hr />

            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addIntervencion">Adicionar nueva medida de intervención</button>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Descripción
                        </th>
                        <th>
                            Controles
                        </th>
                        <th>
                            Medidas Intervención
                        </th>
                        <th>
                            Responsable
                        </th>
                        <th>
                            Fecha inicial
                        </th>
                        <th>
                            Fecha final
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
        <div class="tabAddInterven">
            <input type="hidden" id="txtIntervenID" name="txtIntervenID" />
            @Html.Partial("_EditarIntervencion")
            <div class="col-md-offset-2 col-md-4">
                <div class="col-md-2">
                    <button type="button" id="btnAddInterven" class="btn btn-primary" onclick="AddInterven()">Adicionar</button>
                </div>
                <div class="col-md-2">
                    <button type="button" id="btnUpdInterven" class="btn btn-primary" onclick="UpdateIntervencion()">Guardar</button>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            ClearTextBox();
            $("#idPeligros").click(function () {
                $(".tabPeligros").css("display", "block");
                $(".tabEvalRiesgos").css("display", "none");
                $(".tabMediAplica").css("display", "none");
            });

            $("#idPeligros").dblclick(function () {
                $(".tabPeligros").css("display", "none");
            });

            $("#evalRiesgos").click(function () {
                $(".tabEvalRiesgos").css("display", "block");
                $(".tabPeligros").css("display", "none");
                $(".tabMediAplica").css("display", "none");
                $("#mediAplica").show();
            });

            $("#evalRiesgos").dblclick(function () {
                $(".tabEvalRiesgos").css("display", "none");
            });

            $("#mediAplica").click(function () {
                $(".tabMediAplica").css("display", "block");
                $(".tabEvalRiesgos").css("display", "none");
                $(".tabPeligros").css("display", "none");
                mostrarInterven();
            });

            $("#mediAplica").dblclick(function () {
                $(".tabMediAplica").css("display", "none");
                $(".tabAddInterven").css("display", "none");
            });

            $("#aplicarMedi").click(function () {
                $(".tabInterven").css("display", "block");
            });

            $("#aplicarMedi").dblclick(function () {
                $(".tabInterven").css("display", "none");
            });

            $("#addIntervencion").click(function () {
                $(".tabAddInterven").css("display", "block");
                $(".tabCerrar").css("display", "none");
                $(".tabMediAplica").css("display", "none");
                $("#btnUpdInterven").hide();
                $("#btnAddInterven").show();
            });

        });

        $('#zona').change(function () {
            var zonasSelect = $('#zona').val();
            zonasSelect.empty();
            $.getJSON('@Url.Action("GetZonas")', function (zonas)
            {
                if (zonas != null && !jQuery.isEmptyObject(zonas))
                {
                    $.each(zonas, function (index, item)
                    {
                        zonasSelect.append($('<option />',
                        {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                };
            });
        });

        $('#proceso').change(function () {
            var procesosSelect = $('#proceso').val();
            procesosSelect.empty();
            $.getJSON('@Url.Action("GetProcesos")', function (procesos)
            {
                if (procesos != null && !jQuery.isEmptyObject(procesos))
                {
                    $.each(procesos, function (index, item)
                    {
                        procesosSelect.append($('<option />',
                        {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                };
            });
        });

        $('#activity').change(function () {
            var activitySelect = $('#activity').val();
            activitySelect.empty();
            $.getJSON('@Url.Action("GetActivities")', function (activities)
            {
                if (activities != null && !jQuery.isEmptyObject(activities))
                {
                    $.each(activities, function (index, item)
                    {
                        activitySelect.append($('<option />',
                        {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                };
            });
        });

        $('#tarea').change(function () {
            var tareasSelect = $('#tarea').val();
            tareasSelect.empty();
            $.getJSON('@Url.Action("GetTareas")', function (tareas)
            {
                if (tareas != null && !jQuery.isEmptyObject(tareas))
                {
                    $.each(tareas, function (index, item)
                    {
                        tareasSelect.append($('<option />',
                        {
                            value: item.Value,
                            text: item.Text
                        }));
                    });
                };
            });
        });

        $('#categoria').change(function () {
            var selectedCategoria = $("#categoria").val();
            var peligroSelect = $('#peligro');
            peligroSelect.empty();
            if (selectedCategoria != null && selectedCategoria != '')
            {
                $.getJSON('@Url.Action("GetPeligros")', { ID: selectedCategoria }, function (peligros)
                {
                    if (peligros != null && !jQuery.isEmptyObject(peligros))
                    {
                        $.each(peligros, function (index, item)
                        {
                            peligroSelect.append($('<option />',
                            {
                                value: item.Value,
                                text: item.Text
                            }));
                        });
                    };
                });
            }
        });

        $('#deficienciaSelected').click(function () {
            var selectedCategoria = $('#deficienciaSelected').val();
            var nd = 0;
            switch (selectedCategoria)
            {
                case "1":
                    nd = 10;
                    break;

                case "2":
                    nd = 6;
                    break;

                case "3":
                    nd = 2;
                    break;

                default:
                    nd = 0;
                    break;
            }

            $('#deficiencia').val(nd);
            calcularProbabilidad();
        });

        $('#exposicionSelected').click(function () {
            var selectedExposicion = $('#exposicionSelected').val();
            var ne = 0;
            switch (selectedExposicion)
            {
                case "1":
                    ne = 4;
                    break;

                case "2":
                    ne = 3;
                    break;

                case "3":
                    ne = 2;
                    break;

                default:
                    ne = 1;
                    break;
            }

            $('#exposicion').val(ne);
            calcularProbabilidad();
        });

        $('#consecuenciaSelected').click(function () {
            var selectedExposicion = $('#consecuenciaSelected').val();
            var nc = 0;
            switch (selectedExposicion)
            {
                case "1":
                    nc = 100;
                    break;

                case "2":
                    nc = 60;
                    break;

                case "3":
                    nc = 25;
                    break;

                default:
                    nc = 10;
                    break;
            }
            $('#consecuencia').val(nc);
            calcularRiesgo();
        });

        function calcularProbabilidad() {
            var nd = $('#deficiencia').val();
            var ne = $('#exposicion').val();
            var probabilidad = nd * ne;
            $('#probabilidad').val(probabilidad);
            var interpretaNP = " ";
            switch (true) {
                case (probabilidad >= 24 && probabilidad <= 40):
                    interpretaNP = "Muy alto (MA)";
                    break;
                case (probabilidad >= 10 && probabilidad < 24):
                    interpretaNP = "Alto (A)";
                    break;
                case (probabilidad >= 8 && probabilidad < 10):
                    interpretaNP = "Mdio (M)";
                    break;
                case (probabilidad >= 2 && probabilidad < 8):
                    interpretaNP = "Bajo (B)";
                    break;

                default:
                    interpretaNP = "Bajo (B)";
                    break;
            }
            $('#interpretaNP').val(interpretaNP);
        }

        function calcularRiesgo() {
            calcularProbabilidad();
            var np = $('#probabilidad').val();
            var nc = $('#consecuencia').val();
            var riesgo = np * nc;
            $('#riesgo').val(riesgo);
            var interpretaNR = " ";
            var  colorStyle = " ";
            switch (true) {
                case (riesgo >= 600):
                    interpretaNR = "I";
                    colorStyle = "red";
                    break;
                case (riesgo >= 150 && riesgo < 600):
                    interpretaNR = "II";
                    colorStyle = "yellow";
                    break;
                case (riesgo >= 40 && riesgo < 150):
                    interpretaNR = "III";
                    colorStyle = "orange";
                    break;

                default:
                    interpretaNR = "IV";
                    colorStyle = "green";
                    break;
            }
            $('#interpretaNR').val(interpretaNR);
            $('#interpretaNR').css({ "backgroundColor": colorStyle, "font-size": "200%" });
        }
    </script>
}

