@model WSafe.Web.Models.RiesgoViewModel
@{
    ViewBag.Title = "Create";
    var trabajadores = ViewBag.trabajadores;
}

<style>
    .tabInterven, .capInterven, .tabPeligros, .tabEvalRiesgos, .tabMediAplica, .consInterven, .tabIntervencion,
    .tabAddInterven, .tabIncidents
    {
        display: none;
    }

</style>

<hr />
<hr />
<h4>GESTIÓN DE RIESGOS</h4>

<div class="pull-left">
    <div class="btn-group">
        <button type="button" class="btn btn-info" id="idPeligros" title="doble click para cerrar la ventana">
            1. IDENTIFICACIÓN PELIGROS</button>
        <button type="button" class="btn btn-info" id="evalRiesgos" title="doble click para cerrar la ventana">
            2. EVALUACIÓN RIESGOS</button>
        <button type="button" class="btn btn-info" id="mediAplica" title="doble click para cerrar la ventana">
            3. MEDIDAS INTERVENCIÓN</button>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="tabPeligros">
        <hr />
        @Html.Partial("_EditarPeligros")
    </div>

    <div class="tabEvalRiesgos">
        <hr />
        @Html.Partial("_EvalRiesgo")
        <div class="pull-left">
            <div class="btn-group">
                <button type="button" id="btnAddRiesgo" class="btn btn-primary" onclick="AddNewRiesgo()">Adicionar</button>
                <button type="button" id="btnCanRisk" class="btn btn-primary" onclick="CancelRisk()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
        </div>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" id="btnIncidents" class="btn btn-primary" onclick="showIncidents()">Incidentes</button>
            </div>
        </div>
    </div>

    <div class="tabMediAplica">
        <hr />
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" id="addIntervencion">Adicionar nueva medida de intervención</button>
        </div>
        <div class="table-responsive-xl" style="background-color: mediumaquamarine">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color:gainsboro; width:auto">
                        <th>
                            DESCRIPCIÓN
                        </th>
                        <th>
                            CONTROL
                        </th>
                        <th>
                            MEDIDA INTERVENCIÓN
                        </th>
                        <th>
                            RESPONSABLE
                        </th>
                        <th>
                            FECHA INICIAL
                        </th>
                        <th>
                            FECHA CIERRE
                        </th>
                        <th>
                            Opciones
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="tabIncidents">
        <hr />
        <div class="table-responsive-xl" style="background-color: antiquewhite">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="background-color: gainsboro; width: auto">
                        <th>
                            FECHA INCIDENTE
                        </th>
                        <th>
                            CATEGORIA INCIDENTE
                        </th>
                        <th>
                            INCAPACIDAD MÉDICA
                        </th>
                        <th>
                            DIAS INCAPACIDAD
                        </th>
                        <th>
                            NATURALEZA LESIÓN
                        </th>
                        <th>
                            PARTES AFECTADAS
                        </th>
                        <th>
                            TIPO INCIDENTE
                        </th>
                        <th>
                            AGENTE LESIÓN
                        </th>
                        <th>
                            ACTOS INSEGUROS
                        </th>
                        <th>
                            CONDICIONES INSEGURAS
                        </th>
                    </tr>
                </thead>
                <tbody class="tbody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="tabAddInterven">
        <input type="hidden" id="txtIntervenID" name="txtIntervenID" />
        @Html.Partial("_EditarIntervencion")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddInterven" class="btn btn-primary" onclick="AddInterven()">Adicionar</button>
                <button type="button" id="btnUpdInterven" class="btn btn-primary" onclick="UpdateIntervencion()">Guardar</button>
                <button type="button" id="btnCanInterven" class="btn btn-primary" onclick="CancelInterven()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

@section Scripts
{
    <script type="text/javascript">
        gestorRiesgos();

        function CancelRisk() {
            $(".tabEvalRiesgos").css("display", "none");
            $(".tabIncidents").css("display", "none");
        }

        function CancelInterven() {
            $(".tabAddInterven").css("display", "none");
        }

        function gestorRiesgos() {
            ClearTextBox();

            $("#idPeligros").click(function () {
                $(".tabPeligros").css("display", "block");
                $(".tabEvalRiesgos").css("display", "none");
                $(".tabMediAplica").css("display", "none");
                $("#idPeligros").show();
            });

            $("#idPeligros").dblclick(function () {
                $(".tabPeligros").css("display", "none");
            });

            $("#evalRiesgos").click(function () {
                $(".tabEvalRiesgos").css("display", "block");
                $(".tabPeligros").css("display", "none");
                $(".tabMediAplica").css("display", "none");
                $("#evalRiesgos").show();
            });

            $("#evalRiesgos").dblclick(function () {
                $(".tabEvalRiesgos").css("display", "none");
            });

            $("#mediAplica").click(function () {
                $(".tabMediAplica").css("display", "block");
                $(".tabEvalRiesgos").css("display", "none");
                $(".tabPeligros").css("display", "none");
                $("#mediAplica").show();
                mostrarInterven();
            });

            $("#mediAplica").dblclick(function () {
                $(".tabMediAplica").css("display", "none");
                $(".tabAddInterven").css("display", "none");
            });

            $("#aplicarMedi").click(function () {
                $(".tabInterven").css("display", "block");
            });

            $("#aplicarMedi").dblclick(function () {
                $(".tabInterven").css("display", "none");
            });

            $("#addIntervencion").click(function () {
                ClearTextBox();
                $(".tabAddInterven").css("display", "block");
                $(".tabCerrar").css("display", "none");
                $(".tabMediAplica").css("display", "none");
                $("#btnUpdInterven").hide();
                $("#btnAddInterven").show();
            });

            $('#FechaInicial').change(function () {
                var fecha = $("#FechaInicial").val();
                validarFechaIni(fecha);
            });

            $('#FechaFinal').change(function () {
                var fechaIni = $("#FechaInicial").val();
                var fechaFin = $("#FechaFinal").val();
                validarFechaFin(fechaIni, fechaFin);
            });

            $('#categoria').change(function () {
                var selectedCategoria = $("#categoria").val();
                var peligroSelect = $('#peligro');
                peligroSelect.empty();
                if (selectedCategoria != null && selectedCategoria != '') {
                    $.getJSON('@Url.Action("GetPeligros")', { ID: selectedCategoria }, function (peligros) {
                        if (peligros != null && !jQuery.isEmptyObject(peligros)) {
                            $.each(peligros, function (index, item) {
                                peligroSelect.append($('<option />',
                                    {
                                        value: item.Value,
                                        text: item.Text
                                    }));
                            });
                        };
                    });
                }
            });

            $('#deficienciaSelected').click(function () {
                var selectedCategoria = $('#deficienciaSelected').val();
                var nd = 0;
                switch (selectedCategoria) {
                    case "1":
                        nd = 10;
                        break;

                    case "2":
                        nd = 6;
                        break;

                    case "3":
                        nd = 2;
                        break;

                    default:
                        nd = 0;
                        break;
                }

                $('#deficiencia').val(nd);
                calcularProbabilidad();
            });

            $('#exposicionSelected').click(function () {
                var selectedExposicion = $('#exposicionSelected').val();
                var ne = 0;
                switch (selectedExposicion) {
                    case "1":
                        ne = 4;
                        break;

                    case "2":
                        ne = 3;
                        break;

                    case "3":
                        ne = 2;
                        break;

                    default:
                        ne = 1;
                        break;
                }

                $('#exposicion').val(ne);
                calcularProbabilidad();
            });

            $('#consecuenciaSelected').click(function () {
                var selectedExposicion = $('#consecuenciaSelected').val();
                var nc = 0;
                switch (selectedExposicion) {
                    case "1":
                        nc = 100;
                        break;

                    case "2":
                        nc = 60;
                        break;

                    case "3":
                        nc = 25;
                        break;

                    default:
                        nc = 10;
                        break;
                }
                $('#consecuencia').val(nc);
                calcularRiesgo();
            });
        }

        function calcularProbabilidad() {
            var nd = $('#deficiencia').val();
            var ne = $('#exposicion').val();
            var probabilidad = nd * ne;
            $('#probabilidad').val(probabilidad);
            var interpretaNP = " ";
            switch (true) {
                case (probabilidad >= 24 && probabilidad <= 40):
                    interpretaNP = "Muy alto (MA)";
                    break;
                case (probabilidad >= 10 && probabilidad < 24):
                    interpretaNP = "Alto (A)";
                    break;
                case (probabilidad >= 8 && probabilidad < 10):
                    interpretaNP = "Mdio (M)";
                    break;
                case (probabilidad >= 2 && probabilidad < 8):
                    interpretaNP = "Bajo (B)";
                    break;

                default:
                    interpretaNP = "Bajo (B)";
                    break;
            }
            $('#interpretaNP').val(interpretaNP);
        }

        function calcularRiesgo() {
            calcularProbabilidad();
            var np = $('#probabilidad').val();
            var nc = $('#consecuencia').val();
            var riesgo = np * nc;
            $('#riesgo').val(riesgo);
            var interpretaNR = " ";
            var  colorStyle = " ";
            switch (true) {
                case (riesgo >= 600):
                    interpretaNR = "I";
                    colorStyle = "red";
                    break;
                case (riesgo >= 150 && riesgo < 600):
                    interpretaNR = "II";
                    colorStyle = "yellow";
                    break;
                case (riesgo >= 40 && riesgo < 150):
                    interpretaNR = "III";
                    colorStyle = "orange";
                    break;

                default:
                    interpretaNR = "IV";
                    colorStyle = "green";
                    break;
            }
            $('#interpretaNR').val(interpretaNR);
            $('#interpretaNR').css({ "backgroundColor": colorStyle, "font-size": "200%" });
        }
    </script>
}

