@model WSafe.Domain.Models.RiesgoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RiesgoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutinaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EfectosPosibles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EfectosPosibles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelDeficiencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelDeficiencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelExposicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelExposicion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelProbabilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelProbabilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelConsecuencias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelConsecuencias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NivelRiesgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NroExpuestos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NroExpuestos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequisitoLegal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequisitoLegal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
