@model WSafe.Domain.Models.RiesgoViewModel
@{
    ViewBag.Title = "GESTIONAR LOS RIESGOS";
    var trabajadores = @ViewBag.trabajadores;
    var riesgoID = @ViewBag.riesgoID;
    var userID = Model.UserID;
}

<style>
    .tabInterven, .capInterven, .tabPeligros, .tabEvalRiesgos, .tabMediAplica, .consInterven, .tabIntervencion,
    .tabAddInterven, .tabIncidents, .tabAddPlanAcc, .tabGesPlanAcc, .tabAddControl, .tabAddControlTrace, .tabHistory, .tabAddMainCause, .tabShowControlTrace {
        display: none;
    }

    .centerText {
        text-align: center
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

</style>

<h4 class="centerText">GESTIÓN DE LOS RIESGOS</h4>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" id="idPeligros" title="doble click para cerrar la ventana">1. IDENTIFICACIÓN PELIGROS</button>
            <button type="button" class="btn btn-success" id="evalRiesgos" title="doble click para cerrar la ventana">2. EVALUACIÓN RIESGOS</button>
            <button type="button" class="btn btn-success" id="mediAplica" title="doble click para cerrar la ventana">3. MEDIDAS DE INTERVENCIÓN</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.UserID)

        <input type="hidden" id="userID" name="userID" value="@userID" />

        <div class="tabPeligros">
            <hr />
            @Html.Partial("_EditarPeligros")
        </div>

        <div class="tabEvalRiesgos">
            <hr />
            @Html.Partial("_EvalRiesgo")
            <input type="hidden" id="txtRiesgoID" name="txtRiesgoID" />
            <div class="pull-left">
                <div class="btn-group">
                    <button type="button" id="btnUpdRiesgo" class="btn btn-primary" onclick="UpdateRiesgo()">Guardar</button>
                    <button type="button" id="btnCanRisk" class="btn btn-primary" onclick="CancelRisk()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
            </div>
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" id="btnHistory" class="btn btn-primary" onclick="viewHistory()">Historia</button>
                    <button type="button" id="btnIncidents" class="btn btn-primary" onclick="showIncidents()">Incidentes</button>
                </div>
            </div>
        </div>

        <div class="tabMediAplica">
            <hr />
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" id="addIntervencion">Adicionar nueva medida de intervención</button>
            </div>
            <div class="table-responsive-xl" style="background-color: antiquewhite">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr style="background-color:gainsboro; width:auto">
                            <th>
                                DESCRIPCIÓN
                            </th>
                            <th>
                                CONTROL
                            </th>
                            <th>
                                MEDIDA INTERVENCIÓN
                            </th>
                            <th>
                                RESPONSABLE
                            </th>
                            <th>
                                FECHA INICIAL
                            </th>
                            <th>
                                FECHA CIERRE
                            </th>
                            <th>
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tabAddInterven">
            <input type="hidden" id="txtIntervenID" name="txtIntervenID" />
            @Html.Partial("_EditarIntervencion")
        </div>

        <div class="tabHistory">
            <hr />
            <div class="table-responsive-xl" style="background-color: antiquewhite">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr style="background-color: gainsboro; width: auto">
                            <th>
                                ND
                            </th>
                            <th>
                                NE
                            </th>
                            <th>
                                NP
                            </th>
                            <th>
                                INTP
                            </th>
                            <th>
                                NC
                            </th>
                            <th>
                                NR
                            </th>
                            <th>
                                INTNR
                            </th>
                            <th>
                                DESCRIPCIÓN
                            </th>
                            <th>
                                CONTROL
                            </th>
                            <th>
                                MEDIDA INTERVENCIÓN
                            </th>
                            <th>
                                RESPONSABLE
                            </th>
                            <th>
                                FECHA INICIAL
                            </th>
                            <th>
                                FECHA CIERRE
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script type="text/javascript">

    $(document).ready(function () {
        $('select').each(function () {
            $(this).find('option').filter(function () {
                return !$(this).val();
            }).remove();
        });
    });

    $("#txtRiesgoID").val(@riesgoID);

    gestorRiesgos();
    calcularProbabilidad();
    calcularRiesgo();
    aceptabilidadRiesgo();

    function CancelRisk() {
    $(".tabEvalRiesgos").css("display", "none");
    }

    function CancelInterven() {
        $(".tabAddInterven").css("display", "none");
        $('#btnShowControlTrace').show();
        $('.showControlTrace').html('');
    }

    function CancelControl() {
    $(".tabAddControl").css("display", "none");
    }
    function CancelControlTrace() {
    $(".tabAddControlTrace").css("display", "none");
    }

    function CancelMainCause() {
    $(".tabAddMainCause").css("display", "none");
    }

    $("#btnAddControl").click(function () {
    $(".tabAddControl").css("display", "block");
    });

    $("#btnAddControl[1]").click(function () {
    $(".tabAddControl").css("display", "block");
    });

    $("#btnAddControlTrace").click(function () {
    $(".tabAddControlTrace").css("display", "block");
    });

    $("#btnAddMainCause").click(function () {
    $(".tabAddMainCause").css("display", "block");
    });

    </script>

}