@model IEnumerable<WSafe.Web.Models.MatrizRiesgosVM>
@{
    ViewBag.Title = "Sistema de Gestión de Seguridad y Salud en el Trabajo";
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

@Html.Partial("_CabezoteFormat")

<table class="table table-bordered table-hover">
    <tr style="background-color:gainsboro">
        <th>
            @Html.DisplayNameFor(model => model.Proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaPeligro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peligro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfectosPosibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuenteControls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedioControls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividuoControls)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelDeficiencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelExposicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelProbabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterpretaNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelConsecuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AceptabilidadNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroExpuestos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeorConsecuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitoLegal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Eliminacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sustitucion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingenieria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Administracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPP)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proceso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rutinaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaPeligro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peligro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfectosPosibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuenteControls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedioControls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndividuoControls)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDeficiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelExposicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelProbabilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterpretaNP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelConsecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelRiesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaRiesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AceptabilidadNR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroExpuestos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PeorConsecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitoLegal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eliminacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sustitucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingenieria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPP)
            </td>
        </tr>
    }

</table>

<div class="container">
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto; background-color:white;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WSafeApp</p>
    </footer>
</div>
