@model IEnumerable<WSafe.Domain.Models.RiesgoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>GESTOR DE RIESGOS</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zonas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Procesos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tareas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peligros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriasPeligros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfectosPosibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelDeficiencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelExposicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelProbabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterpretacionNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelConsecuencias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterpretacionNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AceptabilidadNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroExpuestos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeorConsecuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitoLegal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Zona.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Procesos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Actividades)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tareas)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rutinaria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Peligros)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoriasPeligros)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EfectosPosibles)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelDeficiencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelExposicion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelProbabilidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InterpretacionNP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelConsecuencias)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelRiesgo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InterpretacionNR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AceptabilidadNR)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NroExpuestos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NroExpuestos)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PeorConsecuencia)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
