@model IEnumerable<WSafe.Domain.Data.Entities.Riesgo>

@{
    ViewBag.Title = "WSafe";
}

<h2>GESTIÓN DE RIESGOS</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", new { @class = "glyphicon glyphicon-plus" }, 
    new { @class = "btn btn-info btn-lg active" })
</p>
<table class="table">
    <tr style="background-color:gainsboro">
        <th>
            @Html.DisplayNameFor(model => model.Proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peligro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfectosPosibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelDeficiencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelExposicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelProbabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelConsecuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aceptabilidad)
        </th>
        <th>
            Acciones
        </th>
    </tr>

    @foreach (var item in Model)
    {
        string strStyle = String.Empty;
        switch (item.CategoriaRiesgo)
        {
            case "I":
                strStyle = "background-color:red;";
                break;

            case "II":
                strStyle = "background-color:yellow;";
                break;

            case "III":
                strStyle = "background-color:orange;";
                break;

            default:
                strStyle = "background-color:green;";
                break;
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Proceso.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zona.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actividad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarea.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rutinaria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peligro.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EfectosPosibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelDeficiencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelExposicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelProbabilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelConsecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelRiesgo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaRiesgo)
            </td>
            <td style="@strStyle">
                @Html.DisplayFor(modelItem => item.Aceptabilidad)
            </td>
            <td style="font-size:12px">
                @Html.ActionLink(" ", "GetControles", new { id = item.ID }, new { @class = "glyphicon glyphicon-search" }) |
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
                @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
     }

</table>