@model IEnumerable<WSafe.Domain.Data.Entities.Riesgo>

@{
    ViewBag.Title = "WSafe";
}

<h2>GESTIÓN DE RIESGOS</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proceso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actividad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarea)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peligro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfectosPosibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelDeficiencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelExposicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelProbabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelConsecuencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aceptabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroExpuestos)
        </th>
        <th>
            Opciones
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Zona.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Proceso.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Actividad.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tarea.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rutinaria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Peligro.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EfectosPosibles)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelDeficiencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelExposicion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelProbabilidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelConsecuencia)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NivelRiesgo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CategoriaRiesgo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Aceptabilidad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NroExpuestos)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Detalles", "Details", new { id = item.ID }) |
        @Html.ActionLink("Borrar", "Delete", new { id = item.ID })
        @Html.ActionLink("Controles", "Delete", new { id = item.ID })
        @Html.ActionLink("Intervenciones", "Delete", new { id = item.ID })
        @Html.ActionLink("Acciones", "Actions", new { id = item.ID })
    </td>
</tr>
}

</table>