@model IEnumerable<WSafe.Domain.Models.RiesgoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ZonaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProcesoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActividadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TareaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoriaPeligroID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeligroID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EfectosPosibles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelesDeficienciaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelesExposicionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelProbabilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterpretacionNP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelesConsecuenciaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NivelRiesgo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InterpretacionNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AceptabilidadID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AceptabilidadNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SignificadoNR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NroExpuestos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitoLegal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ZonaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProcesoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActividadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TareaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rutinaria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoriaPeligroID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeligroID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EfectosPosibles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelesDeficienciaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelesExposicionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelProbabilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterpretacionNP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelesConsecuenciaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NivelRiesgo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterpretacionNR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AceptabilidadID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AceptabilidadNR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SignificadoNR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NroExpuestos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequisitoLegal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
