@model WSafe.Web.Models.AccionViewModel

@{
    ViewBag.Title = "Create";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<style>
    .tabIdCausas, .tabPlanAcc, .tabSeguimAcc {
        display: none;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <hr />
    <h4>ACCIONES CORRECTIVAS, PREVENTIVAS Y DE MEJORA</h4>
    <div class="btn-group btn-group-justified">
        <button type="button" class="btn btn-warning" id="idCausas" title="doble click para cerrar la ventana"> 1. IDENTIFICAR NO CONFORMIDAD</button>
        <button type="button" class="btn btn-warning" id="planAcc" title="doble click para cerrar la ventana"> 2. PLAN DE ACCIÓN</button>
        <button type="button" class="btn btn-warning" id="seguimAcc" title="doble click para cerrar la ventana"> 3. SEGUIMIENTO</button>
    </div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="tabIdCausas">
        <input type="hidden" id="txtAccionID" name="txtAccionID" />
        @Html.Partial("_EditarNoConformidad")

        <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-success" onclick="AddAccion()">Agregar</button>
        </div>
    </div>
    <div class="tabPlanAcc">
        @Html.Partial("_EditarPlanAcc")
        <input type="hidden" id="txtAccionID" name="txtAccionID"/>
        <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-success" onclick="AddPlanAccion()">Agregar</button>
        </div>
    </div>
    <div class="tabSeguimAcc">
        @Html.Partial("_EditarSigueAcc")
        <input type="hidden" id="txtAccionID" name="txtAccionID" />
        <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-success" onclick="AddSeguiAcc()">Agregar</button>
        </div>

    </div>
</div>
}

<div>
    <div class="tabCerrar">
        @Html.ActionLink("Cerrar", "Index", new { @class = "glyphicon glyphicon-plus" },
        new { @class = "btn btn-warning btn-lg active" })
    </div>
</div>

@section Scripts
{
    <script>
        $.ajaxSetup({

            error: function (jqXHR, textStatus, errorThrown) {

                if (jqXHR.status === 0) {

                    alert('Not connect: Verify Network.');

                } else if (jqXHR.status == 404) {

                    alert('Requested page not found [404]');

                } else if (jqXHR.status == 500) {

                    alert('Internal Server Error [500].');

                } else if (textStatus === 'parsererror') {

                    alert('Requested JSON parse failed.');

                } else if (textStatus === 'timeout') {

                    alert('Time out error.');

                } else if (textStatus === 'abort') {

                    alert('Ajax request aborted.');

                } else {

                    alert('Uncaught Error: ' + jqXHR.responseText);

                }
            }
        });

        $(document).ready(function () {
            ClearTextBox();
            $("#idCausas").click(function () {
                $(".tabIdCausas").css("display", "block");
                $(".tabCerrar").css("display", "none");
                $(".tabPlanAcc").css("display", "none");
                $(".tabSeguimAcc").css("display", "none");
            });

            $("#idCausas").dblclick(function () {
                $(".tabIdCausas").css("display", "none");
                $(".tabCerrar").css("display", "block");
            });

            $("#planAcc").click(function () {
                $(".tabPlanAcc").css("display", "block");
                $(".tabCerrar").css("display", "none");
            });

            $("#planAcc").dblclick(function () {
                $(".tabPlanAcc").css("display", "none");
                $(".tabCerrar").css("display", "block");
            });

            $("#seguimAcc").click(function () {
                $(".tabSeguimAcc").css("display", "block");
                $(".tabCerrar").css("display", "none");
            });

            $("#seguimAcc").dblclick(function () {
                $(".tabSeguimAcc").css("display", "none");
                $(".tabCerrar").css("display", "block");
            });
        });

        function addPlanAcc() {
            var accionID = $("#txtAccionID").val();
            AddPlanAccion(accionID, false);
        }


    </script>
}