@model WSafe.Web.Models.AccionViewModel

@{
    var title = "GESTIONAR ACCIONES CORRECTIVAS, PREVENTIVAS Y/O DE MEJORA";
    var categorias = ViewBag.Categorias;
}

<style>
    .tabIdCausas, .tabGesPlanAcc, .tabGesSeguiPlanAcc, .tabPlanAcc, .tabSeguimAcc, .tabSeguimPlanAcc, .tabAddPlanAcc, .tabAddSeguimAcc {
        display: none;
    }
</style>

<hr />
<hr />
<h4>@title</h4>
<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-warning" id="idCausas" title="doble click para cerrar la ventana"> 1. IDENTIFICAR NO CONFORMIDAD</button>
        <button type="button" class="btn btn-warning" id="planAcc" title="doble click para cerrar la ventana"> 2. PLANES DE ACCIÓN</button>
    </div>
    <div class="col-md-4">
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" id="txtAccionID" name="txtAccionID"/>
    <div class="tabIdCausas">
        @Html.Partial("_EditarNoConformidad")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddAction" class="btn btn-success" onclick="AddAccion()">Agregar</button>
                <button type="button" id="btnCanAccc" class="btn btn-success" onclick="CancelAccion()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesPlanAcc">
        <hr />
        <input type="hidden" id="planAccionID" name="planAccionID" />
        @Html.Partial("_BorrarPlanAcc")
    </div>

    <div class="tabAddPlanAcc">
        <input type="hidden" id="txtPlanAccionID" name="txtPlanAccionID" />
        @Html.Partial("_ModificaPlan")
        <hr />
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddPlan" class="btn btn-primary" onclick="AddPlanAccion()">Adicionar</button>
                <button type="button" id="btnUpdPlan" class="btn btn-primary" onclick="UpdatePlanAcc()">Actualizar</button>
                <button type="button" id="btnCanPlan" class="btn btn-primary" onclick="CancelPlan()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

@section Scripts
{
    <script type="text/javascript">

        function CancelAccion() {
            $(".tabIdCausas").css("display", "none");
            $("#zona").val("");
            $("#proceso").val("");
            $("#activity").val("");
            $("#tarea").val("");
            $("#fechaSolicitud").val("");
            $("#categoriaAcc").val("");
            $("#idTrabajador").val("");
            $("#idFuente").val("");
            $("#idDescrip").val("");
            $("#idEficaciaAnt").val("");
            $("#idEficaciaDesp").val("");
            $("#idFechaCierre").val("");
            $("#idEfectiva").val("");
            $("#idEstado").val("");
        }

        $.ajaxSetup({

            error: function (jqXHR, textStatus, errorThrown) {

                if (jqXHR.status === 0) {

                    alert('Not connect: Verify Network.');

                } else if (jqXHR.status == 404) {

                    alert('Requested page not found [404]');

                } else if (jqXHR.status == 500) {

                    alert('Internal Server Error [500].');

                } else if (textStatus === 'parsererror') {

                    alert('Requested JSON parse failed.');

                } else if (textStatus === 'timeout') {

                    alert('Time out error.');

                } else if (textStatus === 'abort') {

                    alert('Ajax request aborted.');

                } else {

                    alert('Uncaught Error: ' + jqXHR.responseText);

                }
            }
        });

        $(document).ready(function () {
            ClearTextBox();
            GestorActions();
        });

    </script>
}