@model WSafe.Domain.Models._DetailsAccionVM

@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var fecha = DateTime.Today;
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string signatureUser = Session["signatureUser"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
    string imageUrl2 = string.IsNullOrEmpty(signatureUser) ? string.Empty : $"data:image/png;base64,{signatureUser}";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

@Html.Partial("_CabezoteFormat")

<div class="container">
    <div style="display:inline-flex">
        <p>
            FECHA SOLICITUD : <strong><b>@Html.DisplayFor(model => model.FechaSolicitud)</b></strong>
            TIPO ACCIÓN : <strong><b>@Html.DisplayFor(model => model.Categoria)</b></strong>
            CONSECUTIVO : <strong><b>@Html.DisplayFor(model => model.ID)</b></strong>
        </p>
    </div>
</div>

<div class="container" style="display:flex">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>NOMBRE Y CARGO DE QUIEN REPORTA</b></strong>
        </p>
        <p style="text-align:center">
            @Html.DisplayFor(model => model.Responsable)  Cargo : @Html.DisplayFor(model => model.Cargo)
        </p>
    </div>
    <div>
        <p style="text-align:center">
            PROCESO : <strong><b>@Html.DisplayFor(model => model.Proceso)</b></strong>
        </p>
    </div>
</div>
<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>FUENTE QUE ORIGINÓ LA ACCIÓN CORRECTIVA, PREVENTIVA O DE MEJORA</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.FuenteAccion)
        </p>
    </div>
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>DESCRIPCIÓN DE LA NO CONFORMIDAD REAL O POTENCIAL U OPORTUNDAD DE MEJORA</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.Descripcion)
        </p>
    </div>
</div>
<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>ANÁÑISIS DE CAUSALIDAD DE LA NO CONFORMIDAD REAL O POTENCIAL U OPORTUNDAD DE MEJORA</b></strong>
        </p>
        @{
            if (Model.MainCause1 != null)
            {
                <p>
                    <strong>CAUSA 1:</strong> @Html.DisplayFor(model => model.MainCause1)
                </p>
            }

            if (Model.MainCause2 != null)
            {
                <p>
                    <strong>CAUSA 2:</strong> @Html.DisplayFor(model => model.MainCause2)
                </p>
            }

            if (Model.MainCause3 != null)
            {
                    <p>
                        <strong>CAUSA 3:</strong> @Html.DisplayFor(model => model.MainCause3)
                    </p>
             }

            if (Model.MainCause4 != null)
            {
                <p>
                    <strong>CAUSA 4:</strong> @Html.DisplayFor(model => model.MainCause4)
                </p>
            }

            if (Model.MainCause5 != null)
            {
                <p>
                    <strong>CAUSA 5:</strong> @Html.DisplayFor(model => model.MainCause5)
                </p>
            }
        }
    </div>
</div>
@{
    if (Model.Planes.Count() > 0)
    {
        <div>
            <p style="text-align:center; background-color:grey">
                <strong><b>PLAN DE ACCIÓN</b></strong>
            </p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        ACTIVIDAD
                    </th>
                    <th>
                        PRIORITARIA
                    </th>
                    <th>
                        RESPONSABLE
                    </th>
                    <th>
                        FECHA INICIAL
                    </th>
                    <th>
                        FECHA FINAL
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model.Planes)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Accion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prioritaria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Responsable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaFinal)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    if (Model.Seguimientos.Count() > 0)
    {
        <div>
            <p style="text-align:center; background-color:grey">
                <strong><b>SEGUIMIENTO A LA EJECUCIÓN DEL PLAN</b></strong>
            </p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        FECHA SEGUIMIENTO
                    </th>
                    <th>
                        RESULTADO
                    </th>
                    <th>
                        RESPONSABLE
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model.Seguimientos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaSeguimiento)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Resultado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Responsable)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
}


<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>EVIDENCIA DE LA EFICACIA DE LA ACCIÓN TOMADA</b></strong>
        </p>
    </div>
    <div style="display:inline-block">
        <div>
            <p style="text-align:center">
                VARIABLE O INDICADOR DE CONTROL ANTES : <strong><b>@Html.DisplayFor(model => model.EficaciaAntes)</b></strong>
                VARIABLE O INDICADOR DE CONTROL DESPUES : <strong><b>@Html.DisplayFor(model => model.EficaciaDespues)</b></strong>
            </p>
        </div>
    </div>
</div>

<div class="container" style="display:inline-flex">
    <div>
        <p style="text-align:center">
            FECHA DE CIERRE DE LA ACCIÓN : <strong><b>@Html.DisplayFor(model => model.FechaCierre)</b></strong>
            LA ACCIÓN TOMADA FUE EFECTIVA ? : <strong><b>@Html.DisplayFor(model => model.Efectiva)</b></strong>
        </p>
    </div>
</div>
<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
        <div class="col-md-5 text-center" style="padding: 20px;">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl2" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del usuario responsable</strong></div>
        </div>
    </div>
</div>
