@model WSafe.Web.Models.AccionViewModel

@{
    var title = "GESTIONAR ACCIONES CORRECTIVAS, PREVENTIVAS Y/O DE MEJORA";
    var accionID = ViewBag.AccionID;
    var categorias = ViewBag.Categorias;
}

<style>

    .tabIdCausas, .tabGesPlanAcc, .tabGesSeguiPlanAcc, .tabPlanAcc, .tabSeguimAcc, .tabSeguimPlanAcc, .tabAddPlanAcc, .tabAddSeguimAcc {
        display: none;
    }
</style>

<hr />
<hr />
<h4>@title</h4>

<div class="pull-left">
    <div class="btn-group">
        <button type="button" class="btn btn-info" id="idCausas" title="doble click para cerrar la ventana"> 1. IDENTIFICAR NO CONFORMIDAD</button>
        <button type="button" class="btn btn-info" id="planAcc" title="doble click para cerrar la ventana"> 2. PLAN DE ACCIÓN</button>
        <button type="button" class="btn btn-info" id="seguimAcc" title="doble click para cerrar la ventana"> 3. SEGUIMIENTO</button>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" id="txtAccionID" name="txtAccionID" />
    <div class="tabIdCausas">
        @Html.Partial("_EditarNoConformidad")
        <div class="row">
            <div class="col-md-8">
                <button type="button" class="btn btn-info" onclick="UpdateAccion(@ViewBag.AccionID)">Guardar</button>
                <button type="button" id="btnCanAccc" class="btn btn-info" onclick="CancelAccion()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesPlanAcc">
        <hr />
        <input type="hidden" id="planAccionID" name="planAccionID" />
        @Html.Partial("_BorrarPlanAcc")
    </div>

    <div class="tabAddPlanAcc">
        <input type="hidden" id="txtPlanAccionID" name="txtPlanAccionID" />
        @Html.Partial("_ModificaPlan")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddPlan" class="btn btn-primary" onclick="AddPlanAccion()">Adicionar</button>
                <button type="button" id="btnUpdPlan" class="btn btn-primary" onclick="UpdatePlanAcc()">Actualizar</button>
                <button type="button" id="btnCanPlan" class="btn btn-primary" onclick="CancelPlan()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesSeguiPlanAcc">
        <hr />
        <input type="hidden" id="sigueAccionID" name="sigueAccionID" />
        @Html.Partial("_BorrarSigue")
    </div>

    <div class="tabAddSeguimAcc">
        @Html.Partial("_ModificaSigue")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddSigue" class="btn btn-primary" onclick="AddSeguiAcc()">Adicionar</button>
                <button type="button" id="btnUpdSigue" class="btn btn-primary" onclick="UpdateSigueAcc()">Actualizar</button>
                <button type="button" id="btnCanSigue" class="btn btn-primary" onclick="CancelSigue()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

@section Scripts
{
    <script type="text/javascript">

        function CancelAccion() {
            $(".tabIdCausas").css("display", "none");
        }

        $(document).ready(function () {
            ClearTextBox();
            $("#txtAccionID").val(@accionID);
            GestorActions();
        });

        $('#idFechaIni').change(function () {
            var fecha = $("#idFechaIni").val();
            validarFechaIni(fecha);
        });

        $('#idFechaFin').change(function () {
            var fechaIni = $("#idFechaIni").val();
            var fechaFin = $("#idFechaFin").val();
            validarFechaFin(fechaIni, fechaFin);
        });

        $('#FechaSolicitud').change(function () {
            var fecha = $("#FechaSolicitud").val();
            validarFechaIni(fecha);
        });

        $('#FechaCierre').change(function () {
            var fechaIni = $("#idFechaIni").val();
            var fechaFin = $("#FechaCierre").val();
            validarFechaFin(fechaIni, fechaFin);
        });

        $('#txtFechaSeg').change(function () {
            var fechaSeg = $("#txtFechaSeg").val();
            validarFechaIni(fechaSeg);
        });

    </script>
}