@model WSafe.Web.Models.AccionViewModel

@{
    var title = "GESTIONAR ACCIONES CORRECTIVAS, PREVENTIVAS Y/O DE MEJORA";
    var accionID = ViewBag.AccionID;
    var categorias = ViewBag.Categorias;
    var userID = Model.UserID;
}

<style>

    .tabIdCausas, .tabGesPlanAcc, .tabGesSeguiPlanAcc, .tabPlanAcc, .tabSeguimAcc, .tabSeguimPlanAcc, .tabAddPlanAcc, .tabAddSeguimAcc {
        display: none;
    }

    .centerText {
        text-align: center
    }

</style>

<h4 class="centerText">@title</h4>
<hr />
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-10">
            <button type="button" class="btn btn-success btn-lg" id="idCausas" title="doble click para cerrar la ventana"><i class="fa fa-warning"></i> 1. IDENTIFICAR NO CONFORMIDAD</button>
            <button type="button" class="btn btn-success btn-lg" id="planAcc" title="doble click para cerrar la ventana"><i class="fa fa-tasks"></i>  2. PLANES DE ACCIÓN</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OrganizationID)
    @Html.HiddenFor(model => model.ClientID)
    @Html.HiddenFor(model => model.UserID)

    <input type="hidden" id="userID" name="userID" value="@userID" />
    <input type="hidden" id="txtAccionID" name="txtAccionID" />

    <div class="tabIdCausas">
        @Html.Partial("_EditarNoConformidad")
        <div class="row">
            <div class="col-md-8">
                <button type="button" class="btn btn-info" onclick="UpdateAccion(@ViewBag.AccionID)">Guardar</button>
                <button type="button" id="btnCanAccc" class="btn btn-info" onclick="CancelAccion()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesPlanAcc">
        <hr />
        <input type="hidden" id="planAccionID" name="planAccionID" />
        @Html.Partial("_BorrarPlanAcc")
    </div>

    <div class="tabAddPlanAcc">
        <input type="hidden" id="txtPlanAccionID" name="txtPlanAccionID" />
        @Html.Partial("_ModificaPlan")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddPlan" class="btn btn-primary" onclick="AddPlanAccion()">Adicionar</button>
                <button type="button" id="btnUpdPlan" class="btn btn-primary" onclick="UpdatePlanAcc()">Actualizar</button>
                <button type="button" id="btnCanPlan" class="btn btn-primary" onclick="CancelPlan()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesSeguiPlanAcc">
        <hr />
        <input type="hidden" id="sigueAccionID" name="sigueAccionID" />
        @Html.Partial("_BorrarSigue")
    </div>

    <div class="tabAddSeguimAcc">
        @Html.Partial("_ModificaSigue")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddSigue" class="btn btn-primary" onclick="AddSeguiAcc()">Adicionar</button>
                <button type="button" id="btnUpdSigue" class="btn btn-primary" onclick="UpdateSigueAcc()">Actualizar</button>
                <button type="button" id="btnCanSigue" class="btn btn-primary" onclick="CancelSigue()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

@section Scripts
{
    <script type="text/javascript">

        function CancelAccion() {
            $(".tabIdCausas").css("display", "none");
        }

        $(document).ready(function () {
            ClearTextBox();
            $("#txtAccionID").val(@accionID);
            GestorActions();
        });

        $('#idFechaIni').change(function () {
            var fecha = $("#idFechaIni").val();
            validarFechaIni(fecha);
        });

        $('#idFechaFin').change(function () {
            var fechaIni = $("#idFechaIni").val();
            var fechaFin = $("#idFechaFin").val();
            validarFechaFin(fechaIni, fechaFin);
        });

        $('#FechaSolicitud').change(function () {
            var fecha = $("#FechaSolicitud").val();
            validarFechaIni(fecha);
        });

        $('#FechaCierre').change(function () {
            var fechaIni = $("#idFechaIni").val();
            var fechaFin = $("#FechaCierre").val();
            validarFechaFin(fechaIni, fechaFin);
        });

        $('#txtFechaSeg').change(function () {
            var fechaSeg = $("#txtFechaSeg").val();
            validarFechaIni(fechaSeg);
        });

    </script>
}