@model IEnumerable<WSafe.Web.Models.AccionViewModel>

@{
    ViewBag.Title = "Index";
}

<style>

    .tabConsActions {
        display: none
    }

    .centerText{
        text-align:center;
    }

</style>

<h4 class="centerText">GESTIÓN DE ACCIONES CPM</h4>
<hr />
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-2">
            NÚMERO TRABAJADORES : @Session["numeroTrabajadores"].ToString().Trim()
        </div>
        <div class="col-md-2">
            CLASE RIESGO : @Session["riesgo"].ToString().Trim()
        </div>
        <div class="col-md-3">
            HORARIO : @Session["turnoOperativo"].ToString().Trim()
        </div>
        <div class="col-md-2">
            PERIODO : @Session["year"].ToString().Trim()
        </div>
        <div class="col-md-3">
            RESPONSABLE SG-SST : @Session["responsable"].ToString().Trim()
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            @Html.ActionLink(" Nueva acción", "Create", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus" })
            @Html.ActionLink(" Generar matriz de acciones", "ActionsMatrixPdf", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-download-alt" })
            <button class="btn btn-success btn-lg active glyphicon glyphicon-search" onclick="FindActions()"> Indicadores</button><br>
        </div>
    </div>
</div>
<br />

<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                FECHA SOLICITUD
            </th>
            <th>
                TIPO
            </th>
            <th>
                ORIGEN
            </th>
            <th>
                NO CONFORMIDAD
            </th>
            <th>
                ANTES
            </th>
            <th>
                DESPUES
            </th>
            <th>
                FECHA CIERRE
            </th>
            <th>
                EFECTIVA
            </th>
            <th>
                ESTADO
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                string txtColor = String.Empty;
                switch ((int)item.ActionCategory)
                {
                    case 1:
                        txtColor = "background-color:red";
                        break;

                    case 2:
                        txtColor = "background-color:yellow";
                        break;

                    case 3:
                        txtColor = "background-color:green";
                        break;
                }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSolicitud)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EficaciaAntes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EficaciaDespues)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCierre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Efectiva)
                </td>
                <td style="@txtColor">
                    @Html.DisplayFor(modelItem => item.ActionState)
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @title="Actualizar"})
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "PrintAccionesToPdf", new { id = item.ID }, new { @class = "glyphicon glyphicon-download-alt", @title = "Imprimir" })
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    <a href="#" title="Descartar" onclick="DeleteAccion('@item.ID')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div class="tabConsActions">
    <div class="container">
        <button type="button" id="noConformance" class="btn btn-success btn-lg active glyphicon glyphicon-search" onclick="chartNoConformance()"></button>
        <button type="button" id="numActions" class="btn btn-success btn-lg active glyphicon glyphicon-search" onclick="chartActions()"></button>
        <button type="button" id="numCorrective" class="btn btn-success btn-lg active glyphicon glyphicon-search" onclick="chartCorrectiveActions()"></button>
        <button type="button" id="numEfectives" class="btn btn-success btn-lg active glyphicon glyphicon-search" onclick="chartEfectiveActions()"></button>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div><canvas id="NoConformance" width="200" height="100"></canvas></div>
            </div>
            <div class="col-md-6">
                <div><canvas id="NumActions" width="200" height="100"></canvas></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div><canvas id="NumCorrective" width="200" height="100"></canvas></div>
            </div>
            <div class="col-md-6">
                <div><canvas id="efectives" width="200" height="100"></canvas></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
}
