@model IEnumerable<WSafe.Web.Models.AccionViewModel>

@{
    ViewBag.Title = "Index";
}
<h2>GESTIÓN DE ACCIONES</h2>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Nueva Acción", "Create", new { @class = "glyphicon glyphicon-plus" },
        new { @class = "btn btn-info btn-lg active" })
    </div>
    <div class="col-md-4">
        Buscar : <input type="search" id="myInput" placeholder="Escriba un nombre de elemento para filtrar" style="width:350px">
    </div>
</div>

<table class="table">
    <tr style="background-color:gainsboro">
        <th>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EficaciaAntes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EficaciaDespues)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efectiva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>Opciones</th>
    </tr>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EficaciaAntes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EficaciaDespues)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Efectiva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td style="font-size:18px">
                @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" }) |
                @Html.ActionLink(" ", "PrintAccionesToPdf", new { id = item.ID }, new { @class = "glyphicon glyphicon-download-alt" }) |
            </td>
            <td style="font-size:10px">
                <button onclick="DeleteAccion('@item.ID')"><span class="glyphicon glyphicon-trash"></span></button>
            </td>
        </tr>
        }
    </tbody>
</table>
<hr />
<p>@ViewBag.ErrorMessage</p>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
}
