@model IEnumerable<WSafe.Web.Models.AccionViewModel>

@{
    ViewBag.Title = "Index";
}

<style>
    .tabConsActions {
        display: none
    }
</style>

<br />
<br />
<br />
<h4>GESTIÓN DE ACCIONES CPM</h4>
<div class="container" style="margin-left:6%">
    @Html.ActionLink("Nueva Acción", "Create", new { @class = "glyphicon glyphicon-plus" },
    new { @class = "btn btn-info btn-lg active" })
    <button class="btn btn-info btn-lg active" onclick="FindActions()">Consultar Acciones</button><br>
</div>
<br />

<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                FECHA SOLICITUD
            </th>
            <th>
                TIPO
            </th>
            <th>
                ORIGEN
            </th>
            <th>
                NO CONFORMIDAD
            </th>
            <th>
                ANTES
            </th>
            <th>
                DESPUES
            </th>
            <th>
                FECHA CIERRE
            </th>
            <th>
                EFECTIVA
            </th>
            <th>
                ESTADO
            </th>
            <th>
            </th>
        </tr>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
                string txtColor = String.Empty;
                switch ((int)item.ActionCategory)
                {
                    case 1:
                        txtColor = "background-color:red";
                        break;

                    case 2:
                        txtColor = "background-color:yellow";
                        break;

                    case 3:
                        txtColor = "background-color:green";
                        break;
                }

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaSolicitud)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Origen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EficaciaAntes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EficaciaDespues)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCierre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Efectiva)
                    </td>
                    <td style="@txtColor">
                        @Html.DisplayFor(modelItem => item.ActionState)
                    </td>
                    <td style="margin:initial; background-color:deepskyblue; text-align:left">
                        @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "PrintAccionesToPdf", new { id = item.ID }, new { @class = "glyphicon glyphicon-download-alt" })
                        <a href="#" onclick="DeleteAccion('@item.ID')"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tabConsActions">
    <div class="pull-left">
        <div class="btn-group">
            <button type="button" id="noConformance" class="btn btn-secondary btn-lg" onclick="chartNoConformance()"></button>
            <button type="button" id="numActions" class="btn btn-secondary btn-lg" onclick="chartActions()"></button>
            <button type="button" id="numCorrective" class="btn btn-secondary btn-lg" onclick="chartCorrectiveActions()"></button>
        </div>
    </div>
    <div class="row" style="margin-top:8%">
        <div class="col-lg-6">
            <img src="" id="NoConformance" class="rounded float-left" alt="..." />
        </div>
        <div class="col-lg-6">
            <img src="" id="NumActions" class="rounded float-left" alt="..." />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="" id="NumCorrective" class="rounded float-left" alt="..." />
        </div>
        <div class="col-lg-6">
        </div>
    </div>

</div>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

    </script>
}
