@model WSafe.Web.Models.IncidenteViewModel
@{
    var title = "GESTIONAR INCIDENTES Y ACCIDENTES DE TRABAJO";
}

<style>
    .detal, .tabGeneral, .tabLesionados, .tabDescrip, .tabAcciones, .tabMatriz, .tabAddLesionado
    {
        display: none;
    }

</style>

<hr />
<hr />
<h4>@title</h4>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-info" id="general" title="doble click para cerrar la ventana">INFORMACIÓN GENERAL</button>
        <button type="button" class="btn btn-info" id="detalles" title="doble click para cerrar la ventana">DETALLES</button>
        <button type="button" class="btn btn-info" id="descripcion" title="doble click para cerrar la ventana">DESCRIPCIÓN</button>
        <button type="button" class="btn btn-info" id="acciones" title="doble click para cerrar la ventana">ACCIONES DE CONTROL</button>
        <button type="button" class="btn btn-info" id="matriz" title="doble click para cerrar la ventana">MATRIZ POTENCIAL</button>
        <button type="button" class="btn btn-info" id="lesionados" title="doble click para cerrar la ventana">TRABAJADORES LESIONADOS</button>
    </div>
    <div class="col-md-offset-0">
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="tabGeneral">
        <hr />
        @Html.Partial("_EditarInfoIncidente")
        <input type="hidden" id="txtIncidenteID" name="txtIncidenteID" />
    </div>

    <div class="detal">
        @Html.Partial("_DetalleIncidente")
    </div>

    <div class="tabDescrip">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionIncidente, new { htmlAttributes = new { @class = "form-control", @id = "txtDescripcion" } })
                @Html.ValidationMessageFor(model => model.DescripcionIncidente, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="tabAcciones">
        @Html.Partial("_AccionesIncidente")
    </div>

    <div class="tabMatriz">
        @Html.Partial("_MatrizIncidente")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddIncidente" class="btn btn-info" onclick="AddIncidente()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="tabLesionados">
        <hr />
        @Html.Partial("_ConsultarLesionados")
    </div>

    <div class="tabAddLesionado">
        @Html.Partial("_ModificaLesion")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddLesion" class="btn btn-info" onclick="AddLesionados()">Agregar</button>
                <button type="button" id="btnCanLesion" class="btn btn-primary" onclick="CancelLesion()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

@section Scripts
{
    <script>
        // tabs de formato incidentes

        $(document).ready(function () {
            //ClearTextBox();
            GestorIncidents();
        });

        $('#FechaReporte').change(function () {
            var fecha = $("#FechaReporte").val();
            validarFechaIni(fecha);
        });

        $('#FechaIncidente').change(function () {
            var fechaIni = $("#FechaReporte").val();
            var fechaFin = $("#FechaIncidente").val();
            validarFechaIncidente(fechaIni, fechaFin);
        });

    </script>
}