@model WSafe.Web.Models.IncidenteViewModel
@{
    var title = "GESTIONAR INCIDENTES Y ACCIDENTES DE TRABAJO";
}

<style>
    .detal, .tabGeneral, .tabLesionados, .tabDescrip, .tabAcciones, .tabMatriz
    {
        display: none;
    }

</style>

<hr />
<hr />
<h4>@title</h4>
<div class="row">
    <div class="col-md-12">
        <button type="button" class="btn btn-warning" id="general" title="doble click para cerrar la ventana">INFORMACIÓN GENERAL</button>
        <button type="button" class="btn btn-warning" id="detalles" title="doble click para cerrar la ventana">DETALLES</button>
        <button type="button" class="btn btn-warning" id="descripcion" title="doble click para cerrar la ventana">DESCRIPCIÓN</button>
        <button type="button" class="btn btn-warning" id="acciones" title="doble click para cerrar la ventana">ACCIONES DE CONTROL</button>
        <button type="button" class="btn btn-warning" id="matriz" title="doble click para cerrar la ventana">MATRIZ POTENCIAL</button>
        <button type="button" class="btn btn-warning" id="lesionados" title="doble click para cerrar la ventana">TRABAJADORES LESIONADOS</button>
    </div>
    <div class="col-md-offset-0">
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" id="txtIncidenteID" name="txtIncidenteID" />

    <div class="tabGeneral">
        <hr />
        @Html.Partial("_EditarInfoIncidente")
    </div>

    <div class="detal">
        @Html.Partial("_DetalleIncidente")
    </div>

    <div class="tabDescrip">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.DescripcionIncidente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DescripcionIncidente, new { htmlAttributes = new { @class = "form-control", @id = "txtDescripcion" } })
                @Html.ValidationMessageFor(model => model.DescripcionIncidente, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="tabAcciones">
        @Html.Partial("_AccionesIncidente")
    </div>

    <div class="tabMatriz">
        @Html.Partial("_MatrizIncidente")
        <div class="row">
            <div class="col-md-8">
                <button type="button" id="btnAddIncidente" class="btn btn-success" onclick="AddIncidente()">Agregar</button>
            </div>
        </div>
    </div>

    <div class="tabLesionados">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    @Html.LabelFor(model => model.TrabajadorID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-4">
                        @Html.DropDownListFor(model => model.TrabajadorID, Model.Trabajadores, new { @class = "form-control", @id = "idLesionado" })
                        @Html.ValidationMessageFor(model => model.TrabajadorID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" id="addLesionado" class="btn btn-success" onclick="AddLesionado()">Agregar</button>
            </div>
        </div>

        <div class="form-group">
            <div id="lesionados" style="overflow-x:auto;">
                <table id="personsLesion" class="table">
                    <thead>
                        <tr style="background-color:gainsboro">
                            <th>
                                Documento
                            </th>
                            <th>
                                Nombres
                            </th>
                            <th>
                                Genero
                            </th>
                            <th>
                                Estado civil
                            </th>
                            <th>
                                TipoVinculación
                            </th>
                            <th>
                                Cargo
                            </th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Cerrar", "Index", new { @class = "glyphicon glyphicon-arrow-left" },
    new { @class = "btn btn-success btn-lg active" })
</div>

@section Scripts
{
    <script>
        // tabs de formato incidentes
        $('#general').click(function () {
            $(".tabGeneral").css("display", "block");
        });
        $('#general').dblclick(function () {
            $(".tabGeneral").css("display", "none");
        });

        $('#detalles').click(function () {
            $(".detal").css("display", "block");
        });
        $('#detalles').dblclick(function () {
            $(".detal").css("display", "none");
        });

        $('#lesionados').click(function () {
            $(".tabLesionados").css("display", "block");
        });
        $('#lesionados').dblclick(function () {
            $(".tabLesionados").css("display", "none");
        });

        $('#descripcion').click(function () {
            $(".tabDescrip").css("display", "block");
        });
        $('#descripcion').dblclick(function () {
            $(".tabDescrip").css("display", "none");
        });

        $('#acciones').click(function () {
            $(".tabAcciones").css("display", "block");
        });
        $('#acciones').dblclick(function () {
            $(".tabAcciones").css("display", "none");
        });

        $('#matriz').click(function () {
            $(".tabMatriz").css("display", "block");
        });
        $('#matriz').dblclick(function () {
            $(".tabMatriz").css("display", "none");
        });

        $('#equipoInvest').click(function () {
            var equipo = $('#equipoInvest').val();
            var colorAttrib;
            switch (equipo) {
                case "1":
                    colorAttrib = "red";
                    break;

                case "2":
                    colorAttrib = "yellow";
                    break;

                default:
                    colorAttrib = "green";
                    break;
            }

            $("#equipoInvest").css("backgroundColor", colorAttrib, "color", "black");
        });

        $('#interpretaP').change(function () {
            var valLesion = $('#idLesion').val();
            var valDaño = $('#idDaño').val();
            var valMedio = $('#idMedio').val();
            var valImagen = $('#idImagen').val();
            var valInterpretaP = $('#interpretaP').val();

            if ((valLesion == "1" || valLesion == "2") && (valDaño == "1" || valDaño == "2") && (valMedio == "1" || valMedio == "2")
                && (valImagen == "1" || valImagen == "2")) {
                $('#interpretaP').css("backgroundColor", "green");
            };

            if (valLesion == "3" && valDaño == "3" && valMedio == "3" && valImagen == "3" && (valInterpretaP == "1" || valInterpretaP == "2" || valInterpretaP == "3")) {
                $('#interpretaP').css("backgroundColor", "green");
            };

            if (valLesion == "3" && valDaño == "3" && valMedio == "3" && valImagen == "3" && (valInterpretaP == "4" || valInterpretaP == "5")) {
                $('#interpretaP').css("backgroundColor", "yellow");
            };

            if (valLesion == "4" && valDaño == "4" && valMedio == "4" && valImagen == "4" && (valInterpretaP == "1" || valInterpretaP == "2")) {
                $('#interpretaP').css("backgroundColor", "green");
            };

            if (valLesion == "4" && valDaño == "4" && valMedio == "4" && valImagen == "4" && (valInterpretaP == "3" || valInterpretaP == "4" || valInterpretaP == "5")) {
                $('#interpretaP').css("backgroundColor", "yellow");
            };

            if (valLesion == "5" && valDaño == "5" && valMedio == "5" && valImagen == "5" && valInterpretaP == "1") {
                $('#interpretaP').css("backgroundColor", "green");
            };

            if (valLesion == "5" && valDaño == "5" && valMedio == "5" && valImagen == "5" && (valInterpretaP == "2" || valInterpretaP == "3"  )) {
                $('#interpretaP').css("backgroundColor", "yellow");
            };

            if (valLesion == "5" && valDaño == "5" && valMedio == "5" && valImagen == "5" && (valInterpretaP == "4" || valInterpretaP == "5")) {
                $('#interpretaP').css("backgroundColor", "red");
            };

            if (valLesion == "6" && valDaño == "6" && valMedio == "6" && valImagen == "6" && (valInterpretaP == "1" || valInterpretaP == "2")) {
                $('#interpretaP').css("backgroundColor", "yellow");
            };

            if (valLesion == "6" && valDaño == "6" && valMedio == "6" && valImagen == "6" && (valInterpretaP == "3" || valInterpretaP == "4" || valInterpretaP == "5")) {
                $('#interpretaP').css("backgroundColor", "red");
            };
        });

        function AddLesionado() {
            var idAccidented = $("#idLesionado").val();
            if (idAccidented != null && idAccidented != '') {
                $.ajax({
                    type: "GET",                                            // tipo de request que estamos generando
                    url: '/Incidentes/GetLesionado',                                      // URL al que vamos a hacer el pedido
                    data: { ID: $("#idLesionado").val() },                                         // data es un arreglo JSON que contiene los parámetros que
                    contentType: "application/json; charset=utf-8",            // tipo de contenido
                    dataType: "json",                                          // formato de transmición de datos
                    async: true,                                               // si es asincrónico o no
                    success: function (accidented) {                           // función que va a ejecutar si el pedido fue exitoso
                        if (accidented != null && !jQuery.isEmptyObject(accidented)) {
                            var modelo = @Html.Raw(Json.Encode(Model));
                            var idTrabajador = accidented.TrabajadorID;
                            var result = -1;
                            modelo.Lesionados.forEach(function (i, item) {
                                var id = item.TrabajadorID;
                                if (id == idTrabajador) {
                                    result = i;
                                }
                            });

                            if (result < 0) {
                                var consulta = "";
                                consulta += '<tr>';
                                consulta += '<td>' + accidented.Documento + '</td>';
                                consulta += '<td>' + accidented.NombreCompleto + '</td>';
                                consulta += '<td>' + accidented.Genero + '</td>';
                                consulta += '<td>' + accidented.EstadoCivil + '</td>';
                                consulta += '<td>' + accidented.TipoVinculacion + '</td>';
                                consulta += '<td>' + accidented.Cargo + '</td>';
                                consulta += '</tr>';
                                $("#personsLesion").append(consulta);

                                modelo.Lesionados.append($({
                                    IncidenteID: modelo.IncidenteID,
                                    TrabajadorID: accidented.TrabajadorID
                                }));
                            }
                        };
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) { // función que va a ejecutar si hubo algún tipo de error en el pedido
                        var error = eval("(" + XMLHttpRequest.responseText + ")");
                        aler(error.Message);
                    }
                });
            }
        }

    </script>
}