@model WSafe.Web.Models.DetailsIncidentVM

@{
    var title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var fecha = DateTime.Today;
    var year = ViewBag.Year;
    var ahora = DateTime.Now;
    var id = ViewBag.id;
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Images/LogoEntidad.png" class="img-responsive" alt="Cinque Terre" width="80" height="80"><img />
        </div>
        <div class="col-md-10">
            <div style="display:block">
                <div style="text-align:center">
                    <h4>@title</h4>
                </div>
                <div style="text-align:center">
                    <p>
                        <strong><b>@Session["organization"].ToString()</b></strong>
                    </p>
                </div>
                <div style="text-align:center">
                    <p>
                        <strong><b>@Html.DisplayFor(model => model.Titulo)</b></strong>
                    </p>
                </div>
                <div style="text-align:center">
                    <p>
                        FORMATO N°:  <strong><b>@Html.DisplayFor(model => model.Formato)</b></strong>
                        ESTANDAR :  <strong><b>@Html.DisplayFor(model => model.Estandar)</b></strong>
                        FECHA : <strong><b>@fecha</b></strong>
                        VERSIÓN : <strong><b>@Html.DisplayFor(model => model.Version)</b></strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="display:inline-flex">
        <p>
            CONSECUTIVO : <strong><b>@Html.DisplayFor(model => model.ID)</b></strong>
            LUGAR : <strong><b>@Html.DisplayFor(model => model.Lugar)</b></strong>
            FECHA SOLICITUD : <strong><b>@Html.DisplayFor(model => model.FechaReporte)</b></strong>
        </p>
    </div>
</div>
<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>INFORMACIÓN GENERAL</b></strong>
        </p>
    </div>
    <div style="display:inline-flex">
        <p>
            FECHA DEL EVENTO : <strong><b>@Html.DisplayFor(model => model.FechaIncidente)</b></strong>
            CLASIFICACIÓN FINAL : <strong><b>@Html.DisplayFor(model => model.CategoriasIncidente)</b></strong>
            DIAS INCAPACIDAD : <strong><b>@Html.DisplayFor(model => model.DiasIncapacidad)</b></strong>
            REPORTADO POR : <strong><b>@Html.DisplayFor(model => model.Informante)</b></strong>
        </p>
    </div>
</div>
<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>DETALLES DEL INCIDENTE</b></strong>
        </p>
    </div>
    <div style="display:inline-flex">
        <p>
            Naturaleza Lesion : <strong><b>@Html.DisplayFor(model => model.NaturalezaLesion)</b></strong>
        </p>
        <p>
            Partes Afectadas : <strong><b>@Html.DisplayFor(model => model.PartesAfectadas)</b></strong>
        </p>
        <p>
            Tipo Incidente : <strong><b>@Html.DisplayFor(model => model.TipoIncidente)</b></strong>
            Agente Lesion : <strong><b>@Html.DisplayFor(model => model.AgenteLesion)</b></strong>
        </p>
        <p>
            Actos Inseguros : <strong><b>@Html.DisplayFor(model => model.ActosInseguros)</b></strong>
            CondicionesInsegura : <strong><b>@Html.DisplayFor(model => model.CondicionesInsegura)</b></strong>
        </p>
        <p>
            Tipo Daño : <strong><b>@Html.DisplayFor(model => model.TipoDaño)</b></strong>
            Afectacion : <strong><b>@Html.DisplayFor(model => model.Afectacion)</b></strong>
        </p>
        <p>
            Daños Ocasionados : <strong><b>@Html.DisplayFor(model => model.DañosOcasionados)</b></strong>
        </p>
        <p>
            Tipo Vehiculo : <strong><b>@Html.DisplayFor(model => model.TipoVehiculo)</b></strong>
            Marca Vehiculo : <strong><b>@Html.DisplayFor(model => model.MarcaVehiculo)</b></strong>
            Modelo Vehiculo : <strong><b>@Html.DisplayFor(model => model.ModeloVehiculo)</b></strong>
        </p>
        <p>
            Kilometraje Vehiculo : <strong><b>@Html.DisplayFor(model => model.KilometrajeVehiculo)</b></strong>
            Costos Estimados : <strong><b>@Html.DisplayFor(model => model.CostosEstimados)</b></strong>
        </p>
    </div>
</div>
<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>DESCRIPCIÓN CLARA DEL INCIDENTE</b></strong>
        </p>
        <p>
            @Html.DisplayFor(model => model.DescripcionIncidente)
        </p>
    </div>
</div>
<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>ACCIONES DE CONTROL</b></strong>
        </p>
        <p>
            Como Evitar Incidente : <strong><b>@Html.DisplayFor(model => model.EvitarIncidente)</b></strong>
        </p>
        <p>
            Acciones Inmediatas : <strong><b>@Html.DisplayFor(model => model.AccionesInmediatas)</b></strong>
        </p>
        <p>
            ComentariosAdicionales : <strong><b>@Html.DisplayFor(model => model.ComentariosAdicionales)</b></strong>
        </p>
        <p>
            Atencion Brindada : <strong><b>@Html.DisplayFor(model => model.AtencionBrindada)</b></strong>
        </p>
    </div>
</div>

@{
    if (@ViewBag.cantidad > 0)
    {
        <div>
            <p style="text-align:center; background-color:grey">
                <strong><b>TRABAJADORES LESIONADOS</b></strong>
            </p>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Documento
                    </th>
                    <th>
                        Nombre Completo
                    </th>
                    <th>
                        Fecha Nacimiento
                    </th>
                    <th>
                        Genero
                    </th>
                    <th>
                        Estado Civil
                    </th>
                    <th>
                        Tipo Vinculacion
                    </th>
                    <th>
                        Cargo
                    </th>
                </tr>
            </thead>
            <tbody class="tbody">
                @foreach (var item in Model.Lesionados)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCompleto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoCivil)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoVinculacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cargo)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
}

<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>MATRIZ POTENCIAL</b></strong>
        </p>
    </div>
    <div style="display:inline-block">
        <div>
            <p style="text-align:center">
                Consecuencias Lesion : <strong><b>@Html.DisplayFor(model => model.ConsecuenciasLesion)</b></strong>
                Consecuencias Daño : <strong><b>@Html.DisplayFor(model => model.ConsecuenciasDaño)</b></strong>
                Consecuencias Medio : <strong><b>@Html.DisplayFor(model => model.ConsecuenciasMedio)</b></strong>
            </p>
            <p style="text-align:center">
                Consecuencias Imagen : <strong><b>@Html.DisplayFor(model => model.ConsecuenciasImagen)</b></strong>
                Probabilidad : <strong><b>@Html.DisplayFor(model => model.Probabilidad)</b></strong>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <p style="text-align:center; background-color:grey">
                <strong><b>CONFORMACIÓN EQUIPO INVESTIGADOR</b></strong>
                Equipo Investigador : <strong><b>@Html.DisplayFor(model => model.EquiposInvestigador)</b></strong>
            </p>
        </div>
        <div class="col-md-4">
            <p style="text-align:center; background-color:grey">
                <strong><b>TIPO PERDIDA</b></strong>
            </p>
            <p style="text-align:center">
                Lesion Personal : <strong><b>@Html.DisplayFor(model => model.LesionPersonal)</b></strong>
                Daño Material : <strong><b>@Html.DisplayFor(model => model.DañoMaterial)</b></strong>
                Medio Ambiente : <strong><b>@Html.DisplayFor(model => model.MedioAmbiente)</b></strong>
                Imagen : <strong><b>@Html.DisplayFor(model => model.Imagen)</b></strong>
            </p>
        </div>
        <div class="col-md-4">
            <p style="text-align:center">
                AMERITA INVESTIGACIÓN : <strong><b>@Html.DisplayFor(model => model.RequiereInvestigacion)</b></strong>
            </p>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="text-align:center; background-color:grey">
                <strong><b>FIRMA RESPONSABLE SG-SST</b></strong>
                Firma : <strong><b>@Html.DisplayFor(model => model.Firma)</b></strong>
            </p>
        </div>
    </div>
</div>