@model IEnumerable<WSafe.Domain.Data.Entities.Incidente>

@{
    ViewBag.Title = "WSafe";
}

<style>

    .tabConsActions {
        display: none
    }

    .centerText {
        text-align: center;
    }

    .tabAuthorize {
        display: none;
    }
</style>

@Html.Partial("_PageHead")

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink(" Nuevo incidente", "Create", null, new { @class = "btn btn-info btn-lg glyphicon glyphicon-plus" })
        </div>
    </div>
</div>
<hr class="mt-2">
<div class="table-responsive" style="background-color:azure">
    <table class="table table-bordered">
        <thead>
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    @Html.DisplayNameFor(model => model.FechaReporte)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaIncidente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CategoriasIncidente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IncapacidadMedica)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiasIncapacidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NaturalezaLesion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PartesAfectadas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoIncidente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AgenteLesion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActosInseguros)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CondicionesInsegura)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RequiereInvestigacion)
                </th>
                <th>
                </th>
                <th>
                </th>
                <th>
                </th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            string strStyle = String.Empty;
            switch (Convert.ToInt32(item.CategoriasIncidente))
            {

                case 1:
                    strStyle = "background-color:yellow;";
                    break;

                case 2:
                    strStyle = "background-color:orange;";
                    break;

                case 3:
                    strStyle = "background-color:red;";
                    break;

            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaReporte)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaIncidente)
                </td>
                <td style="@strStyle">
                    @Html.DisplayFor(modelItem => item.CategoriasIncidente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncapacidadMedica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiasIncapacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NaturalezaLesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartesAfectadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoIncidente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AgenteLesion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActosInseguros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CondicionesInsegura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequiereInvestigacion)
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit", @title = "Actualizar" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "PrintIncidentsToPdf", new { id = item.ID }, new { @class = "fas fa-file-pdf", @title = "Generar PDF" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    <a href="#" title="Descartar" onclick="DeleteIncident('@item.ID')"><span class="fas fa-trash"></span></a>
                </td>
            </tr>
        }

    </table>
</div>
