@model WSafe.Web.Models.MovimientVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovimientVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciclo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciclo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NormaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NormaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Document)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Document)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
