@model IEnumerable<WSafe.Domain.Models.MovimientVM>

@{
    var title = "INFORMACIÓN BÁSICA DE LA EMPRESA";
    var perMin = DateTime.Now.Year - 10;
    var perMax = DateTime.Now.Year;
    var _year = (string)Session["year"];
}

<style>
    .tabGesMovimientos, .tabAddMovimientos, .tabSendEmail {
        display: none;
    }

    .centerText {
        text-align: center;
    }

</style>

<h4 class="centerText">GESTIÓN REPOSITORIO SG-SST: @Session["organization"].ToString().Trim()</h4>
@Html.Partial("_PageHead")

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" id="planear" title="doble click para cerrar la ventana">1. PLANEAR</button>
            <button type="button" class="btn btn-success" id="hacer" title="doble click para cerrar la ventana">2. HACER</button>
            <button type="button" class="btn btn-warning" id="verificar" title="doble click para cerrar la ventana">3. VERIFICAR</button>
            <button type="button" class="btn btn-info" id="actuar" title="doble click para cerrar la ventana">4. ACTUAR</button>
        </div>
        <div class="col-md-3">
            <label for="periodo" class="form-label">Periodo</label>
            <input type="number" class="form-group-sm" min="@perMin" max="@perMax" id="periodo" value="@_year">
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" id="addMovimient">Subir un archivo</button>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="tabAddMovimientos">
            @Html.Partial("_EditMovimient")

            <div class="row">
                <div class="col-md-8">
                    <hr class="mt-4">
                    <button type="button" id="btnAddMovimient" class="btn btn-primary" onclick="AddNewMovimient()">Subir archivo</button>
                    <button type="button" id="btnCanMovimient" class="btn btn-primary" onclick="CancelMovimient()">
                        <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                    </button>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        <div class="tabSendEmail">
            <input type="hidden" id="txtMovimientID" name="txtMovimientID" />
            @Html.Partial("_EditEmailForm")
        </div>

        <div class="tabGesMovimientos">
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-outline">
                            <select name="txtStandardID" class="form-control" id="txtStandardID">
                                <option selected="selected">Seleccione estándar a consultar</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" id="selectMovimient" title="Buscar">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>

            @Html.Partial("_ShowMovimientos")
        </div>

    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">

        $(document).ready(function () {
            ClearTextBox();
            loadNormas("P");
        });

        var ciclo = "";
        var url = "";
        var fileName = "";
        GestorMovimient();

        function CancelMovimient() {
            $(".tabAddMovimientos").css("display", "none");
            $("#txtStandardID").val("");
            $("#txtDescripcion").val("");
            $("#fileLoad").val("");
            $("#addMovimient").show();
        }

        function loadNormas(phva) {
            $.getJSON('@Url.Action("GetNormas")', { ciclo: phva }, function (result) {
                if (result != null) {
                    var html = '';
                    $.each(result, function (index, item) {
                        html += '<option value = "' + item.Value + '">' + item.Text + '</option>';
                    });
                    $("#txtStandardID").html(html);
                    $("#txtStandardID1").html(html);
                };
            });
        }

        function AddNewMovimient() {
            // Crea un nuevo movimiento
            var selectedFile = ($("#fileLoad"))[0].files[0];
            if (!selectedFile) {
                alert("No se ha seleccionado ningún archivo para subir !!");
                return false;
            }

            $(".tabAddMovimientos").css("display", "none");
            var dataFile = new FormData();
            dataFile.append("fileLoad", selectedFile);
            dataFile.append("NormaID", $("#txtStandardID1").val());
            dataFile.append("Descripcion", $("#txtDescripcion").val());

            $.ajax({
                url: '@Url.Action("CreateMovimient","Movimientos")',
                type: "POST",
                data: dataFile,
                contentType: false,
                processData: false,
                async: false,
                success: function (response) {
                    $("#btnAddMovimient").hide();
                    $("#btnCanMovimient").hide();
                    $("#txtStandardID1").val("");
                    $("#txtDescripcion").val("");
                    $(".tabAddMovimientos").css("display", "none");
                    $("#addMovimient").show();
                    $(".tabCerrar").css("display", "none");
                    alert(response.mensaj);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        function downLoadFile(url, fileName) {
            var anchor = document.createElement('a');
            anchor.style.display = "none";
            anchor.href = URL.createObjectURL(url);
            anchor.setAttribute("download", fileName);
            document.body.appendChild(anchor);
            anchor.click();
            window.URL.revokeObjectURL(anchor.href);
            document.body.removeChild(anchor);
        }

    </script>

}