@model IEnumerable<WSafe.Web.Models.MovimientVM>

@{
    var title = "INFORMACIÓN BÁSICA DE LA EMPRESA";
}

<style>
    .tabGesMovimientos, .tabAddMovimientos, .tabSendEmail
    {
        display: none;
    }
</style>

<hr />
<hr />
<h4 style="text-align:center"><strong>@Session["organization"].ToString().Trim()</strong></h4>
<hr />

<div class="row" style="text-align:center">
    <div class="col-md-2">
        NÚMERO TRABAJADORES : @Session["numeroTrabajadores"].ToString().Trim()
    </div>
    <div class="col-md-2">
        HORARIO DE TRABAJO : @Session["turnoOperativo"].ToString().Trim()
    </div>
    <div class="col-md-2">
        PERIODO : @Session["year"].ToString().Trim()
    </div>
    <div class="col-md-2">
        CLASE RIESGO : @Session["riesgo"].ToString().Trim()
    </div>
    <div class="col-md-4">
        RESPONSABLE SG-SST : @Session["responsable"].ToString().Trim()
    </div>
</div>
<hr />
<div class="container-fluid">
    <button type="button" class="btn btn-primary" id="planear" title="doble click para cerrar la ventana">1. PLANEAR</button>
    <button type="button" class="btn btn-warning" id="hacer" title="doble click para cerrar la ventana">2. HACER</button>
    <button type="button" class="btn btn-success" id="verificar" title="doble click para cerrar la ventana">3. VERIFICAR</button>
    <button type="button" class="btn btn-info" id="actuar" title="doble click para cerrar la ventana">4. ACTUAR</button>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="tabAddMovimientos">
        @Html.Partial("_EditMovimient")

        <div class="row">
            <div class="col-md-8">
                <hr />
                <button type="button" id="btnAddMovimient" class="btn btn-primary" onclick="AddNewMovimient()">Subir archivo</button>
                <button type="button" id="btnCanMovimient" class="btn btn-primary" onclick="CancelMovimient()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabSendEmail">
        <input type="hidden" id="txtMovimientID" name="txtMovimientID"/>
        @Html.Partial("_EditEmailForm")
    </div>

    <div class="tabGesMovimientos">
        <hr />
        <hr />
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary" id="addMovimient">Subir archivo</button>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <select name="txtStandardID" class="form-control form-control-lg" id="txtStandardID">
                        <option selected="selected" value="0">Seleccione un estándar ...</option>
                    </select>
                    <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="txtStandardID"></span>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-success" id="selectMovimient">Buscar</button>
            </div>
        </div>
        @Html.Partial("_ShowMovimientos")
    </div>

</div>
}

@section Scripts
{
    <script src="~/Scripts/GestorRiesgosSST.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            ClearTextBox();
            //$("#txtStandardID").focus();
        });

        var ciclo = "";
        var url = "";
        var fileName = "";
        GestorMovimient();

        function CancelMovimient() {
            $(".tabAddMovimientos").css("display", "none");
            $("#txtStandardID").val("");
            $("#txtDescripcion").val("");
            $("#fileLoad").val("");
            $("#addMovimient").show();
        }

        function loadNormas(phva) {
            $.getJSON('@Url.Action("GetNormas")', { ciclo: phva }, function (result) {
                if (result != null) {
                    var html = '';
                    $.each(result, function (index, item) {
                        html += '<option value = "' + item.Value + '">' + item.Text + '</option>';
                    });
                    $("#txtStandardID").html(html);
                    $("#txtStandardID1").html(html);
                };
            });
        }

        function AddNewMovimient() {
            // Crea un nuevo movimiento
            $(".tabAddMovimientos").css("display", "none");
            var selectedFile = ($("#fileLoad"))[0].files[0];
            if (!selectedFile) {
                alert("No se ha seleccionado ningún archivo para subir !!" + selectedFile);
                return false;
            }

            var dataFile = new FormData();
            dataFile.append("fileLoad", selectedFile);
            dataFile.append("NormaID", $("#txtStandardID1").val());
            dataFile.append("Descripcion", $("#txtDescripcion").val());

            $.ajax({
                url: '@Url.Action("CreateMovimient","Movimientos")',
                type: "POST",
                data: dataFile,
                contentType: false,
                processData: false,
                async: false,
                success: function (response) {
                    $("#btnAddMovimient").hide();
                    $("#btnCanMovimient").hide();
                    $("#txtStandardID1").val("");
                    $("#txtDescripcion").val("");
                    $(".tabAddMovimientos").css("display", "none");
                    $("#addMovimient").show();
                    alert(response.mensaj);
                    //ShowMovimientos(ciclo);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

        function downLoadFile(url, fileName) {
            var anchor = document.createElement('a');
            anchor.style.display = "none";
            anchor.href = URL.createObjectURL(url);
            anchor.setAttribute("download", fileName);
            document.body.appendChild(anchor);
            anchor.click();
            window.URL.revokeObjectURL(anchor.href);
            document.body.removeChild(anchor);
        }

    </script>
}