@model WSafe.Web.Models.UnsafeactVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.FechaReporte)
        @Html.HiddenFor(model => model.MovimientID)
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.UserID)
        @Html.Partial("_EditUnsafeact")
    </div>

}

@section Scripts
{
    <script type="text/javascript">

        $('#categoria').click(function () {
            var selectedCategoria = $("#categoria").val();
            var peligroSelect = $('#peligro');
            peligroSelect.empty();
            if (selectedCategoria != null && selectedCategoria != '') {
                $.getJSON('@Url.Action("GetPeligros")', { ID: selectedCategoria }, function (peligros) {
                    if (peligros != null && !jQuery.isEmptyObject(peligros)) {
                        $.each(peligros, function (index, item) {
                            peligroSelect.append($('<option />',
                                {
                                    value: item.Value,
                                    text: item.Text
                                }));
                        });
                    };
                });
            }
        });

        function CancelRisk() {
            $(".tabEvalRiesgos").css("display", "none");
            $(".tabIncidents").css("display", "none");
        }

        function CancelInterven() {
            $(".tabAddInterven").css("display", "none");
        }

        function AddNewMovimient() {
            // Crea un nuevo movimiento
            var selectedFile = ($("#fileLoad"))[0].files[0];
            if (!selectedFile) {
                alert("No se ha seleccionado ningún archivo para subir !!" + selectedFile);
                return false;
            }

            var normaID = 57;
            var description = "Evidencia de actos y condiciones inseguras";
            var dataFile = new FormData();
            dataFile.append("fileLoad", selectedFile);
            dataFile.append("NormaID", normaID);
            dataFile.append("Descripcion", description);

            $.ajax({
                url: '@Url.Action("CreateMovimient","Movimientos")',
                type: "POST",
                data: dataFile,
                contentType: false,
                processData: false,
                async: false,
                success: function (response) {
                    $("#btnAddMovimient").hide();
                    $("#btnCanMovimient").hide();
                    alert(response.mensaj);
                    //ShowMovimientos(ciclo);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        }

    </script>
}
