@model WSafe.Domain.Data.Unsafeact

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="background-color:antiquewhite;width:50%">
    <hr />
    <h3>Desea borrar este acto o condición inseguro?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ZonaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZonaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProcesoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProcesoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActividadID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActividadID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TareaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TareaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rutinaria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rutinaria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaReporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaReporte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Antecedentes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Antecedentes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAntecedente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAntecedente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoriaPeligroID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoriaPeligroID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PeligroID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PeligroID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProbableConsecuencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProbableConsecuencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recomendations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recomendations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker1ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker1ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Worker2ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker2ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" />
            @Html.ActionLink("Listado", "Index", new { @class = "glyphicon glyphicon-plus" },
            new { @class = "btn btn-info" })
        </div>
    }
</div>
