@model IEnumerable<WSafe.Web.Models.UnsafeactsListVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = Request.Url.ToString();
    Uri uri = new Uri(url);
    string origen = uri.GetLeftPart(UriPartial.Authority);
}

<h4>GESTIÓN ACTOS Y CONDICIONES INSEGURAS: @Session["organization"].ToString().Trim()</h4>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.ActionLink("Nuevo Acto inseguro", "Create", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus" })
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        NÚMERO TRABAJADORES: @Session["numeroTrabajadores"].ToString().Trim()
    </div>
    <div class="col-md-4">
        HORARIO DE TRABAJO: @Session["turnoOperativo"].ToString().Trim()
    </div>
    <div class="col-md-4">
        <input type="search" id="myInput" placeholder="Escriba un nombre de elemento para filtrar" style="width:100%">
    </div>
</div>

<br />

<div class="table-responsive">

    <table class="table table-bordered">
        <tr style="background-color:gainsboro">
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antecedentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAntecedente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaPeligro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peligro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProbableConsecuencia)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var fileUrl = origen + item.FileName;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Zona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Antecedentes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAntecedente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaPeligro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peligro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProbableConsecuencia)
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "glyphicon glyphicon-trash" })
                    <a href="@fileUrl"><span class="glyphicon glyphicon-camera"></span></a>
                    <a href="#" onclick="CreateRisk('@item.ID')"><span class="glyphicon glyphicon-upload"></span></a>
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts
{

    <script type="text/javascript">

        $('#categoria').click(function () {
            var selectedCategoria = $("#categoria").val();
            var peligroSelect = $('#peligro');
            peligroSelect.empty();
            if (selectedCategoria != null && selectedCategoria != '') {
                $.getJSON('@Url.Action("GetPeligros")', { ID: selectedCategoria }, function (peligros) {
                    if (peligros != null && !jQuery.isEmptyObject(peligros)) {
                        $.each(peligros, function (index, item) {
                            peligroSelect.append($('<option />',
                                {
                                    value: item.Value,
                                    text: item.Text
                                }));
                        });
                    };
                });
            }
        });

    </script>

}
