@model IEnumerable<WSafe.Domain.Models.UnsafeactsListVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = Request.Url.ToString();
    Uri uri = new Uri(url);
    string origen = uri.GetLeftPart(UriPartial.Authority);
}

<style>

    .tabConsActions {
        display: none
    }

    .centerText {
        text-align: center;
    }
</style>

@Html.Partial("_PageHead")

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            @Html.ActionLink(" Actos y condiciones inseguras", "Create", null, new { @class = "btn btn-info btn-lg active glyphicon glyphicon-plus" })
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                @Html.DisplayNameFor(model => model.Zona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antecedentes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAntecedente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaPeligro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peligro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProbableConsecuencia)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            var fileUrl = origen + item.FileName;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Zona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Proceso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Actividad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tarea)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Antecedentes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAntecedente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaPeligro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peligro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProbableConsecuencia)
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit", @title = "Actualizar" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Delete", new { id = item.ID }, new { @class = "fas fa-trash", @title = "Descartar" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    <a href="@fileUrl" title="Visualizar"><span class="fas fa-camera"></span></a>
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    <a href="#" title="Gestionar riesgo" onclick="CreateRisk('@item.ID')"><span class="fas fa-plus"></span></a>
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts
{

    <script type="text/javascript">

        $('#categoria').click(function () {
            var selectedCategoria = $("#categoria").val();
            var peligroSelect = $('#peligro');
            peligroSelect.empty();
            if (selectedCategoria != null && selectedCategoria != '') {
                $.getJSON('@Url.Action("GetPeligros")', { ID: selectedCategoria }, function (peligros) {
                    if (peligros != null && !jQuery.isEmptyObject(peligros)) {
                        $.each(peligros, function (index, item) {
                            peligroSelect.append($('<option />',
                                {
                                    value: item.Value,
                                    text: item.Text
                                }));
                        });
                    };
                });
            }
        });

    </script>

}
