@model IEnumerable<WSafe.Web.Models.ListCapacitationVM>

@{
    ViewBag.Title = "Sistema de Gestión de Seguridad y Salud en el Trabajo";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/Scripts/RiesgosGestor.js")
@Scripts.Render("~/Scripts/AuditsGestor.js")
@Scripts.Render("~/Scripts/CapacitationsGestor.js")

@Html.Partial("_CabezoteFormat")

<hr class="mt-4">
<div class="container">
    <table class="table table-bordered table-hover">
        <tr style="background-color:gainsboro">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eficacia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eficiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Efectividad)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resources)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eficacia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eficiencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Efectividad)
                </td>
            </tr>

        }

    </table>

</div>

<hr class="mt-4">
<div>
    <div class="container">
        <div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
            <table class="table table-bordered">
                <tr style="background-color:gainsboro; width:auto">
                    <th>
                        INDICADORES
                    </th>
                    <th>
                        ENERO
                    </th>
                    <th>
                        FEBRERO
                    </th>
                    <th>
                        MARZO
                    </th>
                    <th>
                        ABRIL
                    </th>
                    <th>
                        MAYO
                    </th>
                    <th>
                        JUNIO
                    </th>
                    <th>
                        JULIO
                    </th>
                    <th>
                        AGOSTO
                    </th>
                    <th>
                        SEPTIEMBRE
                    </th>
                    <th>
                        OCTUBRE
                    </th>
                    <th>
                        NOVIEMBRE
                    </th>
                    <th>
                        DICIEMBRE
                    </th>
                </tr>
                <tbody class="cronograma1Body"></tbody>
            </table>
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="container" style="margin-left:6%">
    <div class="row">
        <div class="col-md-4">
            <div><canvas id="capacitationEficacia" width="400" height="400"></canvas></div>
        </div>
        <div class="col-md-4">
            <div><canvas id="capacitationEficiencia" width="400" height="400"></canvas></div>
        </div>
        <div class="col-md-4">
            <div><canvas id="capacitationEfectividad" width="400" height="400"></canvas></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - FLPCSoft</p>
    </footer>
</div>
