@model WSafe.Domain.Models.CreateCapacitationVM

@{
    ViewBag.Title = "Create";
}

<style>

    .tabAnnualPlan, .tabAddSigue, tabTraining {
        display: none;
    }

    .centerText {
        text-align: center
    }
</style>

@using (Html.BeginForm("Create", "Capacitations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.UserID)

        @Html.Partial("_EditCapacitation")

    </div>
}

@section Scripts
{
    <script type="text/javascript">
        $('#trainingID').change(function () {
            getTrainingTopic();
        });
        $(document).ready(function () {
            $('#btnAddTraining').click(function () {
                $(".tabNewTopic").css("display", "block");
            });
        });
    </script>
}

