@model WSafe.Web.Models.CreateCapacitationVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model.ID;
}

<style>

    .tabCapacitation, .tabAddSigue, .tabSigueCapacitation {
        display: none;
    }

    .centerText {
        text-align: center
    }
</style>

@using (Html.BeginForm("EDit", "Capacitations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.UserID)

        @Html.Partial("_EditCapacitation")
    </div>

}

@section Scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnCanTraceability').click(function () {
                $('.tabAddSigue').css("display", "none");
                $('#btnAddTraceability').hide();
                $('#btnUpdTraceability').hide();
            });
            $('#addTraceabilityID').click(function () {
                $('.tabAddSigue').css("display", "block");
                $('#dateSigue').focus();
                $('#btnAddTraceability').show();
                $('#btnUpdTraceability').hide();
            });
            $('#dateSigue').click(function () {
                var dateInput = $('#dateSigue').val(); // Obtener el valor del campo de fecha
                var dateControl = $('#dateControl').val(); // Obtener el valor del campo de fecha
                var fecha = Date.parse(dateInput);
                var fechaFin = Date.parse(dateControl);
                if (fecha.getTime() > fechaFin.getTime() || isNaN(fechaFin.getTime())) {
                    return false;
                };
            });
        });

    </script>

}
