@model IEnumerable<WSafe.Web.Models.ListCapacitationVM>

@{
    ViewBag.Title = "Index";
}

<style>

    .tabConsActions, .tabCronograma {
        display: none
    }

    .centerText {
        text-align: center;
    }

    #trabajador {
        background-color: forestgreen;
        color: white;
        padding: 10px;
        border: 1px solid #000000;
        text-align: center;
        margin: 0;
    }
</style>

<h4 class="centerText"> PROGRAMA DE CAPACITACIÓN SEGURIDAD Y SALUD EN EL TRABAJO: @Session["organization"].ToString().Trim()</h4>
@Html.Partial("_PageHead")
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12">
            <a href="@Url.Action("Create", "Capacitations")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-tasks"></span> Crear nueva capacitación
            </a>
            <a href="@Url.Action("Create", "Acciones")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-adjust"></span> Crear nueva acción
            </a>
            <a href="@Url.Action("OccupationalsPdf", "Occupationals")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-download"></span> Generar matriz de capacitaciones
            </a>
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Objetive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resources)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eficacia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Eficiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Efectividad)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Objetive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resources)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eficacia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eficiencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Efectividad)
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    <a href="#" title="Seguimientos" onclick="mostrarSeguimientos('@item.ID');">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @title = "Actualizar" })
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    <a href="#" title="Descartar" onclick="deleteCapacitation('@item.ID')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>

        }

    </table>

</div>

<hr class="mt-4">
<div>
    <div class="container">
        <div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
            <table class="table table-bordered">
                <tr style="background-color:gainsboro; width:auto">
                    <th>
                        INDICADORES
                    </th>
                    <th>
                        ENERO
                    </th>
                    <th>
                        FEBRERO
                    </th>
                    <th>
                        MARZO
                    </th>
                    <th>
                        ABRIL
                    </th>
                    <th>
                        MAYO
                    </th>
                    <th>
                        JUNIO
                    </th>
                    <th>
                        JULIO
                    </th>
                    <th>
                        AGOSTO
                    </th>
                    <th>
                        SEPTIEMBRE
                    </th>
                    <th>
                        OCTUBRE
                    </th>
                    <th>
                        NOVIEMBRE
                    </th>
                    <th>
                        DICIEMBRE
                    </th>
                </tr>
                <tbody class="cronogramaBody"></tbody>
            </table>
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="container" style="margin-left:6%">
    <div class="row">
        <div class="col-md-4">
            <div><canvas id="capacitationEficacia" width="400" height="400"></canvas></div>
        </div>
        <div class="col-md-4">
            <div><canvas id="capacitationEficiencia" width="400" height="400"></canvas></div>
        </div>
        <div class="col-md-4">
            <div><canvas id="capacitationEfectividad" width="400" height="400"></canvas></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script type="text/javascript">

        ShowSchedule();
        chartCapacitations();

        $(document).ready(function () {
        });

    </script>
}
