@{
    var title = "GESTIÓN AUTORIZACIONES";
    var roles = ViewBag.roles;
}
<style>
    .tabGesRoles, .tabGesAuthorize, .tabAddRoles, .tabAddAuthorize
    {
        display: none;
    }
</style>

<hr />
<hr />
<h4>@title</h4>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-info" id="roles" title="doble click para cerrar la ventana">ROLES</button>
        <button type="button" class="btn btn-info" id="authorize" title="doble click para cerrar la ventana">AUTORIZACIONES</button>
    </div>
    <div class="col-md-8">
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="tabGesRoles">
        <hr />
        @Html.Partial("_ShowRoles")
    </div>

    <div class="tabAddRoles">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group" style="font-size:18px;width:auto">
                    <label>Roles : </label>
                    @Html.DropDownList("Roles", roles as IEnumerable<SelectListItem>, new { @class = "form-control", @id = "txtRolID" })
                </div>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <hr />
                <button type="button" id="btnAddRole" class="btn btn-primary" onclick="AddRole()">Adicionar</button>
                <button type="button" id="btnCanRole" class="btn btn-primary" onclick="CancelRole()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesAuthorize">
        <hr />
        @Html.Partial("_ShowAuthorize")
    </div>

    <div class="tabAddAuthorize">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="font-size:18px;width:auto">
                    <label>Rol : </label>
                    <input type="text" id="txtRoleID" name="txtRoleID" placeholder="Ingrese nombre del rol"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="font-size:18px;width:auto">
                    <label>Componente : </label>
                    <select id="txtComponent">
                        <option value="1">Organización</option>
                        <option value="2">Riesgos</option>
                        <option value="3">Incidentes</option>
                        <option value="4">Acciones</option>
                        <option value="5">Indicadores</option>
                        <option value="6">Usuarios</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" style="font-size:18px;width:auto">
                    <label>Acción : </label>
                    <select id="txtOperation">
                        <option value="1">Consultar</option>
                        <option value="2">Adicionar</option>
                        <option value="3">Modificar</option>
                        <option value="4">Borrar</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <hr />
                <button type="button" id="btnAddAthorize" class="btn btn-primary" onclick="AddAuthorization()">Adicionar</button>
                <button type="button" id="btnCanAuthorize" class="btn btn-primary" onclick="CancelAuthorize()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

</div>
}

<hr />
<div>
    <div class="tabCerrar">
        @Html.ActionLink("Cerrar", "Index", "Home", new { @class = "glyphicon glyphicon-arrow-left" },
        new { @class = "btn btn-success btn-lg active" })
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        function CancelRole() {
            $(".tabAddRoles").css("display", "none");
            $("#txtName").val("");
        }

        function CancelAuthorize() {
            $(".tabAddRoles").css("display", "none");
            $("#txtName").val("");
        }

        $(document).ready(function () {
            ClearTextBox();
            GestorAuthorization();
        });

    </script>
}