@model WSafe.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
    var message = "";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

<script src="~/Scripts/GestorRiesgosSST.js" type="text/javascript"></script>

<style>
    .login {
        background-color: Highlight;
        color: white;
        font-size: 20px;
        width: auto;
        height: auto;
        padding: 20px;
        text-align: center;
        font-family: Arial;
    }
</style>

<hr />
<hr />
<h2 class="login">Favor ingresa tu cuenta de usuario</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @placeholder = "Ingresa nombre de usuario" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "txtEmail", @placeholder = "Ingresa correo electrónico" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder = "Ingresa contraseña"/>
            </div>
        </div>
        <hr />
        <div class="form-group">
            @if (message != "")
            {
                <div class="alert alert-danger" role="alert">
                    @message
                </div>
            }
        </div>
        <hr />

        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <button type="button" class="btn btn-success" onclick="LoginUser()">Iniciar nueva sesión</button>
                <button type="button" class="btn btn-success" onclick="AddUser()">Registrar nuevo usuario</button>
            </div>
        </div>
    </div>
}

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - FLPCSoft, WSafe</p>
    </footer>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
}
