@model WSafe.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<style>

    .tabMessage {
        display: none;
    }

</style>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="~/Content/login-style.css">-->

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobtrusive")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/GestorRiesgosSST.js" type="text/javascript"></script>
    <script src="~/Scripts/AuditsGestor.js" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm(FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container login-container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="panel-heading">
                        <p class="panel-title text-center">
                            <strong>WSafe plataforma digital para apoyar a las empresas a mejorar la seguridad y la salud en el lugar de trabajo y cumplir con las reglamentaciones pertinentes.</strong>
                        </p>
                    </div>
                </div>
                <div class="col-md-4 offset-md-4">
                    <img src="~/Images/wsafe.jpg" alt="WSafe Logo" class="avatar img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <i class="fa fa-users"></i>
                        <label for="txtName">Usuario</label><br>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "txtName", @placeholder = "Ingresa nombre de usuario", autofocus = true } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <label for="">Correo</label><br>
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id = "txtEmail", @placeholder = "Ingresa correo electrónico" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <i class="fa fa-key"></i>
                        <label for="">Contraseña</label><br>
                        <div class="col-md-12">
                            <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder="Ingresa contraseña" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabClients">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <i class="fa fa-landmark"></i>
                            <label for="">Consultoría</label><br>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.ClientID, Model.Clients, new { @class = "form-control", @id = "clientID" })
                                @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabOrganization">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <i class="fa fa-landmark"></i>
                            <label for="">Organización</label><br>
                            <div class="col-md-12">
                                <select name="orgID" class="form-control form-control-lg" id="orgID">
                                    <option selected="selected" value="0">Seleccione una organización ...</option>
                                </select>
                                <span class="field-validation-valid text-danger" data-valmsg-replace="true" data-valmsg-for="orgID"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tabMessage">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        <p id="txtLogin" style="color:red; text-align:center; padding:1%"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <br /><button type="button" class="btn btn-info btn-lg btn-block" onclick="AddUser()">Registrar usuario</button>
                    <button type="button" class="btn btn-info btn-lg btn-block" onclick="LoginUser()">Iniciar sesión</button>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    }

    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FLPCSoft, WSafe</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/bootstrap-table/bootstrap-table.min.js")
    @Scripts.Render("~/Scripts/GestorRiesgosSST.js")
    @Scripts.Render("~/Scripts/AuditsGestor.js")

</body>
</html>
