@model WSafe.Domain.Models.CreatePlanActivityVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .tabAnnualPlan, .tabAddSigue {
        display: none;
    }

    .centerText {
        text-align: center
    }
    .tabAddSigue {
        display: none;
    }

</style>

@using (Html.BeginForm("Edit", "AnnualPlans", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.UserID)
        @Html.HiddenFor(model => model.Executed)

        @Html.Partial("_EditAnnualPlan")


    </div>

}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnCanTraceability').click(function () {
                $('.tabAddSigue').css("display", "none");
                $('#btnAddTraceability').hide();
                $('#btnUpdTraceability').hide();
            });
            $('#addTraceabilityID').click(function () {
                $('.tabAddSigue').css("display", "block");
                $('#dateSigue').focus();
                $('#btnAddTraceability').show();
                $('#btnUpdTraceability').hide();
            });
            $('#dateSigue').click(function () {
                var dateInput = $('#dateSigue').val(); // Obtener el valor del campo de fecha
                var dateControl = $('#dateControl').val(); // Obtener el valor del campo de fecha
                var fecha = Date.parse(dateInput);
                var fechaFin = Date.parse(dateControl);
                if (fecha.getTime() > fechaFin.getTime() || isNaN(fechaFin.getTime())) {
                    return false;
                };
            });
        });

</script>

}
