@model IEnumerable<WSafe.Web.Models.AnnualPlanVM>

@{
    ViewBag.Title = "Index";
    var year = @Session["year"].ToString().Trim();
}

<style>

    .tabConsActions {
        display: none
    }

    .centerText {
        text-align: center;
    }
</style>

<h4 class="centerText">GESTIÓN PLAN DE TRABAJO ANUAL: @Session["organization"].ToString().Trim()</h4>
@Html.Partial("_PageHead")

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12">
            <a href="@Url.Action("Create", "AnnualPlans")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-tasks"></span> Crear nueva actividad
            </a>
            <a href="@Url.Action("Create", "Acciones")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-adjust"></span> Crear nueva acción
            </a>
            <a href="@Url.Action("AnnualPlansPdf", "AnnualPlans")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-download"></span> Generar plan anual de trabajo
            </a>
            <button type="button" id="btnAnnualPlan" class="btn btn-success btn-lg active" onclick="chartAnnualPlan(@year)">
                <span class="glyphicon glyphicon-picture"></span> Graficar plan de trabajo anual
            </button>
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                @Html.DisplayNameFor(model => model.Cycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Entregables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recursos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Responsable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateActivity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Programed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Executed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentajeCumplimiento)
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cycle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Entregables)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recursos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Responsable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateActivity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Programed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Executed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PorcentajeCumplimiento)
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @title = "Actualizar" })
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    <a href="#" title="Descartar" onclick="deleteActivityPlan('@item.ID')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>

            </tr>
        }

    </table>
</div>
<hr class="mt-4">
<div class="container" style="margin-left:6%">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="annualPlanActivities" width="800" height="800"></canvas></div>
        </div>
    </div>
</div>