@model WSafe.Web.Models.IndicadorViewModel

@{
    var titulo = ViewBag.Titulo;
    var image = Model.Imagen;
    var periodo = ViewBag.txtPeriodo;
    var year = ViewBag.Year;
    var ahora = DateTime.Now;
    var nombre = Model.Nombre;
    var file = nombre.Replace(" ", String.Empty).ToUpper() + ".PDF";
    var id = ViewBag.id;
    Layout = null;

}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

@Html.Partial("_CabezoteFormat")

<hr class="mt-4">
<div class="container">
    <hr class="mt-4">
    <div class="form-group">
        <label>FECHA REPORTE : @ahora</label>
        <label>PERIODO : @periodo AÑO : @year</label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-3"})
                <div class="col-md-9 col-sm-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger"})
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Definicion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Definicion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Definicion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Formula, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Formula, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Formula, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Interpretacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Interpretacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Interpretacion, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(model => model.Periodicidad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Periodicidad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Periodicidad, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="mt-4">
<div style="display:inline-flex">

    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Periodo
                    </th>
                    <th>
                        Numerador
                    </th>
                    <th>
                        Denominador
                    </th>
                    <th>
                        Resultado
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.Datos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MesAnn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numerador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Denominador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resultado)
                    </td>
                </tr>
            }
        </table>
    </div>

    <div>
        <img src="@Url.Content(@image)" alt="Sample Image" width="500" />
    </div>

</div>