@model WSafe.Domain.Models.IndicadorViewModel

@{
    var titulo = ViewBag.Titulo;
    var image = Model.Imagen;
    var periodo = ViewBag.txtPeriodo;
    var year = ViewBag.Year;
    var ahora = DateTime.Now;
    var nombre = Model.Nombre;
    var file = nombre.Replace(" ", String.Empty).ToUpper() + ".PDF";
    var id = ViewBag.id;
    Layout = null;
    string signatureResponsable = Session["signatureResponsable"] as string;
    string imageUrl1 = string.IsNullOrEmpty(signatureResponsable) ? string.Empty : $"data:image/png;base64,{signatureResponsable}";
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

@Html.Partial("_CabezoteFormat")

<div class="container">
    <hr class="mt-4">
    <div style="text-align:center; background-color:grey">
        <p>
            <strong><b>FECHA REPORTE : @ahora</b></strong>
        </p>
        <p>
            <strong><b>PERIODO: @periodo  AÑO: @year</b></strong>
        </p>
    </div>
    <div style="display:inline-flex">
        <p>
            Nombre: <strong><b>@Html.DisplayFor(model => model.Nombre)</b></strong>
        </p>
        <p>
            Definición: <strong><b>@Html.DisplayFor(model => model.Definicion)</b></strong>
        </p>
        <p>
            Formula: <strong><b>@Html.DisplayFor(model => model.Formula)</b></strong>
        </p>
        <p>
            Interpretación: <strong><b>@Html.DisplayFor(model => model.Interpretacion)</b></strong>
        </p>
        <p>
            Periodicidad: <strong><b>@Html.DisplayFor(model => model.Periodicidad)</b></strong>
        </p>
    </div>
</div>

<hr class="mt-4">
<div style="display:inline-flex">

    <div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Periodo
                    </th>
                    <th>
                        Numerador
                    </th>
                    <th>
                        Denominador
                    </th>
                    <th>
                        Resultado
                    </th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model.Datos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MesAnn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numerador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Denominador)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Resultado)
                    </td>
                </tr>
            }
        </table>
    </div>

    <hr class="mt-4">
    <div class="row">
        <div class="col-md-12">
            <img src="@Url.Content(@image)" alt="Sample Image" width="500" height="500" />
        </div>
    </div>

</div>

<div class="container">
    <hr />
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-5 text-center" style="padding: 20px; display: inline-flex">
            <div style="margin-bottom: -10px;">
                <img src="@imageUrl1" alt="Firma del Usuario" style="width: 200px; height: auto;" />
            </div>
            <div style="margin-top: 2px;">
                <strong>_____________________________</strong>
            </div>
            <div><strong>Firma del responsable del SG-SST</strong></div>
        </div>
    </div>
</div>

<div class="container body-content">
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - WSafeApp</p>
    </footer>
</div>
