@model WSafe.Web.Models.DashboardVM

@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var ahora = DateTime.Now.Year;
    var year = DateTime.Now.Year;

}

<style>

    .queryIncidents {
        display: none;
    }
</style>

<hr class="mt-4">
<h4 style="text-align:center"><strong>@Session["organization"].ToString().Trim()</strong></h4>
<hr class="mt-4">

<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-2">
            NÚMERO TRABAJADORES : @Session["numeroTrabajadores"].ToString().Trim()
        </div>
        <div class="col-md-2">
            CLASE RIESGO : @Session["riesgo"].ToString().Trim()
        </div>
        <div class="col-md-3">
            HORARIO : @Session["turnoOperativo"].ToString().Trim()
        </div>
        <div class="col-md-2">
            PERIODO : @Session["year"].ToString().Trim()
        </div>
        <div class="col-md-3">
            RESPONSABLE SG-SST : @Session["responsable"].ToString().Trim()
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-6">
            <a href="@Url.Action("Create", "Acciones")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-plus"></span> Crear una nueva acción
            </a>
            <a href="@Url.Action("Create", "Riesgos")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-plus"></span> Crear un nuevo riesgo
            </a>
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-control">
                <label>
                    PERIODO :
                    <input type="number" id="txtYear" name="txtYear" maxlength="4" min="2010" max="@ahora" value="@ahora" />
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success" onclick="getIndicators()"><i class="fa fa-search fa-fw"></i> BUSCAR</button>
        </div>
    </div>
</div>
<div class="queryIncidents">
    <div class="container" style="background-color: #D35400; color: #ffffff; font-size: 15px; padding: 15px ">
        <hr class="mt-4">
        <div class="row">
            <div class="col-md-3">
                <p id="accidentsProportion"></p>
            </div>
            <div class="col-md-3">
                <p id="accidents"></p>
            </div>
            <div class="col-md-3">
                <p id="incidents"></p>
            </div>
            <div class="col-md-3">
                <p id="ausentisms"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p id="mortality"></p>
            </div>
            <div class="col-md-2">
                <p id="mortalityProportion"></p>
            </div>
            <div class="col-md-4">
                <p id="minimalStandardsProportion"></p>
            </div>
            <div class="col-md-4">
                <p id="activitiesPlanProportion"></p>
            </div>
        </div>
    </div>
</div>
<hr class="mt-4">
<div class="container" style="margin-left:6%">
    <button type="button" id="btnFRecuencia" class="btn btn-success" onclick="frecuenciaAccidentalidad()"><i class="fa fa-search"></i> FRECUENCIA ACCIDENTALIDAD</button>
    @Html.ActionLink(" ", "PrintIndicatorToPdf", new { id = 1, year = year}, new { @class = "glyphicon glyphicon-download-alt", @title = "Descargar Pdf"})
    <button type="button" id="btnSeveridad" class="btn btn-success" onclick="severidadAccidentalidad()"><i class="fa fa-search"></i> SEVERIDAD ACCIDENTALIDAD</button>
    <button type="button" id="btnMortality" class="btn btn-success" onclick="mortalityProportion()"><i class="fa fa-search"></i> PROPORCIÓN AT MORTALES</button>
    <button type="button" id="btnPrevalence" class="btn btn-success" onclick="prevalenceIndicator()"><i class="fa fa-search"></i> PREVALENCIA ENFERMEDAD LABORAL</button>
    <hr class="mt-4">
    <button type="button" id="btnIncidencia" class="btn btn-success" onclick="incidenceIndicator()"><i class="fa fa-search"></i> INCIDENCIA ENFERMEDAD LABORAL</button>
    <button type="button" id="btnAusentismo" class="btn btn-success" onclick="ausentismoIndicator()"><i class="fa fa-search"></i> AUSENTISMO POR CAUSA MÉDICA</button>
    <button type="button" id="btnFactorRisk" class="btn btn-success" onclick="factorRisk()"><i class="fa fa-search"></i> FACTOR RIESGO OCUPACIONAL</button>
    <button type="button" id="btnProportionActions" class="btn btn-success" onclick="proportionActions()"><i class="fa fa-search"></i> PROPORCIÓN DE ACCIONES CPM</button>
    <hr class="mt-4">
    <button type="button" id="btnEscolaridad" class="btn btn-success" onclick="escolaridadIndicator()"><i class="fa fa-search"></i> ESCOLARIDAD</button>
    <button type="button" id="btnArea" class="btn btn-success" onclick="workAreaIndicator()"><i class="fa fa-search"></i> AREA DE TRABAJO</button>
    <button type="button" id="btnOcupacion" class="btn btn-success" onclick="ocupacionIndicator()"><i class="fa fa-search"></i> OCUPACIÓN</button>
    <button type="button" id="btnVinculacion" class="btn btn-success" onclick="tipoVinculacionIndicator()"><i class="fa fa-search"></i> TIPO VINCULACIÓN</button>
    <hr class="mt-4">
    <button type="button" id="btnestadoCivil" class="btn btn-success" onclick="estadoCivilIndicator()"><i class="fa fa-search"></i> ESTADO CIVIL</button>
    <button type="button" id="btntipoVivienda" class="btn btn-success" onclick="tipoViviendaIndicator()"><i class="fa fa-search"></i> TENENCIA VIVIENDA</button>
    <button type="button" id="btntipoJornada" class="btn btn-success" onclick="tipoJornadaIndicator()"><i class="fa fa-search"></i> TIPO JORNADA</button>
    <button type="button" id="btnnumeroHijos()" class="btn btn-success" onclick="numeroHijosIndicator()"><i class="fa fa-search"></i> NÚMERO HIJOS</button>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="atFrecuencia" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="atSeveridad" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="Mortality" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="Prevalence" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="Incidence" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="Ausentismo" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="FactorRisk" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="ProportionActions" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="Escolaridad" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="workArea" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="Ocupacion" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="Vinculación" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="estadoCivil" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="tipoVivienda" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="tipoJornada" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="numeroHijos" width="200" height="100"></canvas></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        year = $("#txtYear").val();
        var model = @Model;
        model.ID = 1;
        model.Year = year;
        model.Periodo = periodo;

        $.ajax({
            type: "GET",
            url: '@Url.Action("Details","Indicadores")' + model,
            dataType: "text",
            success: function (data) {
            },
            error: function (response) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    </script>
}