@model WSafe.Web.Models.DashboardVM
@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var ahora = DateTime.Now.Year;
}

<hr />
<hr />
<h4 style="text-align:center"><strong>@Session["organization"].ToString().Trim()</strong></h4>
<hr />
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-2">
            NÚMERO TRABAJADORES : @Session["numeroTrabajadores"].ToString().Trim()
        </div>
        <div class="col-md-2">
            CLASE RIESGO : @Session["riesgo"].ToString().Trim()
        </div>
        <div class="col-md-3">
            HORARIO : @Session["turnoOperativo"].ToString().Trim()
        </div>
        <div class="col-md-2">
            PERIODO : @Session["year"].ToString().Trim()
        </div>
        <div class="col-md-3">
            RESPONSABLE SG-SST : @Session["responsable"].ToString().Trim()
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="form-control">
        <label class="form-horizontal">
            SELECCIONE PERIODO :
            <input type="number" id="txtYear" name="year" maxlength="4" min="2010" max="@ahora" value="@ahora" />
        </label>
    </div>
</div>

<div class="container" style="background-color: #D35400; color: #ffffff; font-size: 15px; padding: 15px ">
    <hr />
    <div class="row">
        <div class="col-md-3">
            <p id="txtMortales"><strong>ACCIDENTALIDAD: @Model.AccidentsProportion</strong></p>
        </div>
        <div class="col-md-3">
            <p id="txtMortales"><strong>FRECUENCIA AT: @Model.Accidents</strong></p>
        </div>
        <div class="col-md-3">
            <p id="txtMortales"><strong>INCIDENTES: @Model.Incidents</strong></p>
        </div>
        <div class="col-md-3">
            <p id="txtMortales"><strong>AUSENTISMOS: @Model.Ausentisms DIAS</strong></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p id="txtMortales"><strong># MUERTES: @Model.Mortality</strong></p>
        </div>
        <div class="col-md-2">
            <p id="txtMortales"><strong>MORTALIDAD: @Model.MortalityProportion</strong></p>
        </div>
        <div class="col-md-4">
            <p id="txtMortales"><strong>CUMPLIMIENTO ESTÁNDARES: @Model.MinimalStandardsProportion</strong></p>
        </div>
        <div class="col-md-3">
            <p id="txtMortales"><strong>CUMPLIMIENTO PLAN ANUAL: @Model.ActivitiesPlanProportion</strong></p>
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            @Html.ActionLink("FRECUENCIA ACCIDENTALIDAD", "Details", "Indicadores", new { id = 1, year = ahora },
            new { @class = "btn btn-warning btn-lg active" });
        </div>
        <div class="col-md-4">
            @Html.ActionLink("SEVERIDAD ACCIDENTALIDAD", "Details", "Indicadores", new { id = 2, year = ahora },
            new { @class = "btn btn-warning btn-lg active" });
        </div>
        <div class="col-md-4">
            @Html.ActionLink("EFECTIVIDAD", "Details", "Indicadores", new { id = 2, year = ahora },
            new { @class = "btn btn-warning btn-lg active" });
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <button type="button" id="btnLoadEjecutadas" class="btn btn-info" onclick="ConsultarAccionesEjecutadas()"><i class="fa fa-search"></i> PROPORCIÓN ACCIONES EJECUTADAS</button>
        </div>
        <div class="col-md-4">
            <button type="button" id="btnLoadInfo" class="btn btn-success" onclick="ConsultarAccionesEfectivas()"><i class="fa fa-search"></i> PROPORCIÓN ACCIONES EFECTIVAS</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).on('click', '.frecuencia', function (e) {
            e.preventDefault();
            var year = $("#txtYear").val();
            var periodo = [];
            $("input[name='month']:checked").each(function () {
                periodo.push(this.value);
            });
            $("#txtPeriodo").val(Periodo);
        });

        var model = @Model;
        model.ID = 1;
        model.Year = year;
        model.Periodo = periodo;

        $.ajax({
            type: "GET",
            url: '@Url.Action("Details","Indicadores")' + model,
            dataType: "text",
            success: function (data) {
            },
            error: function (response) {
                alert(xhr.status);
                alert(thrownError);
            }
        });

    </script>
}