@model WSafe.Web.Models.DashboardVM
@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var ahora = DateTime.Now.Year;
}

<style>

    .queryIncidents {
        display: none;
    }
</style>
<hr />
<hr />
<h4 style="text-align:center"><strong>@Session["organization"].ToString().Trim()</strong></h4>
<hr />
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-2">
            NÚMERO TRABAJADORES : @Session["numeroTrabajadores"].ToString().Trim()
        </div>
        <div class="col-md-2">
            CLASE RIESGO : @Session["riesgo"].ToString().Trim()
        </div>
        <div class="col-md-3">
            HORARIO : @Session["turnoOperativo"].ToString().Trim()
        </div>
        <div class="col-md-2">
            PERIODO : @Session["year"].ToString().Trim()
        </div>
        <div class="col-md-3">
            RESPONSABLE SG-SST : @Session["responsable"].ToString().Trim()
        </div>
    </div>
</div>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="form-control">
                <label>
                    PERIODO :
                    <input type="number" id="txtYear" name="txtYear" maxlength="4" min="2010" max="@ahora" value="@ahora" />
                </label>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-success" onclick="getIndicators()"><i class="fa fa-search fa-fw"></i> BUSCAR</button>
        </div>
    </div>
</div>
<hr />

<div class="queryIncidents">
    <div class="container" style="background-color: #D35400; color: #ffffff; font-size: 15px; padding: 15px ">
        <hr />
        <div class="row">
            <div class="col-md-3">
                <p id="accidentsProportion"></p>
            </div>
            <div class="col-md-3">
                <p id="accidents"></p>
            </div>
            <div class="col-md-3">
                <p id="incidents"></p>
            </div>
            <div class="col-md-3">
                <p id="ausentisms"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p id="mortality"></p>
            </div>
            <div class="col-md-2">
                <p id="mortalityProportion"></p>
            </div>
            <div class="col-md-4">
                <p id="minimalStandardsProportion"></p>
            </div>
            <div class="col-md-4">
                <p id="activitiesPlanProportion"></p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="container" style="margin-left:6%">
    <button type="button" id="btnFRecuencia" class="btn btn-success" onclick="frecuenciaAccidentalidad()"><i class="fa fa-search"></i> FRECUENCIA ACCIDENTALIDAD</button>
    <button type="button" id="btnSeveridad" class="btn btn-success" onclick="severidadAccidentalidad()"><i class="fa fa-search"></i> SEVERIDAD ACCIDENTALIDAD</button>
    <button type="button" id="btnMortality" class="btn btn-success" onclick="mortalityProportion()"><i class="fa fa-search"></i> PROPORCIÓN AT MORTALES</button>
    <button type="button" id="btnFactorRisk" class="btn btn-success" onclick="factorRisk()"><i class="fa fa-search"></i> FACTOR RIESGO OCUPACIONAL</button>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="atFrecuencia" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="atSeveridad" width="200" height="100"></canvas></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <div><canvas id="Mortality" width="200" height="100"></canvas></div>
        </div>
        <div class="col-md-6">
            <div><canvas id="FactorRisk" width="200" height="100"></canvas></div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
/*
        $(document).on('click', '.frecuencia', function (e) {
            e.preventDefault();
            var year = $("#txtYear").val();
            var periodo = [];
            $("input[name='month']:checked").each(function () {
                periodo.push(this.value);
            });
            $("#txtPeriodo").val(Periodo);
        });
*/
        var model = @Model;
        model.ID = 1;
        model.Year = year;
        model.Periodo = periodo;

        $.ajax({
            type: "GET",
            url: '@Url.Action("Details","Indicadores")' + model,
            dataType: "text",
            success: function (data) {
            },
            error: function (response) {
                alert(xhr.status);
                alert(thrownError);
            }
        });
    </script>
}