@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    Layout = null;
    var ahora = DateTime.Now.Year;
    var proporcion = ViewBag.txtProporcion;
    var incidentes = ViewBag.txtIncidentes;
    var ausentismo = ViewBag.txtAusentismos;
    var mortales = ViewBag.txtMortales;
    var accidentes = ViewBag.txtAccidentes;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")

<div class="container">
    <hr />
    <h2 style="background-color:blue;color:white"><i class="fa fa-search" style="width:18px"></i>  Dashboard Indicadores y acciones</h2>
    <hr />
    <div class="form-control">
        <label class="form-horizontal">
            SELECCIONE PERIODO :
            <input type="number" id="txtYear" maxlength="4" min="2010" max="@ahora" value="@ahora" />
        </label>
    </div>
    <hr />
    <div style="display:inline; background-color:green; color: white; width:12px; padding:12px">
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri1"> ENERO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri2"> FEBREO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri3"> MARZO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri4"> ABRIL
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri5"> MAYO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri6"> JUNIO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri7"> JULIO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri8"> AGOSTO
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri9"> SEPTIEMBRE
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check1">
                <input type="checkbox" class="form-check-input" id="peri10"> OCTUBRE
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="check2">
                <input type="checkbox" class="form-check-input" id="peri11"> NOVIEMBRE
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="peri12"> DICIEMBRE
            </label><br /><br />
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row" style="background-color:grey; color:white ;font-size:15px; padding:15px">
        <div class="col-md-2">
            <p id="txtMortales">ACCIDENTES MORTALES : @mortales</p>
        </div>
        <div class="col-md-3">
            <p id="txtAccidentes">ACCIDENTES LABORALES : @accidentes</p>
        </div>
        <div class="col-md-2">
            <p id="txtProporcion">PROPORCIÓN ACCIDENTES MORTALES : @proporcion</p>
        </div>
        <div class="col-md-2">
            <p id="txtIncidentes">INCIDNENTES : @incidentes</p>
        </div>
        <div class="col-md-3">
            <p id="txtAusentismos">AUSENTISMO LABORAL : @ausentismo DIAS</p>
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <button type="button" id="btnLoadFrecuencia" class="btn btn-warning" onclick="ConsultarFrecuencia()"><i class="fa fa-search"></i> FRECUENCIA ACCIDENTALIDAD</button>
        </div>
        <div class="col-md-4">
            <button type="button" id="btnLoadSeveridad" class="btn btn-warning" onclick="ConsultarSeveridad()"><i class="fa fa-search"></i> SEVERIDAD ACCIDENTALIDAD</button>
        </div>
        <div class="col-md-4">
            <button type="button" id="btnLoadAccidentabilidad" class="btn btn-warning" onclick="ConsultarAccidentabilidad()"><i class="fa fa-search"></i> ACCIDENTABILIDAD</button>
        </div>
    </div>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-4">
            <button type="button" id="btnLoadEjecutadas" class="btn btn-info" onclick="ConsultarAccionesEjecutadas()"><i class="fa fa-search"></i> PROPORCIÓN ACCIONES EJECUTADAS</button>
        </div>
        <div class="col-md-4">
            <button type="button" id="btnLoadInfo" class="btn btn-success" onclick="ConsultarAccionesEfectivas()"><i class="fa fa-search"></i> PROPORCIÓN ACCIONES EFECTIVAS</button>
        </div>
    </div>
</div>