@model WSafe.Web.Models.CreateOccupationalVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = Model.ID;
}

<style>

    .tabAnnualPlan, .tabAddSigue, .tabSigueOccupational {
        display: none;
    }

    .centerText {
        text-align: center
    }

</style>

@using (Html.BeginForm("EDit", "Occupationals", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        @Html.HiddenFor(model => model.OrganizationID)
        @Html.HiddenFor(model => model.ClientID)
        @Html.HiddenFor(model => model.UserID)

        @Html.Partial("_EditOccupational")
    </div>

}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $('#btnCanTraceability').click(function () {
                $('.tabAddSigue').css("display", "none");
                $('#btnAddTraceability').hide();
                $('#btnUpdTraceability').hide();
            });
            $('#addTraceabilityID').click(function () {
                $('.tabAddSigue').css("display", "block");
                $('#dateSigue').focus();
                $('#btnAddTraceability').show();
                $('#btnUpdTraceability').hide();
            });
            $('#dateSigue').click(function () {
                var dateInput = $('#dateSigue').val(); // Obtener el valor del campo de fecha
                var dateControl = $('#dateControl').val(); // Obtener el valor del campo de fecha
                var fecha = Date.parse(dateInput);
                var fechaFin = Date.parse(dateControl);
                if (fecha.getTime() > fechaFin.getTime() || isNaN(fechaFin.getTime())) {
                    return false;
                };
            });
        });

        function mostrarSeguimientos(occupationalId) {
            $('#seguimientosBody').empty();
            var seguimientos = JSON.parse('@Html.Raw(Json.Encode(Model))');

            var seguimientosFiltrados = seguimientos.filter(function (detalle) {
                return detalle.ID == occupationalId;
            });

            if (seguimientosFiltrados.length > 0 && Array.isArray(seguimientosFiltrados[0].SigueOccupational)) {
                var seguimientosArray = seguimientosFiltrados[0].SigueOccupational;
                var trabajador = "TRAABAJADOR: " + seguimientosFiltrados[0].Document + " - " + seguimientosFiltrados[0].Trabajador + " - " + seguimientosFiltrados[0].Cargo;
                document.getElementById("trabajador").innerHTML = trabajador;

                for (var j = 0; j < seguimientosArray.length; j++) {
                    var detalle = seguimientosArray[j];
                    var sigueDate = moment(detalle.SigueDate);
                    var formattedDate = sigueDate.format('YYYY-MM-DD');

                    $('#seguimientosBody').append(`
                                <tr>
                                    <td>${formattedDate}</td>
                                    <td>${detalle.Resultado}</td>
                                    <td>${detalle.Recomendations}</td>
                                    <td style="margin:initial; background-color:deepskyblue; text-align:left">
                                        <a href="#" title="Cerrar" onclick="ocultarSeguimientos();">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </a>
                                    </td>
                                </tr>
                            `);
                }

                $('.tabSigueOccupational').css('display', 'block');
            } else {
                console.log("SigueOccupational no es un array o no está definido o los IDs no coinciden.");
            }
        }

        function ocultarSeguimientos() {
            // Oculta la tabla de seguimientos
            $('.tabSigueOccupational').css('display', 'none');
        }

    </script>

}
