@model IEnumerable<WSafe.Web.Models.MedicalRecomendationVM>

@{
    ViewBag.Title = "Index";
    var year = @Session["year"].ToString().Trim();
}

<style>

    .tabConsActions, .tabSigueOccupational {
        display: none
    }

    .centerText {
        text-align: center;
    }
</style>

<h4 class="centerText">SEGUIMIENTO A EVALUACIONES MÉDICAS OCUPACIONALES: @Session["organization"].ToString().Trim()</h4>
@Html.Partial("_PageHead")

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-12">
            <a href="@Url.Action("Create", "Occupationals")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-tasks"></span> Crear nueva evaluación
            </a>
            <a href="@Url.Action("Create", "Acciones")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-adjust"></span> Crear nueva acción
            </a>
            <a href="@Url.Action("OccupationalsPdf", "Occupationals")" class="btn btn-info btn-lg active">
                <span class="glyphicon glyphicon-download"></span> Generar matriz de seguimiento
            </a>
        </div>
    </div>
</div>

<hr class="mt-4">
<div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                @Html.DisplayNameFor(model => model.ExaminationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trabajador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Talla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExaminationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recomendations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalRecomendation)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ExaminationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trabajador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Talla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExaminationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Recomendations)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicalRecomendation)
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    <a href="#" title="Seguimientos" onclick="mostrarSeguimientos('@item.ID');">
                        <span class="glyphicon glyphicon-forward"></span>
                    </a>
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "glyphicon glyphicon-edit", @title = "Actualizar" })
                </td>
                <td style="margin:initial; background-color:deepskyblue; text-align:left">
                    <a href="#" title="Descartar" onclick="deleteOccupational('@item.ID')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>

        }

    </table>

</div>

<div class="tabSigueOccupational">
    <div class="table-responsive" style="background-color: azure; width:100%; margin-right:0px">
        <table class="table table-bordered">
            <tr style="background-color:gainsboro; width:auto">
                <th>
                    FECHA
                </th>
                <th>
                    RESULTADO
                </th>
                <th>
                    RECOMENDACIONES
                </th>
            </tr>

            <tbody id="seguimientosBody"></tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
        });

        function mostrarSeguimientos(occupationalId) {
            $('#seguimientosBody').empty();
            var seguimientos = JSON.parse('@Html.Raw(Json.Encode(Model))');

            if (seguimientos && Array.isArray(seguimientos.SigueOccupational)) {
                var seguimientosArray = seguimientos.SigueOccupational.slice();

                if (!seguimientosArray.length) {
                    console.log("Elemento no encontrado para ID:" + occupationalId);
                    return;
                }

                console.log("Elemento a iterar:", seguimientosArray);

                for (var j = 0; j < seguimientosArray.length; j++) {
                    var detalle = seguimientosArray[j];

                    $('#seguimientosBody').append(`
                        <tr>
                            <td>${detalle.SigueDate}</td>
                            <td>${detalle.Resultado}</td>
                            <td>${detalle.Recomendations}</td>
                            <td style="margin:initial; background-color:deepskyblue; text-align:left">
                                <div style="width: 100px; height: 30px;">
                                    <a href="#" title="Cerrar" onclick="ocultarSeguimientos();">
                                        <span class="glyphicon glyphicon-folder-close"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    `);
                }

                $('.tabSigueOccupational').css('display', 'block');
            } else {
                console.log("SigueOccupational no es un array o no está definido.");
            }
        }

        function ocultarSeguimientos() {
            // Oculta la tabla de seguimientos
            $('.tabSigueOccupational').css('display', 'none');
        }

    </script>
}
