@{
    var title = "GESTIONAR EVALUACIÓN DE ESTÁNDARES";
}

<style>
    .tabIdCausas, .tabGesPlanAcc, .tabGesSeguiPlanAcc, .tabPlanAcc, .tabSeguimAcc, .tabSeguimPlanAcc, .tabAddPlanAcc, .tabAddSeguimAcc,
    .tabGesCalifications, .tabAddCalifications, .tabGesCiclo, .tabGesEvaluation {
        display: none;
    }
</style>

<hr />
<hr />
<h4 style="text-align:center"><strong>@Session["organization"].ToString().Trim()</strong></h4>
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-3">
            <strong>EVALUACIÓN ESTÁNDARES MÍNIMOS</strong>
        </div>
        <div class="col-sm-3">
            NÚMERO TRABAJADORES : @Session["numeroTrabajadores"].ToString().Trim()
        </div>
        <div class="col-sm-2">
            CLASE RIESGO : @Session["riesgo"].ToString().Trim()
        </div>
        <div class="col-sm-4">
            <label for="txtMinimos">Estándares Mínimos para esta Empresa ? </label>
            <input type="radio" name="txtEstandares" id="txtMinimos" checked/><br />
            <label for="txtEstandares">Estándares Aplicables y No Aplicables ? </label>
            <input type="radio" name="txtEstandares" id="txtEstandares"/><br />
        </div>
    </div>
</div>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <input type="hidden" id="txtEvaluationID" name="txtEvaluationID" />

    <div class="pull-left">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="btnEvaluation" onclick="AddEvaluation()">CALIFICAR ESTÁNDARES</button>
            <button type="button" class="btn btn-secondary" id="showEvaluation" title="doble click para cerrar la ventana">RESULTADOS</button>
            <button type="button" class="btn btn-warning" id="btnShowPlanActivitys" title="doble click para cerrar la ventana">PLAN DE ACTIVIDADES</button>
        </div>
    </div>

    <div class="tabGesPlanAcc">
        <hr />
        <hr />
        @Html.Partial("_ShowPlanActivity")
    </div>

    <div class="tabGesCiclo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <br /><button type="button" class="btn btn-primary" id="planear" title="doble click para cerrar la ventana">1. PLANEAR</button>
                        <button type="button" class="btn btn-warning" id="hacer" title="doble click para cerrar la ventana">2. HACER</button>
                        <button type="button" class="btn btn-success" id="verificar" title="doble click para cerrar la ventana">3. VERIFICAR</button>
                        <button type="button" class="btn btn-info" id="actuar" title="doble click para cerrar la ventana">4. ACTUAR</button>
                        <button type="button" class="btn btn-secondary" id="calificar" onclick="UpdateEvaluation()">RESULTADOS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tabAddPlanAcc">
        @Html.Partial("_EditPlanActivity")
    </div>

    <div class="tabAddCalifications">
        <input type="hidden" id="txtCalificationID" name="txtCalificationID" />
        <input type="hidden" id="txtNormaID" name="txtNormaID" />
        <input type="hidden" id="txtValor" name="txtValor" />
        @Html.Partial("_EditCalification")
        <div class="row">
            <div class="col-md-8">
                <hr />
                <button type="button" id="btnUpdCalification" class="btn btn-primary" onclick="UpdateCalification()">Actualizar</button>
                <button type="button" id="btnCanCalification" class="btn btn-primary" onclick="CancelCalification()">
                    <span class="glyphicon glyphicon-chevron-left"></span> Cerrar
                </button>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>

    <div class="tabGesCalifications">
        @Html.Partial("_ShowCalifications")
    </div>

    <div class="tabGesEvaluation">
        @Html.Partial("_ShowEvaluation")
        <div class="row" style="text-align: center; background-color: mediumaquamarine">
            <div class="col-md-2">
                <p1 id="txtTotales"></p1>
            </div>
            <div class="col-md-2">
                <p2 id="txtCumple"></p2>
            </div>
            <div class="col-md-2">
                <p3 id="txtNoCumple"></p3>
            </div>
            <div class="col-md-2">
                <p4 id="txtNoAplica"></p4>
            </div>
            <div class="col-md-2" style="font-size:large">
                <p5 id="txtValoracion"></p5>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
}

@section Scripts
{
    <script type="text/javascript">
        var ciclo = "";
        var Item = "";
        var name = "";
        var evaluationID = $("#txtEvaluationID").val();
        var normaID = $("#txtNormaID").val();
        var valoration = $("#txtValor").val();
        GestorEvaluations();
        $(document).ready(function () {
        });
    </script>
}