@model WSafe.Web.Models.EvaluationVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EvaluationVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaEvaluation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaEvaluation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cumple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cumple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoCumple)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoCumple)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoAplica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoAplica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StandarsResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandarsResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AplicationsResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AplicationsResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activitys)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activitys)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ejecutadas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ejecutadas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
