@model IEnumerable<WSafe.Domain.Models.EvaluationVM>

@{
    ViewBag.Title = "Index";
}

<style>

    .tabConsActions {
        display: none
    }

    .centerText {
        text-align: center;
    }
</style>

@Html.Partial("_PageHead")

<div class="container-fluid">
    <div class="pull-left">
        @Html.ActionLink("Nueva Autoevaluación", "Create", new { @class = "glyphicon glyphicon-plus" },
        new { @class = "btn btn-primary" })
    </div>
</div>
<hr />

<div class="table-responsive" style="background-color: azure">

    <table class="table table-bordered">
        <tr style="background-color:gainsboro; width:auto">
            <th>
                @Html.DisplayNameFor(model => model.FechaEvaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cumple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoCumple)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoAplica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandarsResult)
            </th>
            <th style="width:18%">
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AplicationsResult)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activitys)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ejecutadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avance)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string strStyle = string.Empty;
            strStyle = "background-color:" + item.Color.Trim() + ";";
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaEvaluation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cumple)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoCumple)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoAplica)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StandarsResult)
                </td>
                <td style="@strStyle">
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AplicationsResult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activitys)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ejecutadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avance)
                </td>
                <td style="background-color:deepskyblue; text-align:left;">
                    @Html.ActionLink(" ", "Edit", new { id = item.ID }, new { @class = "fas fa-edit", @title = "Actualizar" })
                </td>
                <td style="background-color:deepskyblue; text-align:left">
                    <a href="#" onclick="DeleteEvaluation('@item.ID')" class="fas fa-trash" title="Descartar"></a>
                </td>
                <td style="background-color:deepskyblue; text-align:left;font-size:15px;display:flex">
                    @Html.ActionLink(" ", "GeneratePDF", new { id = item.ID }, new { @class = "fas fa-file-pdf", @title = "Generar PDF" }) |
                </td>
            </tr>
        }

    </table>
</div>