@model WSafe.Web.Models.AuditedCreateVM

@{
    var title = "GESTIONAR AUDITORIAS INTERNAS";
    var auditID = ViewBag.AuditID;
    var selectListItems = WSafe.Domain.Data.Entities.EnumHelper.GetEnumSelectList<WSafe.Domain.Data.Entities.AuditChapters>();
}

<style>

    .tabPrepare, .tabExecute, .tabReport, .tabActions, .tabSeguimient {
        display: none;
    }

    .centerText {
        text-align: center
    }
</style>

<div class="container">
    <h4 class="centerText">@title</h4>
    <hr />

    <div class="row justify-content-between">
        <div class="col-md-8">
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-lg" id="prepare" title="doble click para cerrar la ventana">
                    <i class="fa fa-list-check"></i> PREPARACIÓN
                </button>
                <button type="button" class="btn btn-success btn-lg" id="execute" title="doble click para cerrar la ventana" onclick="auditedResult()">
                    <i class="fa fa-tasks"></i> EJECUCIÓN
                </button>
                <button type="button" class="btn btn-success btn-lg" id="report" title="doble click para cerrar la ventana">
                    <i class="fa fa-file-chart-column"></i> INFORME
                </button>
                <button type="button" class="btn btn-success btn-lg" id="actions" title="doble click para cerrar la ventana">
                    <i class="fa fa-message-captions"></i> ACCIONES
                </button>
                <button type="button" class="btn btn-success btn-lg" id="seguimients" title="doble click para cerrar la ventana">
                    <i class="fa fa-user-magnifying-glass"></i> SEGUIMIENTO
                </button>
            </div>
        </div>
    </div>

</div>

@using (Html.BeginForm("Create", "Audits", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="auditID" name="auditID" value="@auditID"/>

        <div class="tabPrepare">
            @Html.Partial("_EditAudit")
        </div>

        <div class="tabExecute">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AuditChapter, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.AuditChapter, selectListItems, "Seleccione un capítulo", new { @class = "form-control", @id= "auditChapter"})
                                @Html.ValidationMessageFor(model => model.AuditChapter, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="auditContainer">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-info" id="asistent" title="Utiliza un asistente para diligenciar la auditoría" onclick="auditedAsistent()">
                            <i class="fa fa-life-ring"></i> Obtener asistencia
                        </button>
                      <button type="button" class="btn btn-success" id="saveAuditedResult" onclick="auditedSave()">
                            <i class="fa fa-save"></i> Guardar resultados
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        jQuery.noConflict();
        jQuery(document).ready(function ($) {

            if (@auditID > 0) {
                $("#btnSaveAudit").hide();
            } else {
                $("#btnSaveAudit").show();
            }

            $('#prepare').click(function () {
                $('.tabPrepare').css("display", "block");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "none");
            });

            $('#execute').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "block");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "none");
            });

            $('#report').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "block");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "none");
            });

            $('#actions').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "block");
                $('.tabSeguimient').css("display", "none");
            });

            $('#seguimients').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "block");
            });

        });

    </script>

}
