@model WSafe.Web.Models.AuditedCreateVM

@{
    var title = "GESTIONAR AUDITORIAS INTERNAS";
}

<style>

    .tabPrepare, .tabExecute, .tabReport, .tabActions, .tabSeguimient {
        display: none;
    }

    .centerText {
        text-align: center
    }
</style>

<div class="container">
    <h4 class="centerText">@title</h4>
    <hr />

    <div class="row justify-content-between">
        <div class="col-md-8">
            <div class="btn-group">
                <button type="button" class="btn btn-success btn-lg" id="prepare" title="doble click para cerrar la ventana">
                    <i class="fas fa-list-check"></i> PREPARACIÓN
                </button>
                <button type="button" class="btn btn-success btn-lg" id="execute" title="doble click para cerrar la ventana">
                    <i class="fas fa-tasks"></i> EJECUCIÓN
                </button>
                <button type="button" class="btn btn-success btn-lg" id="report" title="doble click para cerrar la ventana">
                    <i class="fas fa-file-chart-column"></i> INFORME
                </button>
                <button type="button" class="btn btn-success btn-lg" id="actions" title="doble click para cerrar la ventana">
                    <i class="fas fa-message-captions"></i> ACCIONES
                </button>
                <button type="button" class="btn btn-success btn-lg" id="seguimients" title="doble click para cerrar la ventana">
                    <i class="fas fa-user-magnifying-glass"></i> SEGUIMIENTO
                </button>
            </div>
        </div>
    </div>

</div>

@using (Html.BeginForm("Create", "Audits", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="tabPrepare">
            @Html.Partial("_EditAudit")
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        jQuery.noConflict();
        jQuery(document).ready(function ($) {

            $('#prepare').click(function () {
                $('.tabPrepare').css("display", "block");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "none");
            });

            $('#execute').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "block");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "none");
            });

            $('#report').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "block");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "none");
            });

            $('#actions').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "block");
                $('.tabSeguimient').css("display", "none");
            });

            $('#seguimients').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
                $('.tabSeguimient').css("display", "block");
            });

        });

    </script>

}
