@model WSafe.Web.Models.AuditedCreateVM

@{
    var title = "GESTIONAR AUDITORIAS INTERNAS";
    var auditID = ViewBag.AuditID;
    var selectListItems = WSafe.Domain.Data.Entities.EnumHelper.GetEnumSelectList<WSafe.Domain.Data.Entities.AuditChapters>();
}

<style>

    .tabPrepare, .tabExecute, .tabReport, .tabActions, .tabSeguimient, .tabGesPlanAcc, .tabAddPlanAcc, #saveAuditedResult
    {
        display: none;
    }

    .centerText {
        text-align: center
    }
</style>

<div class="container">
    <hr />
    <h4 class="centerText">@title</h4>
    <hr />

    <div class="row justify-content-between">
        <div class="col-md-10">
            <div class="btn-group">
                <button type="button" class="btn btn-info btn-lg mr-2" id="prepare" title="doble click para cerrar la ventana">
                    <i class="fas fa-list-check"></i> 1. PREPARACIÓN
                </button>
                <button type="button" class="btn btn-primary btn-lg mr-2" id="execute" title="doble click para cerrar la ventana">
                    <i class="fas fa-tasks"></i> 2. EJECUCIÓN
                </button>
                <button type="button" class="btn btn-secondary btn-lg mr-2" id="actions" title="doble click para cerrar la ventana">
                    <i class="far fa-message-captions"></i> 3. PLAN DE MEJORAMIENTO
                </button>
                <button type="button" class="btn btn-warning btn-lg mr-2" id="report" title="doble click para cerrar la ventana">
                    <i class="fa fa-file-chart-column"></i> 4. INFORME
                </button>
            </div>
        </div>
    </div>

    <div class="tabGesPlanAcc">
        <div class="container-fluid">
            @Html.Partial("_ShowPlanActivity")
        </div>
    </div>
    <div class="tabAddPlanAcc">
        <input type="hidden" id="txtPlanActivityID" name="txtPlanActivityID" />
        <input type="hidden" id="txtNoCumple" name="txtNoCumple"/>
        @Html.Partial("_EditPlanActivity")
    </div>

</div>

@using (Html.BeginForm("Create", "Audits", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" id="auditID" name="auditID" value="@auditID"/>

        <div class="tabPrepare">
            @Html.Partial("_EditAudit")
        </div>

        <div class="tabExecute">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <hr />
                            @Html.LabelFor(model => model.AuditChapter, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(model => model.AuditChapter, selectListItems, "Seleccione un capítulo", new { @class = "form-control", @id = "auditChapter" })
                                @Html.ValidationMessageFor(model => model.AuditChapter, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="auditContainer" style="display:inline-block; background-color:azure; font-size:17px; font-family:Georgia">
                    </div>
                </div>
                <div class="row">
                    <button type="button" class="btn btn-success" id="saveAuditedResult" onclick="auditedSave();">
                        <i class="fa fa-save"></i> Guardar resultados
                    </button>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        //$.ajaxSetup({ cache: false });
        //jQuery.noConflict();
        $(document).ready(function () {
            //$('[data-toggle="tooltip"]').tooltip();

            if (@auditID > 0) {
                $("#btnSaveAudit").hide();
            } else {
                $("#btnSaveAudit").show();
            }

            $('#prepare').click(function () {
                $('.tabPrepare').css("display", "block");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
            });

            $('#execute').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "block");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "none");
            });

            $('#report').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "block");
                $('.tabActions').css("display", "none");
            });

            $('#actions').click(function () {
                $('.tabPrepare').css("display", "none");
                $('.tabExecute').css("display", "none");
                $('.tabReport').css("display", "none");
                $('.tabActions').css("display", "block");
            });

            $('#auditChapter').change(function () {
                $('#saveAuditedResult').css("display", "block");
                auditedResult();

            });

            $(document).on('click', '#saveAuditedResult', function () {
                $('#saveAuditedResult').css("display", "none");
            });

            GestorEvaluations();

            var evaluationID = @auditID;
            var auditID = @auditID;

        });

    </script>

}
