@model IEnumerable<WSafe.Domain.Models.AuditedResultVM>

@{
    ViewBag.Title = "Sistema de Gestión de la Seguridad y Salud en el Trabajo";
    var fecha = DateTime.Today;
    Layout = null;
}

<style>

    .requisite-cell
    {
        white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    }

</style>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryunobtrusive")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/bootstrap")

@Html.Partial("_CabezoteFormat")

<div class="container" style="display:flex">
    <div>
        <p style="text-align:center; background-color:grey">
            <strong><b>REPORTE DE RESULTADOS DE LA AUDITORÍA INTERNA : @ViewBag.auditFecha</b></strong>
        </p>
        <p style="text-align:center">
            TRABAJADOR RESPONSABLE: @ViewBag.responsable                             PROCESO: @ViewBag.process
        </p>
    </div>
</div>

<div>
    <p style="text-align:center; background-color:grey">
        <strong><b>REQUISITOS DEL SISTEMA DE GESTIÓN DE LA SEGURIDAD Y SALUD EN EL TRABAJO    | NC |   | CP |  | CYD |</b></strong>
    </p>
    <p style="text-align:center; background-color:grey">
        <strong><b>| NC: NO CUMPLE |    | CP: CUMPLE PARCIALMENTE |     | CYD: CUMPLE Y DOCUMENTA |</b></strong>
    </p>
</div>

<div class="container">

    @foreach (var item in Model)
    {
        if (item.OrderResult == 1)
        {
            <div>
                <p style="text-align:center; background-color:grey">
                    <strong><b> @Html.DisplayFor(modelItem => item.Chapter) </b></strong>
                </p>
                <p></p>
            </div>
            <div>
                <p style="text-align:center">
                    <strong><b> @Html.DisplayFor(modelItem => item.Requisite):</b></strong>
                </p>
            </div>
        }

        <table class="table table-bordered table-hover">
            <tbody class="tbody">
                <tr>
                    <td class="requisite-cell">
                        @{
                            var requisiteItem = Html.DisplayFor(modelItem => item.RequisiteItem).ToString().Trim();
                            var calification = Html.DisplayFor(modelItem => item.Calification).ToString();

                            if (requisiteItem.Length > 176)
                            {
                                requisiteItem = requisiteItem.Substring(0, 176);
                            }

                            @Html.Raw(requisiteItem)  <strong><b>@calification</b></strong>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    }
</div>

<div class="container">
    <div>
        <p style="text-align:center; background-color:grey">
            AUDITOR: @ViewBag.auditer
        </p>
    </div>
</div>
